openapi: 3.0.1
info:
  title: Confirmation of Funds API Specification - UK
  description: "## Functionality at a glance\r\n\r\nThe NBG \"UK OPB - Confirmation of Funds v3.1.5\" API follows the [UK Open Banking Specification\r\n    v3.1.5](https://openbankinguk.github.io/read-write-api-site3/v3.1.5/profiles/confirmation-of-funds-api-profile.html)\r\n\r\nThis Confirmation of Funds API Specification describes the flows and payloads for validating if an account has enough balance for a Card Based Payment.\r\n\r\nThe API endpoints described here allow a Card Based Payment Instrument Issuer ('CBPII') to:\r\n\r\n1. Register an intent to confirm funds by creating a \"funds confirmation consent\" resource with an ASPSP\r\n2. Confirm funds are available to perform a payment\r\n\r\n<br/>\r\n\r\n## Quick Getting Started\r\n\r\n\r\n1. **Login/Register** to the NBG Technology HUB\r\n\r\n2. Go to **\"APPS\"**\r\n\r\n3. Select your Organization and go to step 4. If you want to create a new Organization click **\\\"CREATE AN ORGANIZATION\\\"** and follow the steps below:\r\n\t1. Enter the title of your Organization\r\n\t2. Enter a short description of your Organization (optional)\r\n\t3. Click **\"SUBMIT\"**\r\n\r\n4. Select the Organization of choice and click **\"ADD AN APPLICATION\"** \r\n\t  1. Fill in the forms (title and short description)\r\n\t  2. Check **\\\"Authorization Code\\\" and \\\"Client Credentials\\\"** \r\n\t  3. Enter the **OAuth Redirect and Post Logout URIs** (these are the URIs that we will redirect the user upon logging in and logging out respectively)\r\n\t\t  \r\n\t\t  You can use the following redirect URL to easily test the API through the portal: *https://developer.nbg.gr/oauth2/redoc-callback*\r\n\t  4. Click **\"SUBMIT\"**\r\n\t  5. Store the APPs **\"Client ID\"** and **\"Client Secret\"**\r\n5. Go to **\"API PRODUCTS\"** and select the **CONFIRMATION OF FUNDS - UK OPEN BANKING API**\r\n\r\n6. Click **\\\"START USING THIS API\\\"**, choose your app and click\r\n**\"SUBSCRIBE\"**\r\n\r\n7. Get an Access Token using the Access Token Flow and the API scopes provided in the Authentication and Authorization (OAuth2) section below\r\n\r\n8. Create a Sandbox\r\n\r\n9. Play with the API\r\n\r\n<br/>\r\n\r\n### Sandbox Flow\r\n\r\nThe Sandbox Flow matches the Production Flow. The difference lies into the Data used. Instead of live\r\ndata, the Sandbox flow uses mocked data.\r\n\r\n\r\n### Production Flow  \r\n\r\nThe Production Flow is described in the [UK Open Banking v3.1.5\r\nSpecification](https://openbankinguk.github.io/read-write-api-site3/v3.1.5/profiles/confirmation-of-funds-api-profile.html)\r\n\r\n\r\n<br/>\r\n\r\n## Authentication and Authorization (OAuth2)\r\n\r\nThis API version uses the OAuth2 protocol for authentication and authorization, which means that a\r\nBearer (access token) should be acquired. An access token can be retrieved using the client_id and\r\nclient_secret of the APP that you created and subscribed in this API, and your own credentials\r\n(username, password) that you use to sign in the NBG Technology HUB. The scopes are defined below:\r\n\r\n\r\n**Authorization Endpoint:** \r\n\r\n\t\thttps://my.nbg.gr/identity/connect/authorize\r\n\r\n**Token Endpoint:** \r\n\r\n\t\thttps://my.nbg.gr/identity/connect/token\r\n\r\n### Authorization Code ###\r\n\r\n**Sandbox Scopes:** \r\n\r\n\t\tsandbox-uk-fundsconfirmations-api-v1 offline_access\r\n\r\n\r\n**Production Scopes:** \r\n\r\n\t\tfundsconfirmations offline_access\r\n\r\n### Client Credentials ###\r\n\r\n**Sandbox Scopes:** \r\n\r\n\t\tsandbox-uk-fundsconfirmations-api-v1\r\n\r\n\r\n**Production Scopes:** \r\n\r\n\t\tfundsconfirmations\r\n\r\n\r\nSee more [here](https://developer.nbg.gr/oauth-document)\r\n\r\n## QWAC Certificates\r\n\r\nTPPs are required to present a QWAC certificate during API consumption. The API checks that this certificate has been provided and is valid. In sandbox mode the certificate validations are optional. To validate your certificate in sandbox implementation, please send us your QWAC certificate at developer@nbg.gr and set the HTTP Header **\\\"x-sandbox-qwac-certificate-check\\\"** with the value **\\\"true\\\"** in your requests. \r\n\r\n## Create your Sandbox\r\n\r\nCreate a new Sandbox application by invoking the POST /sandbox. This call will generate a new Sandbox\r\nwith a unique sandbox-id.\r\n\r\n\r\nWhen you create a sandbox, users and sandbox specific data are generated as sample data.\r\n\r\n\r\n**_Important!_** Don't lose your sandbox_id, since you will need it for all the API calls. Sandbox\r\nendpoints are not included in the production version API.\r\n\r\n\r\n\r\n\r\n## Start Testing\r\n\r\nOnce you have your sandbox-id, you can start invoking the rest of the operations by providing the\r\nmandatory http header **sandbox-id**  and the http headers described below.\r\n\r\n\r\n## Important notes\r\n\r\n\r\n**Request headers**\r\n\r\n\r\nThe following HTTP header parameters are required for every call:\r\n\r\n\r\n1. Authorization. The OAuth2 Token\r\n\r\n2. sandbox-id. Your Sandbox ID\r\n\r\n\r\n**Consent**\r\n\r\n\r\nIn order to be able to effectively start using the Endpoints the appropriate Consent needs to be\r\ncreated and set to the 'Authorised' status. \r\n\r\n\r\n## Error Codes\r\n\r\nThe error codes and their description can be found\r\n[here](https://openbankinguk.github.io/read-write-api-site3/v3.1.5/profiles/read-write-data-api-profile.html#error-response-structure)\r\n\r\n\r\n# Implementation Specifics \r\n\r\nBelow you may find more specific information & limitations regarding the implementation followed in\r\nthe Production API.\r\n\r\n## Token Endpoint Client Authentication\r\n\r\nAt this point the supported __Client Authentication__ method is \"__Client Secret Basic__\" - usage of\r\n\"Client ID\" & \"Client Secret\".\r\n\r\n## Consent Authorization\r\n\r\nFor a PSU to Authorize a Consent, they need to be redirected to the appropriate Consent UI.\r\n\r\nFor this redirection to take place the TPP needs to follow the Authorization Endpoint by amending the generated \"Consent ID\", like this: https://my.nbg.gr/identity/connect/authorize?consent_id={{consent_id}}&client_id={{client_id}}&scope={{scope}}&redirect_uri={{redirect_uri}}&response_type=code\r\n\r\nOnce the PSU is redirected to the Consent Authorization Screen, they need to enter their IBank (Production) or Developer Portal (Sandbox) Credentials and either Authorize or Reject the Consent.\r\n\r\nAt this point the Consent is binded with the PSU.\r\n\r\n# Feedback and Questions\r\n\r\nWe would love to hear your feedback and answer your questions. Send us at\r\n[developer@nbg.gr](developer@nbg.gr)\r\n\r\n\r\n\r\nCheck out our [Sandbox Postman\r\nCollection](https://github.com/NBG-Developer-Portal/Confirmation-of-Funds-UK-Open-Banking)\r\n ________________________________________\r\n\r\nCreated by [**NBG**](https://www.nbg.gr/).\r\n"
  version: v3.1.5
  contact:
    email: developer@nbg.gr
servers:
  - url: 'https://apis.nbg.gr/sandbox/uk.openbanking.fundsconfirmation/oauth2/v3.1.5'
    description: Sandbox Server
  - url: 'https://services.nbg.gr/apis/open-banking/v3.1.5/cbpii'
    description: Production Server
paths:
  /funds-confirmation-consents:
    post:
      tags:
        - Consents
      summary: Create Funds Confirmation Consent
      description: Create Funds Confirmation Consent
      security:
        - Client-Id: []
          Client-Credentials-Token:
            - sandbox-uk-fundsconfirmations-api-v1
            - fundsconfirmations
      parameters:
        - name: x-fapi-auth-date
          in: header
          description: "The time when the PSU last logged in with the TPP.\r\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\r\nSun, 10 Sep 2017 19:43:31 UTC"
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OBFundsConfirmationConsent1'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBFundsConfirmationConsent1'
      responses:
        '201':
          description: Funds Confirmation Consent Created
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBFundsConfirmationConsentResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBFundsConfirmationConsentResponse1'
        '400':
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '406':
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
  '/funds-confirmation-consents/{consentId}':
    get:
      tags:
        - Consents
      summary: Get Funds Confirmation Consent
      description: Get Funds Confirmation Consent by Consent ID
      security:
        - Client-Id: []
          Client-Credentials-Token:
            - sandbox-uk-fundsconfirmations-api-v1
            - fundsconfirmations
      parameters:
        - name: consentId
          in: path
          description: ConsentId
          required: true
          schema:
            type: string
            description: ConsentId
            nullable: true
        - name: x-fapi-auth-date
          in: header
          description: "The time when the PSU last logged in with the TPP.\r\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\r\nSun, 10 Sep 2017 19:43:31 UTC"
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Funds Confirmation Consent Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBFundsConfirmationConsentResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBFundsConfirmationConsentResponse1'
        '400':
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '406':
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
    delete:
      tags:
        - Consents
      summary: Delete Funds Confirmation Consent
      description: Delete Funds Confirmation Consent by Consent ID
      security:
        - Client-Id: []
          Client-Credentials-Token:
            - sandbox-uk-fundsconfirmations-api-v1
            - fundsconfirmations
      parameters:
        - name: consentId
          in: path
          description: ConsentId
          required: true
          schema:
            type: string
            description: ConsentId
            nullable: true
        - name: x-fapi-auth-date
          in: header
          description: "The time when the PSU last logged in with the TPP.\r\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\r\nSun, 10 Sep 2017 19:43:31 UTC"
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Funds Confirmation Consent Deleted
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '400':
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '406':
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
  /funds-confirmations:
    post:
      tags:
        - Funds
      summary: Create Funds Confirmation
      description: Create Funds Confirmation
      parameters:
        - name: x-fapi-auth-date
          in: header
          description: "The time when the PSU last logged in with the TPP.\r\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\r\nSun, 10 Sep 2017 19:43:31 UTC"
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OBFundsConfirmation1'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBFundsConfirmation1'
      responses:
        '201':
          description: Funds Confirmation Created
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBFundsConfirmationResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBFundsConfirmationResponse1'
        '400':
          description: Bad request
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '406':
          description: Not Acceptable
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
  /sandbox:
    post:
      tags:
        - Sandbox
      summary: Create Sandbox
      description: Create Sandbox
      requestBody:
        description: SandboxRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxRequest'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SandboxRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
    put:
      tags:
        - Sandbox
      summary: Import Sandbox
      description: Import Sandboxx
      requestBody:
        description: Sandbox
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sandbox'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/Sandbox'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
  '/sandbox/{sandboxId}':
    get:
      tags:
        - Sandbox
      summary: Get Sandbox
      description: Get Sandbox
      parameters:
        - name: sandboxId
          in: path
          description: Sandbox Id
          required: true
          schema:
            type: string
            description: Sandbox Id
            nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
    delete:
      tags:
        - Sandbox
      summary: Delete Sandbox
      description: Delete Sandbox
      parameters:
        - name: sandboxId
          in: path
          description: Sandbox Id
          required: true
          schema:
            type: string
            description: Sandbox Id
            nullable: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        default:
          description: Error Response
          content:
              application/json:
                  schema:
                      $ref: '#/components/schemas/OBErrorResponse1'
components:
  schemas:
    OBCashAccountDebtor4:
      required:
        - Identification
        - SchemeName
      type: object
      properties:
        SchemeName:
          maxLength: 40
          minLength: 1
          type: string
          description: Gets or Sets SchemeName
          example: '[UK.OBIE.BBAN, UK.OBIE.IBAN, UK.OBIE.PAN, UK.OBIE.Paym, UK.OBIE.SortCodeAccountNumber]'
        Identification:
          maxLength: 256
          minLength: 1
          type: string
          description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
        Name:
          maxLength: 70
          minLength: 1
          pattern: '^[α-ωΑ-Ωa-zA-Z0-9\/\-\?:\(\).,''+ ]*$'
          type: string
          description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.'
          nullable: true
        SecondaryIdentification:
          maxLength: 34
          minLength: 1
          type: string
          description: 'This is secondary identification of the account, as assigned by the account servicing institution.  This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).'
          nullable: true
      additionalProperties: false
      description: Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied.
    OBFundsConfirmationConsentData1:
      required:
        - DebtorAccount
      type: object
      properties:
        ExpirationDateTime:
          type: string
          description: 'Specified date and time the funds confirmation authorisation will expire.  If this is not populated, the authorisation will be open ended. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
          format: date-time
          nullable: true
        DebtorAccount:
          $ref: '#/components/schemas/OBCashAccountDebtor4'
      additionalProperties: false
      description: ''
    OBFundsConfirmationConsent1:
      required:
        - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBFundsConfirmationConsentData1'
      additionalProperties: false
      description: ''
    OBExternalRequestStatus1Code:
      enum:
        - Authorised
        - AwaitingAuthorisation
        - Rejected
        - Revoked
      type: string
      description: Specifies the status of consent resource in code form.
    OBFundsConfirmationConsentDataResponse1:
      required:
        - ConsentId
        - CreationDateTime
        - DebtorAccount
        - Status
        - StatusUpdateDateTime
      type: object
      properties:
        ConsentId:
          maxLength: 128
          minLength: 0
          type: string
          description: Unique identification as assigned to identify the funds confirmation consent resource.
        CreationDateTime:
          type: string
          description: 'Date and time at which the resource was created. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
          format: date-time
        Status:
          $ref: '#/components/schemas/OBExternalRequestStatus1Code'
        StatusUpdateDateTime:
          type: string
          description: 'Date and time at which the resource status was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
          format: date-time
        ExpirationDateTime:
          type: string
          description: 'Specified date and time the funds confirmation authorisation will expire. If this is not populated, the authorisation will be open ended. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
          format: date-time
          nullable: true
        DebtorAccount:
          $ref: '#/components/schemas/OBCashAccountDebtor4'
      additionalProperties: false
      description: ''
    Links:
      required:
        - Self
      type: object
      properties:
        Self:
          type: string
          description: ''
        First:
          type: string
          description: ''
          nullable: true
        Prev:
          type: string
          description: ''
          nullable: true
        Next:
          type: string
          description: ''
          nullable: true
        Last:
          type: string
          description: ''
          nullable: true
      additionalProperties: false
      description: Links relevant to the payload
    Meta:
      type: object
      properties:
        TotalPages:
          type: integer
          description: ''
          format: int32
          nullable: true
        FirstAvailableDateTime:
          type: string
          description: "All dates in the JSON payloads are represented in ISO 8601 date-time format.\r\nAll date-time fields in responses must include the timezone.An example is below:\r\n2017-04-05T10:43:07+00:00"
          nullable: true
        LastAvailableDateTime:
          type: string
          description: "All dates in the JSON payloads are represented in ISO 8601 date-time format.\r\nAll date-time fields in responses must include the timezone.An example is below:\r\n2017-04-05T10:43:07+00:00"
          nullable: true
      additionalProperties: false
      description: Meta Data relevant to the payload
    OBFundsConfirmationConsentResponse1:
      required:
        - Data
        - Links
        - Meta
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBFundsConfirmationConsentDataResponse1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
      description: ''
    ErrorCode:
      enum:
        - UK.OBIE.Field.Expected
        - UK.OBIE.Field.Invalid
        - UK.OBIE.Field.InvalidDate
        - UK.OBIE.Field.Missing
        - UK.OBIE.Field.Unexpected
        - UK.OBIE.Header.Invalid
        - UK.OBIE.Header.Missing
        - UK.OBIE.Resource.ConsentMismatch
        - UK.OBIE.Resource.InvalidConsentStatus
        - UK.OBIE.Resource.InvalidFormat
        - UK.OBIE.Resource.NotFound
        - UK.OBIE.Rules.AfterCutOffDateTime
        - UK.OBIE.Rules.DuplicateReference
        - UK.OBIE.Signature.Invalid
        - UK.OBIE.Signature.InvalidClaim
        - UK.OBIE.Signature.MissingClaim
        - UK.OBIE.Signature.Malformed
        - UK.OBIE.Signature.Missing
        - UK.OBIE.Signature.Unexpected
        - UK.OBIE.Unsupported.AccountIdentifier
        - UK.OBIE.Unsupported.AccountSecondaryIdentifier
        - UK.OBIE.Unsupported.Currency
        - UK.OBIE.Unsupported.EventType
        - UK.OBIE.Unsupported.Frequency
        - UK.OBIE.Unsupported.LocalInstrument
        - UK.OBIE.Unsupported.Scheme
        - UK.OBIE.Reauthenticate
        - UK.OBIE.Rules.ResourceAlreadyExists
        - UK.OBIE.UnexpectedError
      type: string
      description: This is Data Type gives a low level textual error code to help categorise an error response. The applicable HTTP response code is also given.
    OBError1:
      required:
        - ErrorCode
        - Message
      type: object
      properties:
        ErrorCode:
          $ref: '#/components/schemas/ErrorCode'
        Message:
          maxLength: 500
          minLength: 1
          type: string
          description: 'A description of the error that occurred. e.g., ''A mandatory field isn''t supplied'' or ''RequestedExecutionDateTime must be in future''OBIE doesn''t standardise this field'
        Path:
          maxLength: 500
          minLength: 1
          type: string
          description: 'Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency'
          nullable: true
        Url:
          type: string
          description: 'URL to help remediate the problem, or provide more information, or to API Reference, or help etc'
          nullable: true
      additionalProperties: false
      description: ''
    OBErrorResponse1:
      required:
        - Code
        - Errors
        - Message
      type: object
      properties:
        Code:
          maxLength: 40
          minLength: 1
          type: string
          description: 'High level textual error code, to help categorize the errors.'
        Id:
          maxLength: 40
          minLength: 1
          type: string
          description: 'A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.'
          nullable: true
        Message:
          maxLength: 500
          minLength: 1
          type: string
          description: 'Brief Error message, e.g., ''There is something wrong with the request parameters provided'''
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/OBError1'
          description: Gets or Sets Errors
      additionalProperties: false
      description: 'An array of detail error codes, and messages, and URLs to documentation to help remediation.'
    OBActiveOrHistoricCurrencyAndAmount:
      required:
        - Amount
        - Currency
      type: object
      properties:
        Amount:
          pattern: '^\d{1,13}[\.,]\d{1,5}$'
          type: string
          description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
        Currency:
          pattern: '^[A-Z]{3,3}$'
          type: string
          description: 'A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".'
      additionalProperties: false
      description: Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency.
    OBFundsConfirmationData1:
      required:
        - ConsentId
        - InstructedAmount
        - Reference
      type: object
      properties:
        ConsentId:
          maxLength: 128
          minLength: 0
          type: string
          description: Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.
        Reference:
          maxLength: 35
          minLength: 0
          pattern: '^[a-zA-Z0-9\-\.,+ ]*$'
          type: string
          description: 'Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.'
        InstructedAmount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
      additionalProperties: false
      description: ''
    OBFundsConfirmation1:
      required:
        - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBFundsConfirmationData1'
      additionalProperties: false
      description: ''
    OBFundsConfirmationDataResponse1:
      required:
        - ConsentId
        - CreationDateTime
        - FundsAvailable
        - FundsConfirmationId
        - InstructedAmount
        - Reference
      type: object
      properties:
        FundsConfirmationId:
          maxLength: 40
          minLength: 0
          type: string
          description: Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation resource.
        ConsentId:
          maxLength: 128
          minLength: 0
          type: string
          description: Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.
        CreationDateTime:
          type: string
          description: 'Date and time at which the resource was created. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
          format: date-time
        FundsAvailable:
          type: boolean
          description: Flag to indicate the result of a confirmation of funds check.
        Reference:
          maxLength: 35
          minLength: 0
          type: string
          description: 'Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.'
        InstructedAmount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
      additionalProperties: false
      description: ''
    OBFundsConfirmationResponse1:
      required:
        - Data
        - Links
        - Meta
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBFundsConfirmationDataResponse1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
      description: ''
    SandboxRequest:
      required:
        - sandboxId
      type: object
      properties:
        sandboxId:
          pattern: '^[a-zA-Z0-9_-]+$'
          type: string
          description: Sandbox id
      additionalProperties: false
      description: Sandbox request
    SandboxBankAccount:
      required:
        - balance
        - currency
        - iban
      type: object
      properties:
        currency:
          type: string
          description: 'Currency ( EUR, USD,...)'
        iban:
          type: string
          description: IBAN
        balance:
          type: number
          description: Available balance
          format: double
      additionalProperties: false
      description: Sandbox bank account
    SandboxUser:
      type: object
      properties:
        userId:
          type: string
          description: Connected user id
          nullable: true
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/SandboxBankAccount'
          description: List of accounts
          nullable: true
      additionalProperties: false
      description: Sandbox user
    Sandbox:
      required:
        - sandboxId
      type: object
      properties:
        sandboxId:
          pattern: '^[a-zA-Z0-9_-]+$'
          type: string
          description: Sandbox id
        users:
          type: array
          items:
            $ref: '#/components/schemas/SandboxUser'
          description: List of users
          nullable: true
      additionalProperties: false
      description: Sandbox model
  securitySchemes:
    Client-Id:
      type: apiKey
      description: Application's Id
      name: Client-Id
      in: header
    Authorization-Code-Token:
      type: oauth2
      description: OAuth2 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://my.nbg.gr/identity/connect/authorize
          tokenUrl: https://my.nbg.gr/identity/connect/token
          scopes:
            sandbox-uk-fundsconfirmations-api-v1 offline_access: Sandbox Scope
            fundsconfirmations offline_access: Production Scope
    Client-Credentials-Token:
      type: oauth2
      description: OAuth2 Client Credentials Flow
      flows:
        clientCredentials: 
          tokenUrl: https://my.nbg.gr/identity/connect/token
          scopes:
            sandbox-uk-fundsconfirmations-api-v1: Sandbox Scope
            fundsconfirmations: Production Scope
security:
  - Client-Id: []
    Authorization-Code-Token:
      - sandbox-uk-fundsconfirmations-api-v1 offline_access
      - fundsconfirmations offline_access