swagger: '2.0'
info:
  title: Crowdfunding API
  version: v1.2
  description: >
    ## Functionality at a glance


    Start integrating your application with NBG Bank and be able to:


    Create and manage your own **Crowdfunding platform** that allows you to:



    **1.**  Initiate new:


    * Actions 

    * Thematic areas

    * Donation promises 

    * Newsletter Requests



    **2.**  Get information about:


    * Actions

    * Thematic areas

    * Donation promises

    * Accounts

    * Transactions  

    * Newsletter Requests 



    **3.**  Get content from the Content Management System (CMS)



    The **main entities** of the API are the following:

    
    **Thematic areas** 

     Thematic areas are categories of actions. Each thematic area has one or more actions. An example of a thematic area may be 'Environmental causes'.



    **Actions** 

     Action is the main entity of the crowdfunding platform. An example of an action may be 'Post wildfire reforestation'. An action belongs to a thematic area and it has properties like: 

    * Name, 

    * Starting date, 

    * Ending date, 

    * Target Amount 



    **Donation promises** 

     Is the promise that a registered user will pay the amount he promised for a specific action. Donation promises can be paid either by credit/debit card or by deposit. 



    ## Quick Getting Started
    
    
    1. **Login/Register** to the NBG Technology HUB
    
    2. Go to **"APPS"**
    
    3. Select your Organization and go to step 4. If you want to create a new Organization click **\"CREATE AN ORGANIZATION\"** and follow the steps below:
        1. Enter the title of your Organization
        2. Enter a short description of your Organization (optional)
        3. Click **"SUBMIT"**
        
    4. Select the Organization of choice and click **"ADD AN APPLICATION"** 
          1. Fill in the forms (title and short description)
          2. Check **\"Authorization Code\" and \"Client Credentials\"** 
          3. Enter the **OAuth Redirect and Post Logout URIs** (these are the URIs that we will redirect the user upon logging in and logging out respectively)
              
              You can use the following redirect URL to easily test the API through the portal: *https://developer.nbg.gr/oauth2/redoc-callback*
          4. Click **"SUBMIT"**
          5. Store the APPs **"Client ID"** and **"Client Secret"**
    5. Go to **"API PRODUCTS"** and select the **CROWDFUNDING API**
    
    6. Click **\"START USING THIS API\"**, choose your app and click
    **"SUBSCRIBE"**
    
    7. Create a Sandbox
    
    8. Play with the API


    ## Create your Sandbox
    
    Sandboxes are self - contained testing environments that provide a simple
    way of testing the API without any real impact, meaning that no personal or
    financial data is used.
    
    
    You can create **your Sandbox** by invoking the **POST** /api/sandbox call.
    This call will generate a new Sandbox with a **unique sandbox_id**.
    
    
    **_Important!_** Don't lose your sandbox_id, since you will need it for all the
    API calls. Sandbox endpoints are not included in the production version API.
    
    
    When you create a sandbox, users and sandbox specific data are generated as sample data.

 
    The following HTTP **header parameters** are required for every call (except for
    sandbox operations) and can be obtained at sandbox creation:
    

    1. sandbox_id = the name of the sandbox you created

    2. application_id = the client id of your app

    3. user_id = The user id of your sandbox test user

    4. username = The user name of your sandbox test user

    5. provider_id = The user-id issued by the provider (NBG.gr)

    6. provider = The provider name (NBG)


    **Sandbox Operations**:  

    1.  Create a sandbox: POST /sandbox    

    2.  Export a sandbox: GET /sandbox/{sandbox_id}   

    3.  Import a sandbox: PUT /sandbox/{sandbox_id}   

    4.  Delete a sandbox: DELETE /sandbox/{sandbox_id}

    
    ## Start Testing
    
    Once you have your sandbox_id, you can start invoking the rest of the operations by providing all the mandatory information in http header.


    ## Important notes
    
    Request headers
    
    Each request MUST have the following info:
    
    
    *sandbox_id*, *application_id*, *user_id*, *username*, *provider_id*,
    *provider*


    Here come some tips about the API endpoints: 



    **For Crowdfunding Data**



    * Create Action:In order to create a new action call POST /backoffice/actions. 


    * List Actions: To list all the available actions call GET /action/actions. Additionaly, to get details for an action call the /action/actions/**{actionId}** endpoint 

    * Create donation:  To create a new donation for a specific action call POST /action/actions/**{actionId}**/donations 

    * List Wall Donation: To list all public donations call GET /action/donations/wall 

    * List User Donation: To list all user donations call GET /action/donations 



    You will find more information in the **Action section** of the swagger operations.


    **For CMS Content**



    * TAGs: The content in the CMS is categorized into **tags**. To list all the tags use GET /cmscontent/tags endpoint. To list all the content with a certain tag use GET /cmscontent/tags/**{langId}**/**{tag}** endpoint specified by language ID (**en** for english, **el** for greek). 
    

    * Get content from the CMS: To get content from the CMS, call the GET /cmscontent/content/**{langId}**/**{nodeId}** endpoint, specified by an existing **nodeID** (generated by the CMS). For example   GET /cmscontent/content/en/167 .

    * Create content: To create new content call POST /sandbox/{sandbox_id}/cmscontent/content


    _**Important!**_ To gather the content of an action choose as tag the action's Short Name. For example /cmscontent/tags/el/Action_therapydogs 


    ## Error Codes:

    * CMS-001: Invalid base URL. Please specify a valid value for base URL

    * CMS-002: Invalid tag. Please specify a valid value for tag

    * CMS-003: Invalid node id. Please specify a valid value for node id

    * CMS-004: Invalid lang id. Please specify a valid value for language id

    * CMS-005: Invalid target_id in type. Please specify a valid value for target_id

    * CMS-006: Tags not found for the specific action

    * CMS-007: Node not found

    
    ## Feedback and Questions
    
    
    We would love to hear your feedback and answer your questions. Send us at
    [developer@nbg.gr](developer@nbg.gr)
    
    
    Check out our [Sandbox Postman
    Collection](https://github.com/myNBGcode/PostmanCollections/tree/master/Crowdfunding%20API)!
    
    
    ------------------------------------------------------------------------------------------ 



    Created by [**NBG**](https://www.nbg.gr/).


    ------------------------------------------------------------------------------------------ 

    ------------------------------------------------------------------------------------------
    
  contact: {}
host: apis.nbg.gr
basePath: /sandbox/crowdfunding/headers/v1.2
schemes:
  - https
paths:
  /sandbox:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Sandbox
      parameters:
        - name: request
          description: "- sandboxId: Sandbox ID (string) <br />

Only latin characters without spaces and special characters are accepted."
          schema:
            $ref: '#/definitions/SandboxRequest'
          in: body
          required: true
      responses:
        '200':
          description: Created
          schema:
            $ref: '#/definitions/Response%5BSandboxDataModel%5D'
      operationId: Sandbox_CreateSandbox
      summary: Create Sandbox
      description: >-
        Creates a sandbox with unique sandbox id. This call can be used to
        create a "starter" package of data that includes users, accounts,
        transactions.
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"sandboxId\":\"<ADD
            STRING VALUE>\"}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"sandboxId\":\"<ADD
            STRING VALUE>\"}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox\"



  payload := strings.NewReader(\"{\\\"sandboxId\\\":\\\"<ADD STRING VALUE>\\\"}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"sandboxId\":\"<ADD STRING VALUE>\"}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body: { sandboxId: '<ADD STRING VALUE>' },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"sandboxId\":\"<ADD STRING VALUE>\"}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"sandboxId\":\"<ADD STRING VALUE>\"}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST", "/sandbox/crowdfunding/headers/v1.2/sandbox",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"sandboxId\":\"<ADD STRING VALUE>\"}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox \
              --header 'accept: application/json' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"sandboxId":"<ADD STRING VALUE>"}'
  '/sandbox/{sandbox_id}':
    get:
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Sandbox
      parameters:
        - name: sandbox_id
          description: Sandbox ID
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SandboxDataModel'
      operationId: Sandbox_ExportSandbox
      summary: Export Sandbox
      description: This service is called to get sandbox data specified by sandbox id.
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D");

            var request = new RestRequest(Method.GET);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D\"



  req, _ := http.NewRequest(\"GET\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D")
              .get()
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url:
               'https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("GET",
            "/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request GET \
              --url https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json'
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Sandbox
      parameters:
        - name: sandbox_id
          description: Sandbox ID
          in: path
          required: true
          type: string
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/SandboxDataModel'
          in: body
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SandboxDataModel'
      operationId: Sandbox_ImportSandbox
      summary: Import Sandbox
      description: This service is called to import sandbox data to a specific sandbox id.
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "PUT");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"SandboxID\":\"<ADD
            STRING VALUE>\",\"Users\":[{\"name\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"phone\":\"<ADD STRING
            VALUE>\",\"job\":\"<ADD STRING VALUE>\",\"activity\":\"<ADD STRING
            VALUE>\",\"afm\":\"<ADD STRING VALUE>\",\"doy\":\"<ADD STRING
            VALUE>\",\"address\":\"<ADD STRING VALUE>\",\"area\":\"<ADD STRING
            VALUE>\",\"postal\":\"<ADD STRING VALUE>\",\"state\":\"<ADD STRING
            VALUE>\",\"phone_nomikou\":\"<ADD STRING
            VALUE>\",\"email_nomikou\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\",\"country\":\"<ADD STRING
            VALUE>\",\"legal_status\":\"<ADD STRING VALUE>\",\"userRole\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"userId\":\"<ADD
            STRING VALUE>\",\"userName\":\"<ADD STRING VALUE>\",\"email\":\"<ADD
            STRING VALUE>\",\"providerId\":\"<ADD STRING
            VALUE>\",\"provider\":\"<ADD STRING
            VALUE>\"}],\"Accounts\":[{\"availableBalance\":0,\"ledgerBalance\":0,\"transactions\":[{\"amount\":0,\"ledgerBalance\":0,\"transactionDatetime\":\"<ADD
            STRING VALUE>\",\"timeStamp\":\"<ADD STRING
            VALUE>\",\"reasonCode\":0,\"reasonDescription\":\"<ADD STRING
            VALUE>\",\"origin\":\"<ADD STRING VALUE>\",\"valeur\":\"<ADD STRING
            VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"reference\":\"<ADD
            STRING VALUE>\",\"branch\":\"<ADD STRING
            VALUE>\",\"relatedAccount\":\"<ADD STRING
            VALUE>\"}],\"accountId\":\"<ADD STRING
            VALUE>\",\"accountNumber\":\"<ADD STRING VALUE>\",\"iban\":\"<ADD
            STRING VALUE>\",\"currencyISO\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\"}],\"ActionData\":[{\"actionDataId\":\"<ADD
            STRING VALUE>\",\"actionShortName\":\"<ADD STRING
            VALUE>\",\"actionName\":\"<ADD STRING VALUE>\",\"accountKey\":\"<ADD
            STRING VALUE>\",\"cardsAccountKey\":\"<ADD STRING
            VALUE>\",\"dateStart\":\"<ADD STRING VALUE>\",\"dateEnd\":\"<ADD
            STRING
            VALUE>\",\"offsetAmount\":0,\"targetAmount\":0,\"status\":\"<ADD
            STRING VALUE>\",\"newsletterUsers\":[{\"userId\":\"<ADD STRING
            VALUE>\",\"actionDataId\":\"<ADD STRING
            VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\",\"active\":false,\"updatedDate\":\"<ADD STRING
            VALUE>\"}],\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"publicAmount\":0}],\"DonationPromises\":[{\"donationPromiseId\":\"<ADD
            STRING VALUE>\",\"actionKey\":\"<ADD STRING
            VALUE>\",\"categoryMoneyFound\":\"<ADD STRING
            VALUE>\",\"donationTime\":\"<ADD STRING VALUE>\",\"payType\":\"<ADD
            STRING VALUE>\",\"publish\":false,\"theChallenge\":\"<ADD STRING
            VALUE>\",\"transactionKey\":\"<ADD STRING
            VALUE>\",\"transactionReceiptKey\":\"<ADD STRING
            VALUE>\",\"userKey\":\"<ADD STRING
            VALUE>\",\"xpAmount\":0,\"status\":\"<ADD STRING
            VALUE>\",\"displayName\":\"<ADD STRING
            VALUE>\"}],\"ThematicAreas\":[{\"thematicAreaId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"logoUrl\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING
            VALUE>\",\"actions\":[{\"actionDataId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING
            VALUE>\"}]}],\"ContactUsEntries\":[{\"contactUsId\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"firstname\":\"<ADD
            STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"message\":\"<ADD
            STRING VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\"}],\"Merchants\":[{\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"merchantId\":\"<ADD STRING
            VALUE>\",\"merchantName\":\"<ADD STRING VALUE>\",\"username\":\"<ADD
            STRING VALUE>\",\"password\":\"<ADD STRING
            VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"merchantUrl\":\"<ADD
            STRING
            VALUE>\",\"required3DSecure\":false}],\"Alerts\":[{\"alertId\":\"<ADD
            STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"type\":\"<ADD
            STRING VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"tags\":\"<ADD STRING VALUE>\",\"sourceType\":\"<ADD
            STRING VALUE>\",\"sourceClient\":\"<ADD STRING
            VALUE>\",\"sourceDescription\":\"<ADD STRING
            VALUE>\",\"insertDate\":\"<ADD STRING
            VALUE>\",\"insertedByUserId\":\"<ADD STRING
            VALUE>\"}],\"cmsData\":{\"tagsData\":[{\"tid\":\"<ADD STRING
            VALUE>\",\"name\":\"<ADD STRING
            VALUE>\"}],\"nodesData\":[{\"tag\":\"<ADD STRING
            VALUE>\",\"nodes\":[{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD
            STRING VALUE>\"}]}],\"articlesData\":[{\"node\":{\"nid\":\"<ADD
            STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"},\"created\":\"<ADD
            STRING VALUE>\",\"changed\":\"<ADD STRING
            VALUE>\",\"article\":{\"body\":{\"value\":\"<ADD STRING
            VALUE>\",\"format\":\"<ADD STRING VALUE>\",\"summary\":\"<ADD STRING
            VALUE>\",\"lang\":\"<ADD STRING
            VALUE>\"},\"tags\":[{\"target_id\":0,\"value\":\"<ADD STRING
            VALUE>\"}],\"metadata\":[{\"target_id\":0}],\"externalSensitiveData\":[{\"value\":\"<ADD
            STRING VALUE>\"}],\"fieldImage\":[{\"target_id\":\"<ADD STRING
            VALUE>\",\"alt\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING
            VALUE>\",\"width\":\"<ADD STRING VALUE>\",\"height\":\"<ADD STRING
            VALUE>\",\"target_type\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\"}]}}]}}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D");

            var request = new RestRequest(Method.PUT);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"SandboxID\":\"<ADD
            STRING VALUE>\",\"Users\":[{\"name\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"phone\":\"<ADD STRING
            VALUE>\",\"job\":\"<ADD STRING VALUE>\",\"activity\":\"<ADD STRING
            VALUE>\",\"afm\":\"<ADD STRING VALUE>\",\"doy\":\"<ADD STRING
            VALUE>\",\"address\":\"<ADD STRING VALUE>\",\"area\":\"<ADD STRING
            VALUE>\",\"postal\":\"<ADD STRING VALUE>\",\"state\":\"<ADD STRING
            VALUE>\",\"phone_nomikou\":\"<ADD STRING
            VALUE>\",\"email_nomikou\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\",\"country\":\"<ADD STRING
            VALUE>\",\"legal_status\":\"<ADD STRING VALUE>\",\"userRole\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"userId\":\"<ADD
            STRING VALUE>\",\"userName\":\"<ADD STRING VALUE>\",\"email\":\"<ADD
            STRING VALUE>\",\"providerId\":\"<ADD STRING
            VALUE>\",\"provider\":\"<ADD STRING
            VALUE>\"}],\"Accounts\":[{\"availableBalance\":0,\"ledgerBalance\":0,\"transactions\":[{\"amount\":0,\"ledgerBalance\":0,\"transactionDatetime\":\"<ADD
            STRING VALUE>\",\"timeStamp\":\"<ADD STRING
            VALUE>\",\"reasonCode\":0,\"reasonDescription\":\"<ADD STRING
            VALUE>\",\"origin\":\"<ADD STRING VALUE>\",\"valeur\":\"<ADD STRING
            VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"reference\":\"<ADD
            STRING VALUE>\",\"branch\":\"<ADD STRING
            VALUE>\",\"relatedAccount\":\"<ADD STRING
            VALUE>\"}],\"accountId\":\"<ADD STRING
            VALUE>\",\"accountNumber\":\"<ADD STRING VALUE>\",\"iban\":\"<ADD
            STRING VALUE>\",\"currencyISO\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\"}],\"ActionData\":[{\"actionDataId\":\"<ADD
            STRING VALUE>\",\"actionShortName\":\"<ADD STRING
            VALUE>\",\"actionName\":\"<ADD STRING VALUE>\",\"accountKey\":\"<ADD
            STRING VALUE>\",\"cardsAccountKey\":\"<ADD STRING
            VALUE>\",\"dateStart\":\"<ADD STRING VALUE>\",\"dateEnd\":\"<ADD
            STRING
            VALUE>\",\"offsetAmount\":0,\"targetAmount\":0,\"status\":\"<ADD
            STRING VALUE>\",\"newsletterUsers\":[{\"userId\":\"<ADD STRING
            VALUE>\",\"actionDataId\":\"<ADD STRING
            VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\",\"active\":false,\"updatedDate\":\"<ADD STRING
            VALUE>\"}],\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"publicAmount\":0}],\"DonationPromises\":[{\"donationPromiseId\":\"<ADD
            STRING VALUE>\",\"actionKey\":\"<ADD STRING
            VALUE>\",\"categoryMoneyFound\":\"<ADD STRING
            VALUE>\",\"donationTime\":\"<ADD STRING VALUE>\",\"payType\":\"<ADD
            STRING VALUE>\",\"publish\":false,\"theChallenge\":\"<ADD STRING
            VALUE>\",\"transactionKey\":\"<ADD STRING
            VALUE>\",\"transactionReceiptKey\":\"<ADD STRING
            VALUE>\",\"userKey\":\"<ADD STRING
            VALUE>\",\"xpAmount\":0,\"status\":\"<ADD STRING
            VALUE>\",\"displayName\":\"<ADD STRING
            VALUE>\"}],\"ThematicAreas\":[{\"thematicAreaId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"logoUrl\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING
            VALUE>\",\"actions\":[{\"actionDataId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING
            VALUE>\"}]}],\"ContactUsEntries\":[{\"contactUsId\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"firstname\":\"<ADD
            STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"message\":\"<ADD
            STRING VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\"}],\"Merchants\":[{\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"merchantId\":\"<ADD STRING
            VALUE>\",\"merchantName\":\"<ADD STRING VALUE>\",\"username\":\"<ADD
            STRING VALUE>\",\"password\":\"<ADD STRING
            VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"merchantUrl\":\"<ADD
            STRING
            VALUE>\",\"required3DSecure\":false}],\"Alerts\":[{\"alertId\":\"<ADD
            STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"type\":\"<ADD
            STRING VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"tags\":\"<ADD STRING VALUE>\",\"sourceType\":\"<ADD
            STRING VALUE>\",\"sourceClient\":\"<ADD STRING
            VALUE>\",\"sourceDescription\":\"<ADD STRING
            VALUE>\",\"insertDate\":\"<ADD STRING
            VALUE>\",\"insertedByUserId\":\"<ADD STRING
            VALUE>\"}],\"cmsData\":{\"tagsData\":[{\"tid\":\"<ADD STRING
            VALUE>\",\"name\":\"<ADD STRING
            VALUE>\"}],\"nodesData\":[{\"tag\":\"<ADD STRING
            VALUE>\",\"nodes\":[{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD
            STRING VALUE>\"}]}],\"articlesData\":[{\"node\":{\"nid\":\"<ADD
            STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"},\"created\":\"<ADD
            STRING VALUE>\",\"changed\":\"<ADD STRING
            VALUE>\",\"article\":{\"body\":{\"value\":\"<ADD STRING
            VALUE>\",\"format\":\"<ADD STRING VALUE>\",\"summary\":\"<ADD STRING
            VALUE>\",\"lang\":\"<ADD STRING
            VALUE>\"},\"tags\":[{\"target_id\":0,\"value\":\"<ADD STRING
            VALUE>\"}],\"metadata\":[{\"target_id\":0}],\"externalSensitiveData\":[{\"value\":\"<ADD
            STRING VALUE>\"}],\"fieldImage\":[{\"target_id\":\"<ADD STRING
            VALUE>\",\"alt\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING
            VALUE>\",\"width\":\"<ADD STRING VALUE>\",\"height\":\"<ADD STRING
            VALUE>\",\"target_type\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\"}]}}]}}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D\"



  payload := strings.NewReader(\"{\\\"SandboxID\\\":\\\"<ADD STRING VALUE>\\\",\\\"Users\\\":[{\\\"name\\\":\\\"<ADD STRING VALUE>\\\",\\\"surname\\\":\\\"<ADD STRING VALUE>\\\",\\\"phone\\\":\\\"<ADD STRING VALUE>\\\",\\\"job\\\":\\\"<ADD STRING VALUE>\\\",\\\"activity\\\":\\\"<ADD STRING VALUE>\\\",\\\"afm\\\":\\\"<ADD STRING VALUE>\\\",\\\"doy\\\":\\\"<ADD STRING VALUE>\\\",\\\"address\\\":\\\"<ADD STRING VALUE>\\\",\\\"area\\\":\\\"<ADD STRING VALUE>\\\",\\\"postal\\\":\\\"<ADD STRING VALUE>\\\",\\\"state\\\":\\\"<ADD STRING VALUE>\\\",\\\"phone_nomikou\\\":\\\"<ADD STRING VALUE>\\\",\\\"email_nomikou\\\":\\\"<ADD STRING VALUE>\\\",\\\"url\\\":\\\"<ADD STRING VALUE>\\\",\\\"country\\\":\\\"<ADD STRING VALUE>\\\",\\\"legal_status\\\":\\\"<ADD STRING VALUE>\\\",\\\"userRole\\\":\\\"<ADD STRING VALUE>\\\",\\\"status\\\":\\\"<ADD STRING VALUE>\\\",\\\"userId\\\":\\\"<ADD STRING VALUE>\\\",\\\"userName\\\":\\\"<ADD STRING VALUE>\\\",\\\"email\\\":\\\"<ADD STRING VALUE>\\\",\\\"providerId\\\":\\\"<ADD STRING VALUE>\\\",\\\"provider\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"Accounts\\\":[{\\\"availableBalance\\\":0,\\\"ledgerBalance\\\":0,\\\"transactions\\\":[{\\\"amount\\\":0,\\\"ledgerBalance\\\":0,\\\"transactionDatetime\\\":\\\"<ADD STRING VALUE>\\\",\\\"timeStamp\\\":\\\"<ADD STRING VALUE>\\\",\\\"reasonCode\\\":0,\\\"reasonDescription\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin\\\":\\\"<ADD STRING VALUE>\\\",\\\"valeur\\\":\\\"<ADD STRING VALUE>\\\",\\\"currencyISO\\\":\\\"<ADD STRING VALUE>\\\",\\\"reference\\\":\\\"<ADD STRING VALUE>\\\",\\\"branch\\\":\\\"<ADD STRING VALUE>\\\",\\\"relatedAccount\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"accountId\\\":\\\"<ADD STRING VALUE>\\\",\\\"accountNumber\\\":\\\"<ADD STRING VALUE>\\\",\\\"iban\\\":\\\"<ADD STRING VALUE>\\\",\\\"currencyISO\\\":\\\"<ADD STRING VALUE>\\\",\\\"description\\\":\\\"<ADD STRING VALUE>\\\",\\\"status\\\":\\\"Active\\\"}],\\\"ActionData\\\":[{\\\"actionDataId\\\":\\\"<ADD STRING VALUE>\\\",\\\"actionShortName\\\":\\\"<ADD STRING VALUE>\\\",\\\"actionName\\\":\\\"<ADD STRING VALUE>\\\",\\\"accountKey\\\":\\\"<ADD STRING VALUE>\\\",\\\"cardsAccountKey\\\":\\\"<ADD STRING VALUE>\\\",\\\"dateStart\\\":\\\"<ADD STRING VALUE>\\\",\\\"dateEnd\\\":\\\"<ADD STRING VALUE>\\\",\\\"offsetAmount\\\":0,\\\"targetAmount\\\":0,\\\"status\\\":\\\"<ADD STRING VALUE>\\\",\\\"newsletterUsers\\\":[{\\\"userId\\\":\\\"<ADD STRING VALUE>\\\",\\\"actionDataId\\\":\\\"<ADD STRING VALUE>\\\",\\\"createdDate\\\":\\\"<ADD STRING VALUE>\\\",\\\"active\\\":false,\\\"updatedDate\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"merchantDataId\\\":\\\"<ADD STRING VALUE>\\\",\\\"publicAmount\\\":0}],\\\"DonationPromises\\\":[{\\\"donationPromiseId\\\":\\\"<ADD STRING VALUE>\\\",\\\"actionKey\\\":\\\"<ADD STRING VALUE>\\\",\\\"categoryMoneyFound\\\":\\\"<ADD STRING VALUE>\\\",\\\"donationTime\\\":\\\"<ADD STRING VALUE>\\\",\\\"payType\\\":\\\"<ADD STRING VALUE>\\\",\\\"publish\\\":false,\\\"theChallenge\\\":\\\"<ADD STRING VALUE>\\\",\\\"transactionKey\\\":\\\"<ADD STRING VALUE>\\\",\\\"transactionReceiptKey\\\":\\\"<ADD STRING VALUE>\\\",\\\"userKey\\\":\\\"<ADD STRING VALUE>\\\",\\\"xpAmount\\\":0,\\\"status\\\":\\\"<ADD STRING VALUE>\\\",\\\"displayName\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"ThematicAreas\\\":[{\\\"thematicAreaId\\\":\\\"<ADD STRING VALUE>\\\",\\\"shortName\\\":\\\"<ADD STRING VALUE>\\\",\\\"name\\\":\\\"<ADD STRING VALUE>\\\",\\\"description\\\":\\\"<ADD STRING VALUE>\\\",\\\"logoUrl\\\":\\\"<ADD STRING VALUE>\\\",\\\"status\\\":\\\"<ADD STRING VALUE>\\\",\\\"actions\\\":[{\\\"actionDataId\\\":\\\"<ADD STRING VALUE>\\\",\\\"shortName\\\":\\\"<ADD STRING VALUE>\\\"}]}],\\\"ContactUsEntries\\\":[{\\\"contactUsId\\\":\\\"<ADD STRING VALUE>\\\",\\\"surname\\\":\\\"<ADD STRING VALUE>\\\",\\\"firstname\\\":\\\"<ADD STRING VALUE>\\\",\\\"email\\\":\\\"<ADD STRING VALUE>\\\",\\\"message\\\":\\\"<ADD STRING VALUE>\\\",\\\"createdDate\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"Merchants\\\":[{\\\"merchantDataId\\\":\\\"<ADD STRING VALUE>\\\",\\\"merchantId\\\":\\\"<ADD STRING VALUE>\\\",\\\"merchantName\\\":\\\"<ADD STRING VALUE>\\\",\\\"username\\\":\\\"<ADD STRING VALUE>\\\",\\\"password\\\":\\\"<ADD STRING VALUE>\\\",\\\"status\\\":\\\"<ADD STRING VALUE>\\\",\\\"merchantUrl\\\":\\\"<ADD STRING VALUE>\\\",\\\"required3DSecure\\\":false}],\\\"Alerts\\\":[{\\\"alertId\\\":\\\"<ADD STRING VALUE>\\\",\\\"name\\\":\\\"<ADD STRING VALUE>\\\",\\\"type\\\":\\\"<ADD STRING VALUE>\\\",\\\"description\\\":\\\"<ADD STRING VALUE>\\\",\\\"tags\\\":\\\"<ADD STRING VALUE>\\\",\\\"sourceType\\\":\\\"<ADD STRING VALUE>\\\",\\\"sourceClient\\\":\\\"<ADD STRING VALUE>\\\",\\\"sourceDescription\\\":\\\"<ADD STRING VALUE>\\\",\\\"insertDate\\\":\\\"<ADD STRING VALUE>\\\",\\\"insertedByUserId\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"cmsData\\\":{\\\"tagsData\\\":[{\\\"tid\\\":\\\"<ADD STRING VALUE>\\\",\\\"name\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"nodesData\\\":[{\\\"tag\\\":\\\"<ADD STRING VALUE>\\\",\\\"nodes\\\":[{\\\"nid\\\":\\\"<ADD STRING VALUE>\\\",\\\"title\\\":\\\"<ADD STRING VALUE>\\\"}]}],\\\"articlesData\\\":[{\\\"node\\\":{\\\"nid\\\":\\\"<ADD STRING VALUE>\\\",\\\"title\\\":\\\"<ADD STRING VALUE>\\\"},\\\"created\\\":\\\"<ADD STRING VALUE>\\\",\\\"changed\\\":\\\"<ADD STRING VALUE>\\\",\\\"article\\\":{\\\"body\\\":{\\\"value\\\":\\\"<ADD STRING VALUE>\\\",\\\"format\\\":\\\"<ADD STRING VALUE>\\\",\\\"summary\\\":\\\"<ADD STRING VALUE>\\\",\\\"lang\\\":\\\"<ADD STRING VALUE>\\\"},\\\"tags\\\":[{\\\"target_id\\\":0,\\\"value\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"metadata\\\":[{\\\"target_id\\\":0}],\\\"externalSensitiveData\\\":[{\\\"value\\\":\\\"<ADD STRING VALUE>\\\"}],\\\"fieldImage\\\":[{\\\"target_id\\\":\\\"<ADD STRING VALUE>\\\",\\\"alt\\\":\\\"<ADD STRING VALUE>\\\",\\\"title\\\":\\\"<ADD STRING VALUE>\\\",\\\"width\\\":\\\"<ADD STRING VALUE>\\\",\\\"height\\\":\\\"<ADD STRING VALUE>\\\",\\\"target_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"url\\\":\\\"<ADD STRING VALUE>\\\"}]}}]}}\")



  req, _ := http.NewRequest(\"PUT\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"SandboxID\":\"<ADD STRING VALUE>\",\"Users\":[{\"name\":\"<ADD
            STRING VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"phone\":\"<ADD
            STRING VALUE>\",\"job\":\"<ADD STRING VALUE>\",\"activity\":\"<ADD
            STRING VALUE>\",\"afm\":\"<ADD STRING VALUE>\",\"doy\":\"<ADD STRING
            VALUE>\",\"address\":\"<ADD STRING VALUE>\",\"area\":\"<ADD STRING
            VALUE>\",\"postal\":\"<ADD STRING VALUE>\",\"state\":\"<ADD STRING
            VALUE>\",\"phone_nomikou\":\"<ADD STRING
            VALUE>\",\"email_nomikou\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\",\"country\":\"<ADD STRING
            VALUE>\",\"legal_status\":\"<ADD STRING VALUE>\",\"userRole\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"userId\":\"<ADD
            STRING VALUE>\",\"userName\":\"<ADD STRING VALUE>\",\"email\":\"<ADD
            STRING VALUE>\",\"providerId\":\"<ADD STRING
            VALUE>\",\"provider\":\"<ADD STRING
            VALUE>\"}],\"Accounts\":[{\"availableBalance\":0,\"ledgerBalance\":0,\"transactions\":[{\"amount\":0,\"ledgerBalance\":0,\"transactionDatetime\":\"<ADD
            STRING VALUE>\",\"timeStamp\":\"<ADD STRING
            VALUE>\",\"reasonCode\":0,\"reasonDescription\":\"<ADD STRING
            VALUE>\",\"origin\":\"<ADD STRING VALUE>\",\"valeur\":\"<ADD STRING
            VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"reference\":\"<ADD
            STRING VALUE>\",\"branch\":\"<ADD STRING
            VALUE>\",\"relatedAccount\":\"<ADD STRING
            VALUE>\"}],\"accountId\":\"<ADD STRING
            VALUE>\",\"accountNumber\":\"<ADD STRING VALUE>\",\"iban\":\"<ADD
            STRING VALUE>\",\"currencyISO\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\"}],\"ActionData\":[{\"actionDataId\":\"<ADD
            STRING VALUE>\",\"actionShortName\":\"<ADD STRING
            VALUE>\",\"actionName\":\"<ADD STRING VALUE>\",\"accountKey\":\"<ADD
            STRING VALUE>\",\"cardsAccountKey\":\"<ADD STRING
            VALUE>\",\"dateStart\":\"<ADD STRING VALUE>\",\"dateEnd\":\"<ADD
            STRING
            VALUE>\",\"offsetAmount\":0,\"targetAmount\":0,\"status\":\"<ADD
            STRING VALUE>\",\"newsletterUsers\":[{\"userId\":\"<ADD STRING
            VALUE>\",\"actionDataId\":\"<ADD STRING
            VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\",\"active\":false,\"updatedDate\":\"<ADD STRING
            VALUE>\"}],\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"publicAmount\":0}],\"DonationPromises\":[{\"donationPromiseId\":\"<ADD
            STRING VALUE>\",\"actionKey\":\"<ADD STRING
            VALUE>\",\"categoryMoneyFound\":\"<ADD STRING
            VALUE>\",\"donationTime\":\"<ADD STRING VALUE>\",\"payType\":\"<ADD
            STRING VALUE>\",\"publish\":false,\"theChallenge\":\"<ADD STRING
            VALUE>\",\"transactionKey\":\"<ADD STRING
            VALUE>\",\"transactionReceiptKey\":\"<ADD STRING
            VALUE>\",\"userKey\":\"<ADD STRING
            VALUE>\",\"xpAmount\":0,\"status\":\"<ADD STRING
            VALUE>\",\"displayName\":\"<ADD STRING
            VALUE>\"}],\"ThematicAreas\":[{\"thematicAreaId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"logoUrl\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING
            VALUE>\",\"actions\":[{\"actionDataId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING
            VALUE>\"}]}],\"ContactUsEntries\":[{\"contactUsId\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"firstname\":\"<ADD
            STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"message\":\"<ADD
            STRING VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\"}],\"Merchants\":[{\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"merchantId\":\"<ADD STRING
            VALUE>\",\"merchantName\":\"<ADD STRING VALUE>\",\"username\":\"<ADD
            STRING VALUE>\",\"password\":\"<ADD STRING
            VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"merchantUrl\":\"<ADD
            STRING
            VALUE>\",\"required3DSecure\":false}],\"Alerts\":[{\"alertId\":\"<ADD
            STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"type\":\"<ADD
            STRING VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"tags\":\"<ADD STRING VALUE>\",\"sourceType\":\"<ADD
            STRING VALUE>\",\"sourceClient\":\"<ADD STRING
            VALUE>\",\"sourceDescription\":\"<ADD STRING
            VALUE>\",\"insertDate\":\"<ADD STRING
            VALUE>\",\"insertedByUserId\":\"<ADD STRING
            VALUE>\"}],\"cmsData\":{\"tagsData\":[{\"tid\":\"<ADD STRING
            VALUE>\",\"name\":\"<ADD STRING
            VALUE>\"}],\"nodesData\":[{\"tag\":\"<ADD STRING
            VALUE>\",\"nodes\":[{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD
            STRING VALUE>\"}]}],\"articlesData\":[{\"node\":{\"nid\":\"<ADD
            STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"},\"created\":\"<ADD
            STRING VALUE>\",\"changed\":\"<ADD STRING
            VALUE>\",\"article\":{\"body\":{\"value\":\"<ADD STRING
            VALUE>\",\"format\":\"<ADD STRING VALUE>\",\"summary\":\"<ADD STRING
            VALUE>\",\"lang\":\"<ADD STRING
            VALUE>\"},\"tags\":[{\"target_id\":0,\"value\":\"<ADD STRING
            VALUE>\"}],\"metadata\":[{\"target_id\":0}],\"externalSensitiveData\":[{\"value\":\"<ADD
            STRING VALUE>\"}],\"fieldImage\":[{\"target_id\":\"<ADD STRING
            VALUE>\",\"alt\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING
            VALUE>\",\"width\":\"<ADD STRING VALUE>\",\"height\":\"<ADD STRING
            VALUE>\",\"target_type\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\"}]}}]}}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D")
              .put(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'PUT',
              url:
               'https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { SandboxID: '<ADD STRING VALUE>',
                 Users:
                  [ { name: '<ADD STRING VALUE>',
                      surname: '<ADD STRING VALUE>',
                      phone: '<ADD STRING VALUE>',
                      job: '<ADD STRING VALUE>',
                      activity: '<ADD STRING VALUE>',
                      afm: '<ADD STRING VALUE>',
                      doy: '<ADD STRING VALUE>',
                      address: '<ADD STRING VALUE>',
                      area: '<ADD STRING VALUE>',
                      postal: '<ADD STRING VALUE>',
                      state: '<ADD STRING VALUE>',
                      phone_nomikou: '<ADD STRING VALUE>',
                      email_nomikou: '<ADD STRING VALUE>',
                      url: '<ADD STRING VALUE>',
                      country: '<ADD STRING VALUE>',
                      legal_status: '<ADD STRING VALUE>',
                      userRole: '<ADD STRING VALUE>',
                      status: '<ADD STRING VALUE>',
                      userId: '<ADD STRING VALUE>',
                      userName: '<ADD STRING VALUE>',
                      email: '<ADD STRING VALUE>',
                      providerId: '<ADD STRING VALUE>',
                      provider: '<ADD STRING VALUE>' } ],
                 Accounts:
                  [ { availableBalance: 0,
                      ledgerBalance: 0,
                      transactions:
                       [ { amount: 0,
                           ledgerBalance: 0,
                           transactionDatetime: '<ADD STRING VALUE>',
                           timeStamp: '<ADD STRING VALUE>',
                           reasonCode: 0,
                           reasonDescription: '<ADD STRING VALUE>',
                           origin: '<ADD STRING VALUE>',
                           valeur: '<ADD STRING VALUE>',
                           currencyISO: '<ADD STRING VALUE>',
                           reference: '<ADD STRING VALUE>',
                           branch: '<ADD STRING VALUE>',
                           relatedAccount: '<ADD STRING VALUE>' } ],
                      accountId: '<ADD STRING VALUE>',
                      accountNumber: '<ADD STRING VALUE>',
                      iban: '<ADD STRING VALUE>',
                      currencyISO: '<ADD STRING VALUE>',
                      description: '<ADD STRING VALUE>',
                      status: 'Active' } ],
                 ActionData:
                  [ { actionDataId: '<ADD STRING VALUE>',
                      actionShortName: '<ADD STRING VALUE>',
                      actionName: '<ADD STRING VALUE>',
                      accountKey: '<ADD STRING VALUE>',
                      cardsAccountKey: '<ADD STRING VALUE>',
                      dateStart: '<ADD STRING VALUE>',
                      dateEnd: '<ADD STRING VALUE>',
                      offsetAmount: 0,
                      targetAmount: 0,
                      status: '<ADD STRING VALUE>',
                      newsletterUsers:
                       [ { userId: '<ADD STRING VALUE>',
                           actionDataId: '<ADD STRING VALUE>',
                           createdDate: '<ADD STRING VALUE>',
                           active: false,
                           updatedDate: '<ADD STRING VALUE>' } ],
                      merchantDataId: '<ADD STRING VALUE>',
                      publicAmount: 0 } ],
                 DonationPromises:
                  [ { donationPromiseId: '<ADD STRING VALUE>',
                      actionKey: '<ADD STRING VALUE>',
                      categoryMoneyFound: '<ADD STRING VALUE>',
                      donationTime: '<ADD STRING VALUE>',
                      payType: '<ADD STRING VALUE>',
                      publish: false,
                      theChallenge: '<ADD STRING VALUE>',
                      transactionKey: '<ADD STRING VALUE>',
                      transactionReceiptKey: '<ADD STRING VALUE>',
                      userKey: '<ADD STRING VALUE>',
                      xpAmount: 0,
                      status: '<ADD STRING VALUE>',
                      displayName: '<ADD STRING VALUE>' } ],
                 ThematicAreas:
                  [ { thematicAreaId: '<ADD STRING VALUE>',
                      shortName: '<ADD STRING VALUE>',
                      name: '<ADD STRING VALUE>',
                      description: '<ADD STRING VALUE>',
                      logoUrl: '<ADD STRING VALUE>',
                      status: '<ADD STRING VALUE>',
                      actions:
                       [ { actionDataId: '<ADD STRING VALUE>',
                           shortName: '<ADD STRING VALUE>' } ] } ],
                 ContactUsEntries:
                  [ { contactUsId: '<ADD STRING VALUE>',
                      surname: '<ADD STRING VALUE>',
                      firstname: '<ADD STRING VALUE>',
                      email: '<ADD STRING VALUE>',
                      message: '<ADD STRING VALUE>',
                      createdDate: '<ADD STRING VALUE>' } ],
                 Merchants:
                  [ { merchantDataId: '<ADD STRING VALUE>',
                      merchantId: '<ADD STRING VALUE>',
                      merchantName: '<ADD STRING VALUE>',
                      username: '<ADD STRING VALUE>',
                      password: '<ADD STRING VALUE>',
                      status: '<ADD STRING VALUE>',
                      merchantUrl: '<ADD STRING VALUE>',
                      required3DSecure: false } ],
                 Alerts:
                  [ { alertId: '<ADD STRING VALUE>',
                      name: '<ADD STRING VALUE>',
                      type: '<ADD STRING VALUE>',
                      description: '<ADD STRING VALUE>',
                      tags: '<ADD STRING VALUE>',
                      sourceType: '<ADD STRING VALUE>',
                      sourceClient: '<ADD STRING VALUE>',
                      sourceDescription: '<ADD STRING VALUE>',
                      insertDate: '<ADD STRING VALUE>',
                      insertedByUserId: '<ADD STRING VALUE>' } ],
                 cmsData:
                  { tagsData:
                     [ { tid: '<ADD STRING VALUE>', name: '<ADD STRING VALUE>' } ],
                    nodesData:
                     [ { tag: '<ADD STRING VALUE>',
                         nodes:
                          [ { nid: '<ADD STRING VALUE>', title: '<ADD STRING VALUE>' } ] } ],
                    articlesData:
                     [ { node: { nid: '<ADD STRING VALUE>', title: '<ADD STRING VALUE>' },
                         created: '<ADD STRING VALUE>',
                         changed: '<ADD STRING VALUE>',
                         article:
                          { body:
                             { value: '<ADD STRING VALUE>',
                               format: '<ADD STRING VALUE>',
                               summary: '<ADD STRING VALUE>',
                               lang: '<ADD STRING VALUE>' },
                            tags: [ { target_id: 0, value: '<ADD STRING VALUE>' } ],
                            metadata: [ { target_id: 0 } ],
                            externalSensitiveData: [ { value: '<ADD STRING VALUE>' } ],
                            fieldImage:
                             [ { target_id: '<ADD STRING VALUE>',
                                 alt: '<ADD STRING VALUE>',
                                 title: '<ADD STRING VALUE>',
                                 width: '<ADD STRING VALUE>',
                                 height: '<ADD STRING VALUE>',
                                 target_type: '<ADD STRING VALUE>',
                                 url: '<ADD STRING VALUE>' } ] } } ] } },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PUT",
              CURLOPT_POSTFIELDS => "{\"SandboxID\":\"<ADD STRING VALUE>\",\"Users\":[{\"name\":\"<ADD STRING VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"phone\":\"<ADD STRING VALUE>\",\"job\":\"<ADD STRING VALUE>\",\"activity\":\"<ADD STRING VALUE>\",\"afm\":\"<ADD STRING VALUE>\",\"doy\":\"<ADD STRING VALUE>\",\"address\":\"<ADD STRING VALUE>\",\"area\":\"<ADD STRING VALUE>\",\"postal\":\"<ADD STRING VALUE>\",\"state\":\"<ADD STRING VALUE>\",\"phone_nomikou\":\"<ADD STRING VALUE>\",\"email_nomikou\":\"<ADD STRING VALUE>\",\"url\":\"<ADD STRING VALUE>\",\"country\":\"<ADD STRING VALUE>\",\"legal_status\":\"<ADD STRING VALUE>\",\"userRole\":\"<ADD STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"userId\":\"<ADD STRING VALUE>\",\"userName\":\"<ADD STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"providerId\":\"<ADD STRING VALUE>\",\"provider\":\"<ADD STRING VALUE>\"}],\"Accounts\":[{\"availableBalance\":0,\"ledgerBalance\":0,\"transactions\":[{\"amount\":0,\"ledgerBalance\":0,\"transactionDatetime\":\"<ADD STRING VALUE>\",\"timeStamp\":\"<ADD STRING VALUE>\",\"reasonCode\":0,\"reasonDescription\":\"<ADD STRING VALUE>\",\"origin\":\"<ADD STRING VALUE>\",\"valeur\":\"<ADD STRING VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"reference\":\"<ADD STRING VALUE>\",\"branch\":\"<ADD STRING VALUE>\",\"relatedAccount\":\"<ADD STRING VALUE>\"}],\"accountId\":\"<ADD STRING VALUE>\",\"accountNumber\":\"<ADD STRING VALUE>\",\"iban\":\"<ADD STRING VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"status\":\"Active\"}],\"ActionData\":[{\"actionDataId\":\"<ADD STRING VALUE>\",\"actionShortName\":\"<ADD STRING VALUE>\",\"actionName\":\"<ADD STRING VALUE>\",\"accountKey\":\"<ADD STRING VALUE>\",\"cardsAccountKey\":\"<ADD STRING VALUE>\",\"dateStart\":\"<ADD STRING VALUE>\",\"dateEnd\":\"<ADD STRING VALUE>\",\"offsetAmount\":0,\"targetAmount\":0,\"status\":\"<ADD STRING VALUE>\",\"newsletterUsers\":[{\"userId\":\"<ADD STRING VALUE>\",\"actionDataId\":\"<ADD STRING VALUE>\",\"createdDate\":\"<ADD STRING VALUE>\",\"active\":false,\"updatedDate\":\"<ADD STRING VALUE>\"}],\"merchantDataId\":\"<ADD STRING VALUE>\",\"publicAmount\":0}],\"DonationPromises\":[{\"donationPromiseId\":\"<ADD STRING VALUE>\",\"actionKey\":\"<ADD STRING VALUE>\",\"categoryMoneyFound\":\"<ADD STRING VALUE>\",\"donationTime\":\"<ADD STRING VALUE>\",\"payType\":\"<ADD STRING VALUE>\",\"publish\":false,\"theChallenge\":\"<ADD STRING VALUE>\",\"transactionKey\":\"<ADD STRING VALUE>\",\"transactionReceiptKey\":\"<ADD STRING VALUE>\",\"userKey\":\"<ADD STRING VALUE>\",\"xpAmount\":0,\"status\":\"<ADD STRING VALUE>\",\"displayName\":\"<ADD STRING VALUE>\"}],\"ThematicAreas\":[{\"thematicAreaId\":\"<ADD STRING VALUE>\",\"shortName\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"logoUrl\":\"<ADD STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"actions\":[{\"actionDataId\":\"<ADD STRING VALUE>\",\"shortName\":\"<ADD STRING VALUE>\"}]}],\"ContactUsEntries\":[{\"contactUsId\":\"<ADD STRING VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"firstname\":\"<ADD STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"message\":\"<ADD STRING VALUE>\",\"createdDate\":\"<ADD STRING VALUE>\"}],\"Merchants\":[{\"merchantDataId\":\"<ADD STRING VALUE>\",\"merchantId\":\"<ADD STRING VALUE>\",\"merchantName\":\"<ADD STRING VALUE>\",\"username\":\"<ADD STRING VALUE>\",\"password\":\"<ADD STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"merchantUrl\":\"<ADD STRING VALUE>\",\"required3DSecure\":false}],\"Alerts\":[{\"alertId\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"type\":\"<ADD STRING VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"tags\":\"<ADD STRING VALUE>\",\"sourceType\":\"<ADD STRING VALUE>\",\"sourceClient\":\"<ADD STRING VALUE>\",\"sourceDescription\":\"<ADD STRING VALUE>\",\"insertDate\":\"<ADD STRING VALUE>\",\"insertedByUserId\":\"<ADD STRING VALUE>\"}],\"cmsData\":{\"tagsData\":[{\"tid\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\"}],\"nodesData\":[{\"tag\":\"<ADD STRING VALUE>\",\"nodes\":[{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"}]}],\"articlesData\":[{\"node\":{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"},\"created\":\"<ADD STRING VALUE>\",\"changed\":\"<ADD STRING VALUE>\",\"article\":{\"body\":{\"value\":\"<ADD STRING VALUE>\",\"format\":\"<ADD STRING VALUE>\",\"summary\":\"<ADD STRING VALUE>\",\"lang\":\"<ADD STRING VALUE>\"},\"tags\":[{\"target_id\":0,\"value\":\"<ADD STRING VALUE>\"}],\"metadata\":[{\"target_id\":0}],\"externalSensitiveData\":[{\"value\":\"<ADD STRING VALUE>\"}],\"fieldImage\":[{\"target_id\":\"<ADD STRING VALUE>\",\"alt\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\",\"width\":\"<ADD STRING VALUE>\",\"height\":\"<ADD STRING VALUE>\",\"target_type\":\"<ADD STRING VALUE>\",\"url\":\"<ADD STRING VALUE>\"}]}}]}}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"SandboxID\":\"<ADD STRING
            VALUE>\",\"Users\":[{\"name\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"phone\":\"<ADD STRING
            VALUE>\",\"job\":\"<ADD STRING VALUE>\",\"activity\":\"<ADD STRING
            VALUE>\",\"afm\":\"<ADD STRING VALUE>\",\"doy\":\"<ADD STRING
            VALUE>\",\"address\":\"<ADD STRING VALUE>\",\"area\":\"<ADD STRING
            VALUE>\",\"postal\":\"<ADD STRING VALUE>\",\"state\":\"<ADD STRING
            VALUE>\",\"phone_nomikou\":\"<ADD STRING
            VALUE>\",\"email_nomikou\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\",\"country\":\"<ADD STRING
            VALUE>\",\"legal_status\":\"<ADD STRING VALUE>\",\"userRole\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"userId\":\"<ADD
            STRING VALUE>\",\"userName\":\"<ADD STRING VALUE>\",\"email\":\"<ADD
            STRING VALUE>\",\"providerId\":\"<ADD STRING
            VALUE>\",\"provider\":\"<ADD STRING
            VALUE>\"}],\"Accounts\":[{\"availableBalance\":0,\"ledgerBalance\":0,\"transactions\":[{\"amount\":0,\"ledgerBalance\":0,\"transactionDatetime\":\"<ADD
            STRING VALUE>\",\"timeStamp\":\"<ADD STRING
            VALUE>\",\"reasonCode\":0,\"reasonDescription\":\"<ADD STRING
            VALUE>\",\"origin\":\"<ADD STRING VALUE>\",\"valeur\":\"<ADD STRING
            VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"reference\":\"<ADD
            STRING VALUE>\",\"branch\":\"<ADD STRING
            VALUE>\",\"relatedAccount\":\"<ADD STRING
            VALUE>\"}],\"accountId\":\"<ADD STRING
            VALUE>\",\"accountNumber\":\"<ADD STRING VALUE>\",\"iban\":\"<ADD
            STRING VALUE>\",\"currencyISO\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\"}],\"ActionData\":[{\"actionDataId\":\"<ADD
            STRING VALUE>\",\"actionShortName\":\"<ADD STRING
            VALUE>\",\"actionName\":\"<ADD STRING VALUE>\",\"accountKey\":\"<ADD
            STRING VALUE>\",\"cardsAccountKey\":\"<ADD STRING
            VALUE>\",\"dateStart\":\"<ADD STRING VALUE>\",\"dateEnd\":\"<ADD
            STRING
            VALUE>\",\"offsetAmount\":0,\"targetAmount\":0,\"status\":\"<ADD
            STRING VALUE>\",\"newsletterUsers\":[{\"userId\":\"<ADD STRING
            VALUE>\",\"actionDataId\":\"<ADD STRING
            VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\",\"active\":false,\"updatedDate\":\"<ADD STRING
            VALUE>\"}],\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"publicAmount\":0}],\"DonationPromises\":[{\"donationPromiseId\":\"<ADD
            STRING VALUE>\",\"actionKey\":\"<ADD STRING
            VALUE>\",\"categoryMoneyFound\":\"<ADD STRING
            VALUE>\",\"donationTime\":\"<ADD STRING VALUE>\",\"payType\":\"<ADD
            STRING VALUE>\",\"publish\":false,\"theChallenge\":\"<ADD STRING
            VALUE>\",\"transactionKey\":\"<ADD STRING
            VALUE>\",\"transactionReceiptKey\":\"<ADD STRING
            VALUE>\",\"userKey\":\"<ADD STRING
            VALUE>\",\"xpAmount\":0,\"status\":\"<ADD STRING
            VALUE>\",\"displayName\":\"<ADD STRING
            VALUE>\"}],\"ThematicAreas\":[{\"thematicAreaId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"logoUrl\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING
            VALUE>\",\"actions\":[{\"actionDataId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING
            VALUE>\"}]}],\"ContactUsEntries\":[{\"contactUsId\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"firstname\":\"<ADD
            STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"message\":\"<ADD
            STRING VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\"}],\"Merchants\":[{\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"merchantId\":\"<ADD STRING
            VALUE>\",\"merchantName\":\"<ADD STRING VALUE>\",\"username\":\"<ADD
            STRING VALUE>\",\"password\":\"<ADD STRING
            VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"merchantUrl\":\"<ADD
            STRING
            VALUE>\",\"required3DSecure\":false}],\"Alerts\":[{\"alertId\":\"<ADD
            STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"type\":\"<ADD
            STRING VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"tags\":\"<ADD STRING VALUE>\",\"sourceType\":\"<ADD
            STRING VALUE>\",\"sourceClient\":\"<ADD STRING
            VALUE>\",\"sourceDescription\":\"<ADD STRING
            VALUE>\",\"insertDate\":\"<ADD STRING
            VALUE>\",\"insertedByUserId\":\"<ADD STRING
            VALUE>\"}],\"cmsData\":{\"tagsData\":[{\"tid\":\"<ADD STRING
            VALUE>\",\"name\":\"<ADD STRING
            VALUE>\"}],\"nodesData\":[{\"tag\":\"<ADD STRING
            VALUE>\",\"nodes\":[{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD
            STRING VALUE>\"}]}],\"articlesData\":[{\"node\":{\"nid\":\"<ADD
            STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"},\"created\":\"<ADD
            STRING VALUE>\",\"changed\":\"<ADD STRING
            VALUE>\",\"article\":{\"body\":{\"value\":\"<ADD STRING
            VALUE>\",\"format\":\"<ADD STRING VALUE>\",\"summary\":\"<ADD STRING
            VALUE>\",\"lang\":\"<ADD STRING
            VALUE>\"},\"tags\":[{\"target_id\":0,\"value\":\"<ADD STRING
            VALUE>\"}],\"metadata\":[{\"target_id\":0}],\"externalSensitiveData\":[{\"value\":\"<ADD
            STRING VALUE>\"}],\"fieldImage\":[{\"target_id\":\"<ADD STRING
            VALUE>\",\"alt\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING
            VALUE>\",\"width\":\"<ADD STRING VALUE>\",\"height\":\"<ADD STRING
            VALUE>\",\"target_type\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\"}]}}]}}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("PUT",
            "/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Put.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"SandboxID\":\"<ADD STRING
            VALUE>\",\"Users\":[{\"name\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"phone\":\"<ADD STRING
            VALUE>\",\"job\":\"<ADD STRING VALUE>\",\"activity\":\"<ADD STRING
            VALUE>\",\"afm\":\"<ADD STRING VALUE>\",\"doy\":\"<ADD STRING
            VALUE>\",\"address\":\"<ADD STRING VALUE>\",\"area\":\"<ADD STRING
            VALUE>\",\"postal\":\"<ADD STRING VALUE>\",\"state\":\"<ADD STRING
            VALUE>\",\"phone_nomikou\":\"<ADD STRING
            VALUE>\",\"email_nomikou\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\",\"country\":\"<ADD STRING
            VALUE>\",\"legal_status\":\"<ADD STRING VALUE>\",\"userRole\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"userId\":\"<ADD
            STRING VALUE>\",\"userName\":\"<ADD STRING VALUE>\",\"email\":\"<ADD
            STRING VALUE>\",\"providerId\":\"<ADD STRING
            VALUE>\",\"provider\":\"<ADD STRING
            VALUE>\"}],\"Accounts\":[{\"availableBalance\":0,\"ledgerBalance\":0,\"transactions\":[{\"amount\":0,\"ledgerBalance\":0,\"transactionDatetime\":\"<ADD
            STRING VALUE>\",\"timeStamp\":\"<ADD STRING
            VALUE>\",\"reasonCode\":0,\"reasonDescription\":\"<ADD STRING
            VALUE>\",\"origin\":\"<ADD STRING VALUE>\",\"valeur\":\"<ADD STRING
            VALUE>\",\"currencyISO\":\"<ADD STRING VALUE>\",\"reference\":\"<ADD
            STRING VALUE>\",\"branch\":\"<ADD STRING
            VALUE>\",\"relatedAccount\":\"<ADD STRING
            VALUE>\"}],\"accountId\":\"<ADD STRING
            VALUE>\",\"accountNumber\":\"<ADD STRING VALUE>\",\"iban\":\"<ADD
            STRING VALUE>\",\"currencyISO\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\"}],\"ActionData\":[{\"actionDataId\":\"<ADD
            STRING VALUE>\",\"actionShortName\":\"<ADD STRING
            VALUE>\",\"actionName\":\"<ADD STRING VALUE>\",\"accountKey\":\"<ADD
            STRING VALUE>\",\"cardsAccountKey\":\"<ADD STRING
            VALUE>\",\"dateStart\":\"<ADD STRING VALUE>\",\"dateEnd\":\"<ADD
            STRING
            VALUE>\",\"offsetAmount\":0,\"targetAmount\":0,\"status\":\"<ADD
            STRING VALUE>\",\"newsletterUsers\":[{\"userId\":\"<ADD STRING
            VALUE>\",\"actionDataId\":\"<ADD STRING
            VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\",\"active\":false,\"updatedDate\":\"<ADD STRING
            VALUE>\"}],\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"publicAmount\":0}],\"DonationPromises\":[{\"donationPromiseId\":\"<ADD
            STRING VALUE>\",\"actionKey\":\"<ADD STRING
            VALUE>\",\"categoryMoneyFound\":\"<ADD STRING
            VALUE>\",\"donationTime\":\"<ADD STRING VALUE>\",\"payType\":\"<ADD
            STRING VALUE>\",\"publish\":false,\"theChallenge\":\"<ADD STRING
            VALUE>\",\"transactionKey\":\"<ADD STRING
            VALUE>\",\"transactionReceiptKey\":\"<ADD STRING
            VALUE>\",\"userKey\":\"<ADD STRING
            VALUE>\",\"xpAmount\":0,\"status\":\"<ADD STRING
            VALUE>\",\"displayName\":\"<ADD STRING
            VALUE>\"}],\"ThematicAreas\":[{\"thematicAreaId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING VALUE>\",\"name\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\",\"logoUrl\":\"<ADD
            STRING VALUE>\",\"status\":\"<ADD STRING
            VALUE>\",\"actions\":[{\"actionDataId\":\"<ADD STRING
            VALUE>\",\"shortName\":\"<ADD STRING
            VALUE>\"}]}],\"ContactUsEntries\":[{\"contactUsId\":\"<ADD STRING
            VALUE>\",\"surname\":\"<ADD STRING VALUE>\",\"firstname\":\"<ADD
            STRING VALUE>\",\"email\":\"<ADD STRING VALUE>\",\"message\":\"<ADD
            STRING VALUE>\",\"createdDate\":\"<ADD STRING
            VALUE>\"}],\"Merchants\":[{\"merchantDataId\":\"<ADD STRING
            VALUE>\",\"merchantId\":\"<ADD STRING
            VALUE>\",\"merchantName\":\"<ADD STRING VALUE>\",\"username\":\"<ADD
            STRING VALUE>\",\"password\":\"<ADD STRING
            VALUE>\",\"status\":\"<ADD STRING VALUE>\",\"merchantUrl\":\"<ADD
            STRING
            VALUE>\",\"required3DSecure\":false}],\"Alerts\":[{\"alertId\":\"<ADD
            STRING VALUE>\",\"name\":\"<ADD STRING VALUE>\",\"type\":\"<ADD
            STRING VALUE>\",\"description\":\"<ADD STRING
            VALUE>\",\"tags\":\"<ADD STRING VALUE>\",\"sourceType\":\"<ADD
            STRING VALUE>\",\"sourceClient\":\"<ADD STRING
            VALUE>\",\"sourceDescription\":\"<ADD STRING
            VALUE>\",\"insertDate\":\"<ADD STRING
            VALUE>\",\"insertedByUserId\":\"<ADD STRING
            VALUE>\"}],\"cmsData\":{\"tagsData\":[{\"tid\":\"<ADD STRING
            VALUE>\",\"name\":\"<ADD STRING
            VALUE>\"}],\"nodesData\":[{\"tag\":\"<ADD STRING
            VALUE>\",\"nodes\":[{\"nid\":\"<ADD STRING VALUE>\",\"title\":\"<ADD
            STRING VALUE>\"}]}],\"articlesData\":[{\"node\":{\"nid\":\"<ADD
            STRING VALUE>\",\"title\":\"<ADD STRING VALUE>\"},\"created\":\"<ADD
            STRING VALUE>\",\"changed\":\"<ADD STRING
            VALUE>\",\"article\":{\"body\":{\"value\":\"<ADD STRING
            VALUE>\",\"format\":\"<ADD STRING VALUE>\",\"summary\":\"<ADD STRING
            VALUE>\",\"lang\":\"<ADD STRING
            VALUE>\"},\"tags\":[{\"target_id\":0,\"value\":\"<ADD STRING
            VALUE>\"}],\"metadata\":[{\"target_id\":0}],\"externalSensitiveData\":[{\"value\":\"<ADD
            STRING VALUE>\"}],\"fieldImage\":[{\"target_id\":\"<ADD STRING
            VALUE>\",\"alt\":\"<ADD STRING VALUE>\",\"title\":\"<ADD STRING
            VALUE>\",\"width\":\"<ADD STRING VALUE>\",\"height\":\"<ADD STRING
            VALUE>\",\"target_type\":\"<ADD STRING VALUE>\",\"url\":\"<ADD
            STRING VALUE>\"}]}}]}}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request PUT \
              --url https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D \
              --header 'accept: application/json' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"SandboxID":"<ADD STRING VALUE>","Users":[{"name":"<ADD STRING VALUE>","surname":"<ADD STRING VALUE>","phone":"<ADD STRING VALUE>","job":"<ADD STRING VALUE>","activity":"<ADD STRING VALUE>","afm":"<ADD STRING VALUE>","doy":"<ADD STRING VALUE>","address":"<ADD STRING VALUE>","area":"<ADD STRING VALUE>","postal":"<ADD STRING VALUE>","state":"<ADD STRING VALUE>","phone_nomikou":"<ADD STRING VALUE>","email_nomikou":"<ADD STRING VALUE>","url":"<ADD STRING VALUE>","country":"<ADD STRING VALUE>","legal_status":"<ADD STRING VALUE>","userRole":"<ADD STRING VALUE>","status":"<ADD STRING VALUE>","userId":"<ADD STRING VALUE>","userName":"<ADD STRING VALUE>","email":"<ADD STRING VALUE>","providerId":"<ADD STRING VALUE>","provider":"<ADD STRING VALUE>"}],"Accounts":[{"availableBalance":0,"ledgerBalance":0,"transactions":[{"amount":0,"ledgerBalance":0,"transactionDatetime":"<ADD STRING VALUE>","timeStamp":"<ADD STRING VALUE>","reasonCode":0,"reasonDescription":"<ADD STRING VALUE>","origin":"<ADD STRING VALUE>","valeur":"<ADD STRING VALUE>","currencyISO":"<ADD STRING VALUE>","reference":"<ADD STRING VALUE>","branch":"<ADD STRING VALUE>","relatedAccount":"<ADD STRING VALUE>"}],"accountId":"<ADD STRING VALUE>","accountNumber":"<ADD STRING VALUE>","iban":"<ADD STRING VALUE>","currencyISO":"<ADD STRING VALUE>","description":"<ADD STRING VALUE>","status":"Active"}],"ActionData":[{"actionDataId":"<ADD STRING VALUE>","actionShortName":"<ADD STRING VALUE>","actionName":"<ADD STRING VALUE>","accountKey":"<ADD STRING VALUE>","cardsAccountKey":"<ADD STRING VALUE>","dateStart":"<ADD STRING VALUE>","dateEnd":"<ADD STRING VALUE>","offsetAmount":0,"targetAmount":0,"status":"<ADD STRING VALUE>","newsletterUsers":[{"userId":"<ADD STRING VALUE>","actionDataId":"<ADD STRING VALUE>","createdDate":"<ADD STRING VALUE>","active":false,"updatedDate":"<ADD STRING VALUE>"}],"merchantDataId":"<ADD STRING VALUE>","publicAmount":0}],"DonationPromises":[{"donationPromiseId":"<ADD STRING VALUE>","actionKey":"<ADD STRING VALUE>","categoryMoneyFound":"<ADD STRING VALUE>","donationTime":"<ADD STRING VALUE>","payType":"<ADD STRING VALUE>","publish":false,"theChallenge":"<ADD STRING VALUE>","transactionKey":"<ADD STRING VALUE>","transactionReceiptKey":"<ADD STRING VALUE>","userKey":"<ADD STRING VALUE>","xpAmount":0,"status":"<ADD STRING VALUE>","displayName":"<ADD STRING VALUE>"}],"ThematicAreas":[{"thematicAreaId":"<ADD STRING VALUE>","shortName":"<ADD STRING VALUE>","name":"<ADD STRING VALUE>","description":"<ADD STRING VALUE>","logoUrl":"<ADD STRING VALUE>","status":"<ADD STRING VALUE>","actions":[{"actionDataId":"<ADD STRING VALUE>","shortName":"<ADD STRING VALUE>"}]}],"ContactUsEntries":[{"contactUsId":"<ADD STRING VALUE>","surname":"<ADD STRING VALUE>","firstname":"<ADD STRING VALUE>","email":"<ADD STRING VALUE>","message":"<ADD STRING VALUE>","createdDate":"<ADD STRING VALUE>"}],"Merchants":[{"merchantDataId":"<ADD STRING VALUE>","merchantId":"<ADD STRING VALUE>","merchantName":"<ADD STRING VALUE>","username":"<ADD STRING VALUE>","password":"<ADD STRING VALUE>","status":"<ADD STRING VALUE>","merchantUrl":"<ADD STRING VALUE>","required3DSecure":false}],"Alerts":[{"alertId":"<ADD STRING VALUE>","name":"<ADD STRING VALUE>","type":"<ADD STRING VALUE>","description":"<ADD STRING VALUE>","tags":"<ADD STRING VALUE>","sourceType":"<ADD STRING VALUE>","sourceClient":"<ADD STRING VALUE>","sourceDescription":"<ADD STRING VALUE>","insertDate":"<ADD STRING VALUE>","insertedByUserId":"<ADD STRING VALUE>"}],"cmsData":{"tagsData":[{"tid":"<ADD STRING VALUE>","name":"<ADD STRING VALUE>"}],"nodesData":[{"tag":"<ADD STRING VALUE>","nodes":[{"nid":"<ADD STRING VALUE>","title":"<ADD STRING VALUE>"}]}],"articlesData":[{"node":{"nid":"<ADD STRING VALUE>","title":"<ADD STRING VALUE>"},"created":"<ADD STRING VALUE>","changed":"<ADD STRING VALUE>","article":{"body":{"value":"<ADD STRING VALUE>","format":"<ADD STRING VALUE>","summary":"<ADD STRING VALUE>","lang":"<ADD STRING VALUE>"},"tags":[{"target_id":0,"value":"<ADD STRING VALUE>"}],"metadata":[{"target_id":0}],"externalSensitiveData":[{"value":"<ADD STRING VALUE>"}],"fieldImage":[{"target_id":"<ADD STRING VALUE>","alt":"<ADD STRING VALUE>","title":"<ADD STRING VALUE>","width":"<ADD STRING VALUE>","height":"<ADD STRING VALUE>","target_type":"<ADD STRING VALUE>","url":"<ADD STRING VALUE>"}]}}]}}'
    delete:
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Sandbox
      parameters:
        - name: sandbox_id
          description: Sandbox ID
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BBoolResponse%5D'
      operationId: Sandbox_DeleteSandbox
      summary: Delete Sandbox
      description: Delete Sandbox specified by sandbox id.
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D");

            var request = new RestRequest(Method.DELETE);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D\"



  req, _ := http.NewRequest(\"DELETE\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D")
              .delete(null)
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'DELETE',
              url:
               'https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("DELETE",
            "/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Delete.new(url)

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request DELETE \
              --url https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json'
  '/sandbox/{sandbox_id}/account/transfer':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Sandbox
      parameters:
        - name: request
          description: "- amount: The amount of the transfer (Decimal)

- WithCompleteDepositDonation : Place a donationid that you want to change from pending to paid 

- WithAction : Place the actionid of the donation  

- fromAccountIBAN: The IBAN of the debitor account (String)

- toAccountIBAN: The IBAN of the creditor account (String)

- description: Transfer description which is free text (String)"
          schema:
            $ref: '#/definitions/TransferRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BTransactionResponse%5D'
        '400':
          description: Invalid Balance Amount.
      operationId: Sandbox_CreateTransfer
      summary: Create transfer
      description: "This call is used in order to make a transfer from one account to another and complete a deposit promise.





Sample request:

            

    POST /sandbox/{sandbox_id}/account/transfer

    {

        \"amount\": 200,

        \"WithCompleteDepositDonation\": \"7aa8afb2-fe45-42dc-9eb2-f26c9dd06795\"

        \"WithAction\": \"d4467221-b801-44db-97e7-04f3e95147fe\"

        \"fromAccountIBAN\": \"GR4201101230000012345678952\",

        \"toAccountIBAN\": \"GR6001109420000094200122540\",

        \"description\": \"ΠΛΗΡΩΜΗ\"

    }"
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"amount\":0,\"withCompleteDepositDonation\":\"<ADD STRING
            VALUE>\",\"withAction\":\"<ADD STRING
            VALUE>\",\"fromAccountIBAN\":\"<ADD STRING
            VALUE>\",\"toAccountIBAN\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json",
            "{\"amount\":0,\"withCompleteDepositDonation\":\"<ADD STRING
            VALUE>\",\"withAction\":\"<ADD STRING
            VALUE>\",\"fromAccountIBAN\":\"<ADD STRING
            VALUE>\",\"toAccountIBAN\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}",
            ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer\"



  payload := strings.NewReader(\"{\\\"amount\\\":0,\\\"withCompleteDepositDonation\\\":\\\"<ADD STRING VALUE>\\\",\\\"withAction\\\":\\\"<ADD STRING VALUE>\\\",\\\"fromAccountIBAN\\\":\\\"<ADD STRING VALUE>\\\",\\\"toAccountIBAN\\\":\\\"<ADD STRING VALUE>\\\",\\\"description\\\":\\\"<ADD STRING VALUE>\\\"}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"amount\":0,\"withCompleteDepositDonation\":\"<ADD STRING
            VALUE>\",\"withAction\":\"<ADD STRING
            VALUE>\",\"fromAccountIBAN\":\"<ADD STRING
            VALUE>\",\"toAccountIBAN\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { amount: 0,
                 withCompleteDepositDonation: '<ADD STRING VALUE>',
                 withAction: '<ADD STRING VALUE>',
                 fromAccountIBAN: '<ADD STRING VALUE>',
                 toAccountIBAN: '<ADD STRING VALUE>',
                 description: '<ADD STRING VALUE>' },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"amount\":0,\"withCompleteDepositDonation\":\"<ADD STRING VALUE>\",\"withAction\":\"<ADD STRING VALUE>\",\"fromAccountIBAN\":\"<ADD STRING VALUE>\",\"toAccountIBAN\":\"<ADD STRING VALUE>\",\"description\":\"<ADD STRING VALUE>\"}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"amount\":0,\"withCompleteDepositDonation\":\"<ADD
            STRING VALUE>\",\"withAction\":\"<ADD STRING
            VALUE>\",\"fromAccountIBAN\":\"<ADD STRING
            VALUE>\",\"toAccountIBAN\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"amount\":0,\"withCompleteDepositDonation\":\"<ADD
            STRING VALUE>\",\"withAction\":\"<ADD STRING
            VALUE>\",\"fromAccountIBAN\":\"<ADD STRING
            VALUE>\",\"toAccountIBAN\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/account/transfer \
              --header 'accept: application/json' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"amount":0,"withCompleteDepositDonation":"<ADD STRING VALUE>","withAction":"<ADD STRING VALUE>","fromAccountIBAN":"<ADD STRING VALUE>","toAccountIBAN":"<ADD STRING VALUE>","description":"<ADD STRING VALUE>"}'
  '/sandbox/{sandbox_id}/cmscontent/content':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Sandbox
      parameters:
        - name: request
          description: "- tag: The tag name that the content belongs

- title: content title.

- body: The content

- summary: A short description of the content"
          schema:
            $ref: '#/definitions/CmsArticleRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox Id
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BBoolResponse%5D'
      operationId: Sandbox_CreateArticle
      summary: Create content
      description: "This call is used to create content(Article) in CMS.





Sample request:

            

    POST /sandbox/{sandbox_id}/cmscontent/content

    {

        \"tag\": \"Action_therapydogs\",

        \"title\": \"My new great article\",

        \"body\": \"This is test body text for my article.\",

        \"summary\": \"A short description of my article\"

    }"
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/cmscontent/content");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"tag\":\"<ADD STRING
            VALUE>\",\"title\":\"<ADD STRING VALUE>\",\"body\":\"<ADD STRING
            VALUE>\",\"summary\":\"<ADD STRING VALUE>\"}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/cmscontent/content");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"tag\":\"<ADD STRING
            VALUE>\",\"title\":\"<ADD STRING VALUE>\",\"body\":\"<ADD STRING
            VALUE>\",\"summary\":\"<ADD STRING VALUE>\"}",
            ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/crowdfunding/headers/v1.2/sandbox/%7Bsandbox_id%7D/cmscontent/content\"



  payload := strings.NewReader(\"{\\\"tag\\\":\\\"<ADD STRING VALUE>\\\",\\\"title\\\":\\\"<ADD STRING VALUE>\\\",\\\"body\\\":\\\"<ADD STRING VALUE>\\\",\\\"summary\\\":\\\"<ADD STRING VALUE>\\\"}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

[...]
