openapi: 3.0.2
info:
  title: IBAN Beneficiary Validation
  version: v1
  description: |-
    # Functionality at a glance
    The NBG **IBAN Beneficiary Validation** API aims to enable NBG Partners and End Customers of the Bank's ecosystem to validate an IBAN for antifraud and security cases.

    The API enables the consumer to:
    1. retrieve the beneficiaries of NBG accounts, 
    2. calculate the most likely beneficiary of a third bank's IBAN along with a confidence score, and finally 
    3. verify wether an NBG IBAN matches with a certain beneficiary and calculate the matching confidence level.
    
    # Confidence Scoring
    Some endpoints of the IBAN Beneficiary validation API return confidence or matching scores, which indicate our confidence on the response we return or the matching score of the data input we received in your request. This section discusses the method that these scores are calculated and provide some examples so as to facilate the scoring interpretation by the API consumers. Detailed Request/Response examples are provided in the corresponding endpoints in the paths section below.
    
    Please note that in this version the scoring calculation method discussed below only applies to the Production version. In Sandbox mode the scores are calculated in a random way.
    
    ## Confidence score on the likely beneficiary of /otherBanksIban

    The IBAN included in the request data of the /otherBanksIban endpoint corresponds to a bank account held in other banks (non-NBG account). Our data source to extract the likely beneficiary in this case is from our remmitance records, meaning that the data is not verified by NBG and our response is based on a statistical analysis on the beneficiaries observed in our remmitance records. 
    
    Many times the remmitance records of the same IBAN include beneficiaries that differ among each other. This is why the /otherBanksIban endpoint return not only the masked name of the most frequent beneficiary observed (likelyBeneficiary), but also a confidence score that indicates the variance of this name among the remmitance records.

    The confidence score is based on the *weighted* average Levenshtein Distance (aLD) of the likelyBeneficiary name as measured against the rest of the beneficiary name's observed. More specifically, the confidence score is bounded from above by 1 (meaning that the score is always <=1), based on the likelyBeneficiary character length (L) as follows:
    
    - confidence = 1 - (aLD/L)

    ## Matching score on the request data of /nbgIbanDetailsMatch
    
    The input included in the request data of the /nbgIbanDetailsMatch endpoint corresponds to an NBG IBAN and its beneficiaries  verified details. The response is in the true/false form interpreted as match/do-not-match, but it also provides a matchingScore which indicates the matching level of the input data. We discuss below how this matching score is computed.
    
    The number of the input fields to be matched are counted and each of them has equal weight in the matchingScore. So again here the average Levenshtein Distance (aLD) is computed among the input values and the true values that we maintain in our verified data source. More specifically, the matchingScore is bounded from above by 1 (meaning that the score is always <=1), based on each of the input fields character length.

    # Quick Getting Started


    1. **Login/Register** to the NBG Technology HUB

    2. Go to **"APPS"**

    3. Select your Organization and go to step 4. If you want to create a new Organization click **\"CREATE AN ORGANIZATION\"** and follow the steps below:
      1. Enter the title of your Organization
      2. Enter a short description of your Organization (optional)
      3. Click **"SUBMIT"**

    4. Select the Organization of choice and click **"ADD AN APPLICATION"** 
        1. Fill in the forms (title and short description)
        2. Check **\"Client Credentials\"** 
        4. Click **"SUBMIT"**
        5. Store the APPs **"Client ID"** and **"Client Secret"**
    5. Go to **"API PRODUCTS"** and select the **IBAN Beneficiary Validation**

    6. Click **\"START USING THIS API\"**, choose your app and click **"SUBSCRIBE"**

    7. Get an Access Token using the Access Token Flow and the API scopes provided in the Authentication and Authorization (OAuth2) section below

    8. Create a Sandbox

    9. Play with the APΙ

    ## Authentication and Authorization (OAuth2)

    This API version uses the Client Credentials flow of the OAuth2 protocol for authentication and authorization, which means that a
    Bearer (access token) should be acquired. An access token can be retrieved using the client_id and
    client_secret of the APP that you created and subscribed in this API. The scopes are defined below:

    **Token Endpoint:** 

        https://my.nbg.gr/identity/connect/token

    **Sandbox Scopes:** 

        sandbox-iban-beneficiary-validation-api-v1
      
    **Production Scopes:** 

        iban-beneficiary-validation-api-v1

    See more [here](https://developer.nbg.gr/oauth-document)

    ## Start Testing

    Once you have your sandbox-id, you can start invoking the rest of the operations by providing the
    mandatory http header **sandbox-id**  and the http headers described below.

    ## Important notes


    **Request headers**


    The following HTTP header parameters are required for every call:


    1. Authorization. The OAuth2 Token

    2. sandbox-id. Your Sandbox ID

    # Feedback and Questions

    We would love to hear your feedback and answer your questions. Send us at
    [developer@nbg.gr](developer@nbg.gr)

    Check out our [Sandbox Postman Collection](https://github.com/NBG-Developer-Portal/IBAN-Beneficiary-Validation-API)!

    ________________________________________

    Created by [**NBG**](https://www.nbg.gr/).
  contact:
    email: developer@nbg.gr
servers:
  - url: 'https://apis.nbg.gr/sandbox/iban.beneficiary.validation/oauth2/v1'
    description: Sandbox Server
paths:
  '/sandbox/{sandboxid}':
    get:
      tags:
        - Sandbox
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
        - examples:
            MyIbanValidatorSandbox:
              value: '"MyIbanValidatorSandbox"'
          name: sandboxid
          description: Sandbox ID
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Export a Sandbox
      description: Export a Sandbox
    delete:
      tags:
        - Sandbox
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
        - examples:
            MyIbanValidatorSandbox:
              value: '"MyIbanValidatorSandbox"'
          name: sandboxid
          description: Sandbox ID
          schema:
            type: string
          in: path
          required: true
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidded
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete a Sandbox
      description: Delete a Sandbox
    parameters:
      - examples:
          MyIbanValidatorSandbox:
            value: '"MyIbanValidatorSandbox"'
        name: sandboxid
        schema:
          type: string
        in: path
        required: true
  /sandbox:
    summary: Create or Update Sandbox
    description: Create or Update Sandbox
    put:
      requestBody:
        description: SandboxModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxModel'
        required: true
      tags:
        - Sandbox
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Internal Server Error\r\n"
      summary: Update Sandbox
      description: Update Sandbox
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxRequest'
      tags:
        - Sandbox
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Create Sandbox
      description: Create Sandbox
  /beneficiaryValidation/nbgIban:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateIbanRequest'
        required: true
      tags:
        - beneficiaryValidation
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Sandbox-Id
          description: The required "Sandbox ID"
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateIbanNbgResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get the beneficiaries of an NBG IBAN
      description: Get a list of the masked full names of the beneficiaries of an NBG IBAN.
  /beneficiaryValidation/otherBanksIban:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateIbanRequest'
            examples:
              IbanValidationRequest:
                value:
                  IBAN: GR9101097155386567765933961
        required: true
      tags:
        - beneficiaryValidation
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Sandbox-Id
          description: The required "Sandbox ID"
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidenceResponse'
              examples:
                ValidateNBGIBANViaConfidenceResponse:
                  value:
                    confidence: 100
                    likelyBeneficiary: Ε**n* I**n**u
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get the most likely full name of the beneficiary of a non-NBG IBAN
      description: Get the most likely full name of the alleged beneficiary of an IBAN held in other banks. A matching score exposes the variance of the alleged beneficiary name as observed in our remmitance data. A high confidence score indicates low variance among the observed beneficiaries in remmitances.     
  /beneficiaryValidation/nbgIbanDetailsMatch:
    post:
      requestBody:
        description: Validate NBG  IBAN via confidence
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateNbgIbanConfidenceRequest'
      tags:
        - beneficiaryValidation
      parameters:
        - name: Authorization
          description: Authorization
          schema:
            type: string
          in: header
          required: true
        - name: Sandbox-Id
          description: The required "Sandbox ID"
          schema:
            type: string
          in: header
          required: true
        - name: Client-Id
          description: Client Id
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateIbanConfidenceResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Match a beneficiary's details of an NBG IBAN
      description: Match a beneficiary's details of an NBG IBAN. In case of a false match, a confidence score exposes the discrepancy among the beneficiary\'s details.
components:
  schemas:
    AccountsBeneficiaries:
      title: Root Type for IBANBeneficiary
      description: Contains Iban from Account and Id from Beneficiary matrices
      required:
        - BeneficiaryIds
        - IBAN
        - Id
        - Confidence
      type: object
      properties:
        Id:
          description: Global Unique Identifier
          type: string
        IBAN:
          description: International Bank Account Number - IBAN
          type: string
        BeneficiaryIds:
          description: List of Ids as foreign keys of Beneficiary matrix
          type: array
          items:
            type: string
        Confidence:
          description: Confidence
          type: number
      example:
        Id: cf819b44-7b97-40c8-9408-a033ddbe1f6e
        BeneficiaryIds:
          - dcc3f385-ef97-41ac-aceb-9918d51062ea
          - 31a0cb8d-07f9-46b3-b487-b32f9161ac76
        iban: GR1601100400000004012345600
        confidence: 95
    Beneficiary:
      description: The beneficiary of any bank account would be the account holder
      required:
        - Id
        - FirstName
        - LastName
        - MaskedFirstName
        - MaskedLastName
        - MaskedMidName
        - MidName
        - Owner
        - TaxId
      type: object
      properties:
        Id:
          description: Global Unique Identifier
          type: integer
        CompanyName:
          description: Company Name
          type: string
        FirstName:
          description: First Name
          type: string
        MaskedFirstName:
          description: Masked First Name
          type: string
        MaskedMidName:
          description: Masked Middle Name
          type: string
        MaskedLastName:
          description: Masked Last Name
          type: string
        LastName:
          description: Last Name
          type: string
        MidName:
          description: Middle Name
          type: string
        TaxId:
          description: Tax Id number
          type: string
        Owner:
          description: Owner
          type: boolean
        DateOfBirth:
          description: Date of Birth
          type: string
      example:
        id: f319cdc1-6f20-4b2a-bb83-da11c669ee86
        firstName: Μαρία
        midName: ''
        lastName: Καλιμάντζαλη
        maskedFirstName: Μ***α
        maskedMidName: ''
        maskedLastName: Κ***μ****α*η
        taxId: '345788901'
        companyName: Ibm
        dateOfBirth: '1995-09-06'
        owner: true
    Account:
      description: A bank account is a financial account maintained by a bank or other financial institution in which the financial transactions between the bank and a customer are recorded.
      required:
        - Id
      type: object
      properties:
        Id:
          description: Global Unique Identifier
          type: string
        IBAN:
          description: IBAN
          type: string
        BankEn:
          description: Bank name in english
          type: string
        BankGr:
          description: Bank name in greek
          type: string
      example:
        id: 8051b546-2dc5-4655-ad5b-c37c626b3e5d
        IBAN: GR1601100400000004012345600
        bankEn: National Bank of Greece
        bankGr: Εθνική Τράπεζα Ελλάδος
    ConfidenceResponse:
      title: Root Type for ValidateNBGIBANViaConfidenceResponse
      description: ConfidenceResponse
      required: [Confidence]
      type: object
      properties:
        Confidence:
          description: Percentage of confidence that likely Beneficiary details match the actual Beneficiary details
          type: number
        LikelyBeneficiary:
          description: Likely Beneficiary of IBAN
          type: string
      example:
        likelyBeneficiary: Κ****ς Π*****π**λ*ς
        Confidence: 94
    ValidateIbanNbgResponse:
      title: Root Type for ValidateIbanResponse
      description: ''
      type: object
      properties:
        Beneficiaries:
          description: Arrya of Beneficiaries
          type: array
          items:
            type: string
      example:
        beneficiaries:
          - Γ**ρ**ς Κ****κ**
          - Κ****ς Π*****π**λ*ς
    ValidateIbanRequest:
      title: Root Type for IbanValidationRequest
      description: The expected request in order to validate an IBAN
      required:
        - iban
      type: object
      properties:
        iban:
          description: The IBAN to validate
          type: string
      example:
        iban: GR1601100400000004012345678
    SandboxRequest:
      title: Root Type for SandboxRequest
      description: Sandbox Request
      required:
        - SandboxId
      type: object
      properties:
        SandboxId:
          description: Sandbox Id
          type: string
      example:
        sandboxId: string
    SandboxResponse:
      title: Root Type for SandboxModel
      description: ''
      required:
        - SandboxDataModel
      type: object
      properties:
        SandboxDataModel:
          $ref: '#/components/schemas/SandboxDataModel'
          description: Sandbox Data Model
          properties:
            TODO:
              type: string
        SandboxId:
          description: Sandbox Id
          type: string
        Version:
          format: int32
          description: Sandbox Version
          type: integer
        Users:
          description: Lsit of Users
          type: array
          items:
            $ref: '#/components/schemas/User'
      example:
        SandboxDataModel:
          Accounts:
            - id: 8051b546-2dc5-4655-ad5b-c37c626b3e5d
              iban: GR1601100400000004012345600
              bankEn: National Bank of Greece
              bankGr: Εθνική Τράπεζα Ελλάδος
            - id: 38d5ecb6-a35d-4510-bdd0-6833f4217366
              iban: GR1601100400000004012345601
              bankEn: National Bank of Greece
              bankGr: Εθνική Τράπεζα Ελλάδος
            - id: a5a92cb9-a652-4913-9a34-b9bcde3bd6d4
              iban: GR1601100400000004012345602
              bankEn: National Bank of Greece
              bankGr: Εθνική Τράπεζα Ελλάδος
            - id: eb8aca6b-08fb-4784-9ca7-354c74ed387e
              iban: GR9101097155386567765933961
              bankEn: Eurobank
              bankGr: Eurobank
            - id: f00b1864-1ceb-44b2-8122-98f62192b275
              iban: GR9101097155386567765933999
              bankEn: Eurobank
              bankGr: Eurobank
            - id: 56fea933-38ab-49be-a73a-0bc66c075b0b
              iban: FR1420041010050500013M02606
              bankEn: LA BANQUE POSTALE
              bankGr: LA BANQUE POSTALE
          Beneficiaries:
            - id: dcc3f385-ef97-41ac-aceb-9918d51062ea
              firstName: Κωσταντίνος
              midName: ''
              lastName: Παπαδόπουλος
              maskedFirstName: Κ***αντ***
              maskedMidName: ''
              maskedLastName: Π*****π**λ*ς
              companyName: Tasty
              taxId: '12136678901'
              dateOfBirth: '1980-12-01T00:00:00'
              owner: true
            - id: 1987986a-0553-4167-a098-d2216d06cab4
              firstName: Νικολαος
              midName: ''
              lastName: Κρητικος
              maskedFirstName: Ν**ο***ς
              maskedMidName: ''
              maskedLastName: Κ**τ**ός
              companyName: Herz
              taxId: '124563456'
              dateOfBirth: '1979-06-01T00:00:00'
              owner: true
            - id: 5d9b5701-dbea-482d-b039-0ea79dfecf11
              firstName: Ιωαννης
              midName: ''
              lastName: Παπαδακης
              maskedFirstName: Ι***ν*ς
              maskedMidName: ''
              maskedLastName: Π***δ**ς
              companyName: AutoBesikos.AE
              taxId: '987344765'
              dateOfBirth: '1978-02-09T00:00:00'
              owner: false
            - id: 732f45b3-486d-452e-9226-2dbefedafa21
              firstName: Eleni
              midName: ''
              lastName: Iwannou
              maskedFirstName: Ε**n*
              maskedMidName: ''
              maskedLastName: I**n**u
              companyName: STEEAE
              taxId: '763441234'
              dateOfBirth: '1981-05-05T00:00:00'
              owner: true
            - id: d313fa8f-fa61-4901-963d-3a591606d00c
              firstName: Marios
              midName: ''
              lastName: Markakis
              maskedFirstName: M*r**s
              maskedMidName: ''
              maskedLastName: M**k**is
              companyName: CokaCola AE
              taxId: '768233456'
              dateOfBirth: '1981-06-29T00:00:00'
              owner: true
            - id: 31a0cb8d-07f9-46b3-b487-b32f9161ac76
              firstName: Γιωργος
              midName: ''
              lastName: Κυριακου
              maskedFirstName: Γ**ρ**ς
              maskedMidName: ''
              maskedLastName: Κ****κ**
              companyName: Interamerican
              taxId: '345788901'
              dateOfBirth: '1986-09-06T00:00:00'
              owner: false
            - id: f319cdc1-6f20-4b2a-bb83-da11c669ee86
              firstName: Μαρία
              midName: ''
              lastName: Καλιμάντζαλη
              maskedFirstName: Μ***α
              maskedMidName: ''
              maskedLastName: Κ***μ****α*η
              companyName: Ibm
              taxId: '345788901'
              dateOfBirth: '1995-09-06T00:00:00'
              owner: true
          AccountsBeneficiaries:
            - id: cf819b44-7b97-40c8-9408-a033ddbe1f6e
              iban: GR1601100400000004012345600
              beneficiaryIds:
                - dcc3f385-ef97-41ac-aceb-9918d51062ea
                - 31a0cb8d-07f9-46b3-b487-b32f9161ac76
              confidence: 95
            - id: 79067dc8-6d2f-47ec-9520-7cd5a17513f2
              iban: GR1601401010101002101047415
              beneficiaryIds:
                - 1987986a-0553-4167-a098-d2216d06cab4
              confidence: 80
            - id: fa527d3b-d795-49ba-a748-4e348c504772
              iban: GR9101097155386567765933961
              beneficiaryIds:
                - 5d9b5701-dbea-482d-b039-0ea79dfecf11
                - 732f45b3-486d-452e-9226-2dbefedafa21
              confidence: 100
            - id: 79067dc8-6d2f-47ec-9520-7cd5a17513f2
              iban: FR1420041010050500013M02606
              beneficiaryIds:
                - d313fa8f-fa61-4901-963d-3a591606d00c
              confidence: 94
            - id: cbca52c0-c30f-42fe-a216-7d30078516ed
              iban: GR9101097155386567765933999
              beneficiaryIds:
                - f319cdc1-6f20-4b2a-bb83-da11c669ee86
              confidence: 100
        SandboxId: my_Sandbox
        Version: 1
        Users:
          - userId: ''
    DeleteResponse:
      title: Root Type for DeleteResponse
      description: DeleteResponse
      type: object
      properties:
        payload:
          $ref: '#/components/schemas/Payload'
          description: Payload
          properties:
            Success:
              type: boolean
        exception:
          description: "exception\r\n"
          type: string
        messages:
          description: Messages
          type: string
        executionTime:
          description: Execution Time
          type: string
      example:
        payload:
          Success: true
        exception: string
        messages: string
        executionTime: string
    ErrorResponse:
      title: Root Type for ErrorResponse
      description: ErrorResponse
      type: object
      properties:
        errorMessage:
          description: 'Message that describes the error '
          type: string
      example:
        errorMessage: '"Sandbox with id ''replace_value'' already exists"'
    SandboxDataModel:
      description: ''
      required:
        - Accounts
        - Beneficiaries
        - AccountsBeneficiaries
      type: object
      properties:
        Beneficiaries:
          description: List of Beneficiary objects
          type: array
          items:
            $ref: '#/components/schemas/Beneficiary'
        AccountsBeneficiaries:
          description: List of AccountsBeneficiaries objects
          type: array
          items:
            $ref: '#/components/schemas/AccountsBeneficiaries'
        Accounts:
          description: List of Account objects
          type: array
          items:
            $ref: '#/components/schemas/Account'
      example:
        Accounts:
          - id: 8051b546-2dc5-4655-ad5b-c37c626b3e5d
            iban: GR1601100400000004012345600
            bankEn: National Bank of Greece
            bankGr: Εθνική Τράπεζα Ελλάδος
          - id: 38d5ecb6-a35d-4510-bdd0-6833f4217366
            iban: GR1601100400000004012345601
            bankEn: National Bank of Greece
            bankGr: Εθνική Τράπεζα Ελλάδος
          - id: a5a92cb9-a652-4913-9a34-b9bcde3bd6d4
            iban: GR1601100400000004012345602
            bankEn: National Bank of Greece
            bankGr: Εθνική Τράπεζα Ελλάδος
          - id: eb8aca6b-08fb-4784-9ca7-354c74ed387e
            iban: GR9101097155386567765933961
            bankEn: Eurobank
            bankGr: Eurobank
          - id: f00b1864-1ceb-44b2-8122-98f62192b275
            iban: GR9101097155386567765933999
            bankEn: Eurobank
            bankGr: Eurobank
          - id: 56fea933-38ab-49be-a73a-0bc66c075b0b
            iban: FR1420041010050500013M02606
            bankEn: LA BANQUE POSTALE
            bankGr: LA BANQUE POSTALE
        Beneficiaries:
          - id: dcc3f385-ef97-41ac-aceb-9918d51062ea
            firstName: Κωσταντίνος
            midName: ''
            lastName: Παπαδόπουλος
            maskedFirstName: Κ***αντ***
            maskedMidName: ''
            maskedLastName: Π*****π**λ*ς
            companyName: Tasty
            taxId: '12136678901'
            dateOfBirth: '1980-12-01T00:00:00'
            owner: true
          - id: 1987986a-0553-4167-a098-d2216d06cab4
            firstName: Νικολαος
            midName: ''
            lastName: Κρητικος
            maskedFirstName: Ν**ο***ς
            maskedMidName: ''
            maskedLastName: Κ**τ**ός
            companyName: Herz
            taxId: '124563456'
            dateOfBirth: '1979-06-01T00:00:00'
            owner: true
          - id: 5d9b5701-dbea-482d-b039-0ea79dfecf11
            firstName: Ιωαννης
            midName: ''
            lastName: Παπαδακης
            maskedFirstName: Ι***ν*ς
            maskedMidName: ''
            maskedLastName: Π***δ**ς
            companyName: AutoBesikos.AE
            taxId: '987344765'
            dateOfBirth: '1978-02-09T00:00:00'
            owner: false
          - id: 732f45b3-486d-452e-9226-2dbefedafa21
            firstName: Eleni
            midName: ''
            lastName: Iwannou
            maskedFirstName: Ε**n*
            maskedMidName: ''
            maskedLastName: I**n**u
            companyName: STEEAE
            taxId: '763441234'
            dateOfBirth: '1981-05-05T00:00:00'
            owner: true
          - id: d313fa8f-fa61-4901-963d-3a591606d00c
            firstName: Marios
            midName: ''
            lastName: Markakis
            maskedFirstName: M*r**s
            maskedMidName: ''
            maskedLastName: M**k**is
            companyName: CokaCola AE
            taxId: '768233456'
            dateOfBirth: '1981-06-29T00:00:00'
            owner: true
          - id: 31a0cb8d-07f9-46b3-b487-b32f9161ac76
            firstName: Γιωργος
            midName: ''
            lastName: Κυριακου
            maskedFirstName: Γ**ρ**ς
            maskedMidName: ''
            maskedLastName: Κ****κ**
            companyName: Interamerican
            taxId: '345788901'
            dateOfBirth: '1986-09-06T00:00:00'
            owner: false
          - id: f319cdc1-6f20-4b2a-bb83-da11c669ee86
            firstName: Μαρία
            midName: ''
            lastName: Καλιμάντζαλη
            maskedFirstName: Μ***α
            maskedMidName: ''
            maskedLastName: Κ***μ****α*η
            companyName: Ibm
            taxId: '345788901'
            dateOfBirth: '1995-09-06T00:00:00'
            owner: true
        AccountsBeneficiaries:
          - id: cf819b44-7b97-40c8-9408-a033ddbe1f6e
            iban: GR1601100400000004012345600
            beneficiaryIds:
              - dcc3f385-ef97-41ac-aceb-9918d51062ea
              - 31a0cb8d-07f9-46b3-b487-b32f9161ac76
            confidence: 95
          - id: 79067dc8-6d2f-47ec-9520-7cd5a17513f2
            iban: GR1601401010101002101047415
            beneficiaryIds:
              - 1987986a-0553-4167-a098-d2216d06cab4
            confidence: 80
          - id: fa527d3b-d795-49ba-a748-4e348c504772
            iban: GR9101097155386567765933961
            beneficiaryIds:
              - 5d9b5701-dbea-482d-b039-0ea79dfecf11
              - 732f45b3-486d-452e-9226-2dbefedafa21
            confidence: 100
          - id: 79067dc8-6d2f-47ec-9520-7cd5a17513f2
            iban: FR1420041010050500013M02606
            beneficiaryIds:
              - d313fa8f-fa61-4901-963d-3a591606d00c
            confidence: 94
          - id: cbca52c0-c30f-42fe-a216-7d30078516ed
            iban: GR9101097155386567765933999
            beneficiaryIds:
              - f319cdc1-6f20-4b2a-bb83-da11c669ee86
            confidence: 100
    Payload:
      title: Root Type for Payload
      description: Payload
      type: object
      properties:
        success:
          description: Success Indication
          type: boolean
      example:
        success: true
    User:
      title: Root Type for User
      description: ''
      type: object
      properties:
        UserId:
          description: User Id
          type: string
      example:
        UserId: ''
    ValidateIbanConfidenceResponse:
      description: The response of ValidateNbgIbanMatch Endpoint
      required:
        - match
        - matchingScore
      type: object
      properties:
        match:
          description: A flag indicating the matching boolean result
          type: string
        matchingScore:
          description: The average matching score of the input values with the real values
          type: number
      example:
        match: false
        matchingScore: 94
    ValidateNbgIbanConfidenceRequest:
      title: Root Type for ValidateNbgIbanMatchRequest
      description: Request for ValidateNbgIbanMatch Endpoint
      required:
        - iban
      type: object
      properties:
        iban:
          description: The IBAN to validate
          type: string
        companyName:
          description: The company name
          type: string
        likelyBeneficiaryName:
          description: The First Name of likely Beneficiary
          type: string
        likelyBeneficiarySurname:
          description: The Last Name of likely Beneficiary
          type: string
        llikelyBeneficiaryMidName:
          description: The Middle Name of likely Beneficiary
          type: string
        dateOfBirth:
          description: Date of Birth
          type: number
      example:
        IBAN: GR1601100400000004012345600
        likelyBeneficiaryName: Κωσταντίνος
        likelyBeneficiaryMidName: ''
        likeliyBeneficiarySurName: Παπαδόπουλος
        dateOfBirth: '1980-12-01'
    SandboxModel:
      title: Root Type for SandboxModel
      description: ''
      required:
        - SandboxDataModel
        - Users
      type: object
      properties:
        SandboxDataModel:
          $ref: '#/components/schemas/SandboxDataModel'
          description: "Sandbox Data Model\r\n"
          properties:
            TODO:
              type: string
        SandboxId:
          description: Sandbox Id
          type: string
        Version:
          format: int32
          description: "Sandbox Version\r\n"
          type: integer
        Users:
          description: Lsit of Users
          type: array
          items:
            $ref: '#/components/schemas/User'
      example:
        SandboxDataModel:
          Accounts:
            - id: 8051b546-2dc5-4655-ad5b-c37c626b3e5d
              iban: GR1601100400000004012345600
              bankEn: National Bank of Greece
              bankGr: Εθνική Τράπεζα Ελλάδος
            - id: 38d5ecb6-a35d-4510-bdd0-6833f4217366
              iban: GR1601100400000004012345601
              bankEn: National Bank of Greece
              bankGr: Εθνική Τράπεζα Ελλάδος
            - id: a5a92cb9-a652-4913-9a34-b9bcde3bd6d4
              iban: GR1601100400000004012345602
              bankEn: National Bank of Greece
              bankGr: Εθνική Τράπεζα Ελλάδος
            - id: eb8aca6b-08fb-4784-9ca7-354c74ed387e
              iban: GR9101097155386567765933961
              bankEn: Eurobank
              bankGr: Eurobank
            - id: f00b1864-1ceb-44b2-8122-98f62192b275
              iban: GR9101097155386567765933999
              bankEn: Eurobank
              bankGr: Eurobank
            - id: 56fea933-38ab-49be-a73a-0bc66c075b0b
              iban: FR1420041010050500013M02606
              bankEn: LA BANQUE POSTALE
              bankGr: LA BANQUE POSTALE
          Beneficiaries:
            - id: dcc3f385-ef97-41ac-aceb-9918d51062ea
              firstName: Κωσταντίνος
              midName: ''
              lastName: Παπαδόπουλος
              maskedFirstName: Κ***αντ***
              maskedMidName: ''
              maskedLastName: Π*****π**λ*ς
              companyName: Tasty
              taxId: '12136678901'
              dateOfBirth: '1980-12-01T00:00:00'
              owner: true
            - id: 1987986a-0553-4167-a098-d2216d06cab4
              firstName: Νικολαος
              midName: ''
              lastName: Κρητικος
              maskedFirstName: Ν**ο***ς
              maskedMidName: ''
              maskedLastName: Κ**τ**ός
              companyName: Herz
              taxId: '124563456'
              dateOfBirth: '1979-06-01T00:00:00'
              owner: true
            - id: 5d9b5701-dbea-482d-b039-0ea79dfecf11
              firstName: Ιωαννης
              midName: ''
              lastName: Παπαδακης
              maskedFirstName: Ι***ν*ς
              maskedMidName: ''
              maskedLastName: Π***δ**ς
              companyName: AutoBesikos.AE
              taxId: '987344765'
              dateOfBirth: '1978-02-09T00:00:00'
              owner: false
            - id: 732f45b3-486d-452e-9226-2dbefedafa21
              firstName: Eleni
              midName: ''
              lastName: Iwannou
              maskedFirstName: Ε**n*
              maskedMidName: ''
              maskedLastName: I**n**u
              companyName: STEEAE
              taxId: '763441234'
              dateOfBirth: '1981-05-05T00:00:00'
              owner: true
            - id: d313fa8f-fa61-4901-963d-3a591606d00c
              firstName: Marios
              midName: ''
              lastName: Markakis
              maskedFirstName: M*r**s
              maskedMidName: ''
              maskedLastName: M**k**is
              companyName: CokaCola AE
              taxId: '768233456'
              dateOfBirth: '1981-06-29T00:00:00'
              owner: true
            - id: 31a0cb8d-07f9-46b3-b487-b32f9161ac76
              firstName: Γιωργος
              midName: ''
              lastName: Κυριακου
              maskedFirstName: Γ**ρ**ς
              maskedMidName: ''
              maskedLastName: Κ****κ**
              companyName: Interamerican
              taxId: '345788901'
              dateOfBirth: '1986-09-06T00:00:00'
              owner: false
            - id: f319cdc1-6f20-4b2a-bb83-da11c669ee86
              firstName: Μαρία
              midName: ''
              lastName: Καλιμάντζαλη
              maskedFirstName: Μ***α
              maskedMidName: ''
              maskedLastName: Κ***μ****α*η
              companyName: Ibm
              taxId: '345788901'
              dateOfBirth: '1995-09-06T00:00:00'
              owner: true
          AccountsBeneficiaries:
            - id: cf819b44-7b97-40c8-9408-a033ddbe1f6e
              iban: GR1601100400000004012345600
              beneficiaryIds:
                - dcc3f385-ef97-41ac-aceb-9918d51062ea
                - 31a0cb8d-07f9-46b3-b487-b32f9161ac76
              confidence: 95
            - id: 79067dc8-6d2f-47ec-9520-7cd5a17513f2
              iban: GR1601401010101002101047415
              beneficiaryIds:
                - 1987986a-0553-4167-a098-d2216d06cab4
              confidence: 80
            - id: fa527d3b-d795-49ba-a748-4e348c504772
              iban: GR9101097155386567765933961
              beneficiaryIds:
                - 5d9b5701-dbea-482d-b039-0ea79dfecf11
                - 732f45b3-486d-452e-9226-2dbefedafa21
              confidence: 100
            - id: 79067dc8-6d2f-47ec-9520-7cd5a17513f2
              iban: FR1420041010050500013M02606
              beneficiaryIds:
                - d313fa8f-fa61-4901-963d-3a591606d00c
              confidence: 94
            - id: cbca52c0-c30f-42fe-a216-7d30078516ed
              iban: GR9101097155386567765933999
              beneficiaryIds:
                - f319cdc1-6f20-4b2a-bb83-da11c669ee86
              confidence: 100
        SandboxId: string
        Version: 0
        Users:
          - UserId: string