swagger: '2.0'
info:
  title: Social Network Application
  description: >
    ## Functionality at a glance


    Start integrating your application with NBG Bank and be able to:
    

    **1.** Create and administrate a social network

      1. Send announcements/promotions to all members of the network

    **2.** Give your customers the ability to:

    1. Register in the new network

    2. To upload friends/contacts or discover new ones 

    3. Check/Create/React/Reply on a post

    4. Send/React/reply on a direct message


    ## Quick Getting Started
    
    
    1. **Login/Register** to the NBG Technology HUB
    
    2. Go to **"APPS"**
    
    3. Select your Organization and go to step 4. If you want to create a new Organization click **\"CREATE AN ORGANIZATION\"** and follow the steps below:
        1. Enter the title of your Organization
        2. Enter a short description of your Organization (optional)
        3. Click **"SUBMIT"**
        
    4. Select the Organization of choice and click **"ADD AN APPLICATION"** 
          1. Fill in the forms (title and short description)
          2. Check **\"Authorization Code\" and \"Client Credentials\"** 
          3. Enter the **OAuth Redirect and Post Logout URIs** (these are the URIs that we will redirect the user upon logging in and logging out respectively)
              
              You can use the following redirect URL to easily test the API through the portal: *https://developer.nbg.gr/oauth2/redoc-callback*
          4. Click **"SUBMIT"**
          5. Store the APPs **"Client ID"** and **"Client Secret"**
    5. Go to **"API PRODUCTS"** and select the **SOCIAL NETWORK PLATFORM API**
    
    6. Click **\"START USING THIS API\"**, choose your app and click
    **"SUBSCRIBE"**
    
    7. Create a Sandbox
    
    8. Play with the API

    ## Create your Sandbox

    Sandboxes are self - contained testing environments that provide a simple
    way of testing the API without any real impact, meaning that no personal or
    financial data is used.


    You can create **your Sandbox** by invoking the **POST** /api/sandbox call.
    This call will generate a new Sandbox with a **unique sandbox_id**.


    **_Important!_** Don't lose your sandbox_id, since you will need it for all the
    API calls. Sandbox endpoints are not included in the production version API.


    When you create a sandbox, users and sandbox specific data are generated as sample data.


    The following HTTP header parameters are required for every call (except for
    sandbox operations):

    1. sandbox_id

    2. application_id

    3. user_id

    4. username

    5. provider_id

    6. provider


    Get to know the Sandbox Operations in the related section. 



    ## Start Testing

    Once you have your sandbox_id, you can start invoking the rest of the
    operations by providing all the mandatory information in the http header. 



    ## Important notes

    Request headers
    
    Each request MUST have the following info:
    

    *sandbox_id*, *application_id*, *user_id*, * username*, * provider_id*,
    *provider*



    ## Error Codes:

    * NBG-10000: Header is missing

    * NBG-10001: Invalid header parameter sandbox_id

    * NBG-10002: Invalid header parameter user_id

    * NBG-10003: Invalid header parameter provider_id

    * NBG-10004: Invalid header parameter provider

    * NBG-10005: Invalid header parameter username

    * NBG-10006: Invalid request headers

    * NBG-20001: Invalid sandboxID

    * NBG-20002: Concurrency exception. Please try again

    * NBG-20003: Incorrect Json Format

    * NBG-20004: Declaration already accepted

    * NBG-20005: Not Valid Action

    * NBG-20006: Declaration already declined

    * NBG-20007: Terms must be accepted

    * NBG-20008: Verification process did not succeed

    * NBG-20009: Registration process did not succeed

    * NBG-20010: Image dimensions must not exceed 300 * 300 pixels

    * NBG-30001: Sandbox Not Found

    * NBG-30002: Active Social Network Not Found

    * NBG-30003: Active Member Not Found

    * NBG-30004: Pending Member for Registration Not Found

    * NBG-30005: Registered Contact Not Found

    * NBG-30006: Post Not Found

    * NBG-30007: Message Not Found

    * NBG-30008: Terms Not Found

    * NBG-30009: Declaration Not Found

    * NBG-40001: Sandbox with the same sandboxID already exists!

    * NBG-40002: Member with the same identity and identityType already exists!

    * NBG-40004: User is Already Linked to a member!

    * NBG-40005: One or more Contact Already Exists

    * NBG-40006: User with the same username already exists!

    * NBG-40007: Member is banned

    * NBG-40008: Member activation is pending

    * NBG-40009: Member cannot add him/her as a contact

    * NBG-40010: Member is already Active

    * NBG-50000: User not logged in. Authentication is required

    * NBG-50001: User is not an administrator

    * NBG-50002: One or more action exist upon declaration. Please create a new one and/or deactivate the existing one.

    * NBG-60000: Cannot Create Sandbox

    * NBG-60001: Cannot Update Sandbox

    * NBG-60003: Cannot UnRegister Member

    * NBG-60004: Cannot add action

    * NBG-60005: Cannot add declaration

    * NBG-60006: Cannot add reaction

    * NBG-60007: Cannot add post

    * NBG-60008: Cannot add message

    * NBG-60009: Cannot add one or more contacts

    * NBG-60010: Cannot update declaration

    * SBX-60002: Cannot Delete Sandbox

    * NBG-60011: Cannot Register Member


    ## Feedback and Questions

    We would love to hear your feedback and answer your questions. Send us at
    [developer@nbg.gr](developer@nbg.gr)


    Check out our [Sandbox Postman
    Collection](https://github.com/NBG-Developer-Portal/Social-Network-API)!


    ------------------------------------------------------------------------------------------ 


    Created by [**NBG**](https://www.nbg.gr/).
    

    ------------------------------------------------------------------------------------------

    ------------------------------------------------------------------------------------------
    
  contact: {}
  version: v2.2
host: apis.nbg.gr
basePath: /sandbox/socialnetwork/headers/v2.2
schemes:
  - https
paths:
  /Administration/declarationCreation:
    post:
      tags:
        - Administration
      summary: Create Declaration
      description: "An Administrator has the ability to create a declaration.



Types of declaration are:

- Terms

- Announcement

- Promotion


Sample request:



    POST /declarationCreation

    {

        \"socialNetworkId\": \"B3660585-74CA-45CF-BA32-EC3E6C0268E8\",

        \"descriptionEn\": \"Description\",

        \"descriptionEl\": \"Περιγραφή\",

        \"type\": \"Announcement\"

    }"
      operationId: Administration_declarationCreation
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/Request%5BDeclarationCreationRequest%5D'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BGenericResponse%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "username: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "user_id: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD
            STRING VALUE>\",\"bank\":\"<ADD STRING
            VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD
            STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"descriptionEl\":\"<ADD STRING
            VALUE>\",\"type\":\"Terms\"}}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("username", "SOME_STRING_VALUE");

            request.AddHeader("user_id", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"header\":{\"ID\":\"<ADD
            STRING VALUE>\",\"application\":\"<ADD STRING
            VALUE>\",\"bank\":\"<ADD STRING VALUE>\",\"hostSession\":\"<ADD
            STRING VALUE>\",\"channel\":\"<ADD STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"descriptionEl\":\"<ADD STRING
            VALUE>\",\"type\":\"Terms\"}}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation\"



  payload := strings.NewReader(\"{\\\"header\\\":{\\\"ID\\\":\\\"<ADD STRING VALUE>\\\",\\\"application\\\":\\\"<ADD STRING VALUE>\\\",\\\"bank\\\":\\\"<ADD STRING VALUE>\\\",\\\"hostSession\\\":\\\"<ADD STRING VALUE>\\\",\\\"channel\\\":\\\"<ADD STRING VALUE>\\\",\\\"customer\\\":0,\\\"logitude\\\":0,\\\"latitude\\\":0,\\\"go4moreMember\\\":false,\\\"TAN\\\":\\\"<ADD STRING VALUE>\\\"},\\\"payload\\\":{\\\"socialNetworkId\\\":\\\"<ADD STRING VALUE>\\\",\\\"descriptionEn\\\":\\\"<ADD STRING VALUE>\\\",\\\"descriptionEl\\\":\\\"<ADD STRING VALUE>\\\",\\\"type\\\":\\\"Terms\\\"}}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"user_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD
            STRING VALUE>\",\"bank\":\"<ADD STRING
            VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD
            STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"descriptionEl\":\"<ADD STRING
            VALUE>\",\"type\":\"Terms\"}}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("user_id", "SOME_STRING_VALUE")
              .addHeader("username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 username: 'SOME_STRING_VALUE',
                 user_id: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { header:
                  { ID: '<ADD STRING VALUE>',
                    application: '<ADD STRING VALUE>',
                    bank: '<ADD STRING VALUE>',
                    hostSession: '<ADD STRING VALUE>',
                    channel: '<ADD STRING VALUE>',
                    customer: 0,
                    logitude: 0,
                    latitude: 0,
                    go4moreMember: false,
                    TAN: '<ADD STRING VALUE>' },
                 payload:
                  { socialNetworkId: '<ADD STRING VALUE>',
                    descriptionEn: '<ADD STRING VALUE>',
                    descriptionEl: '<ADD STRING VALUE>',
                    type: 'Terms' } },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD STRING VALUE>\",\"bank\":\"<ADD STRING VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD STRING VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING VALUE>\",\"descriptionEn\":\"<ADD STRING VALUE>\",\"descriptionEl\":\"<ADD STRING VALUE>\",\"type\":\"Terms\"}}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE",
                "user_id: SOME_STRING_VALUE",
                "username: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"header\":{\"ID\":\"<ADD STRING
            VALUE>\",\"application\":\"<ADD STRING VALUE>\",\"bank\":\"<ADD
            STRING VALUE>\",\"hostSession\":\"<ADD STRING
            VALUE>\",\"channel\":\"<ADD STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"descriptionEl\":\"<ADD STRING
            VALUE>\",\"type\":\"Terms\"}}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'sandbox_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'user_id': "SOME_STRING_VALUE",
                'username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["user_id"] = 'SOME_STRING_VALUE'

            request["username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"header\":{\"ID\":\"<ADD STRING
            VALUE>\",\"application\":\"<ADD STRING VALUE>\",\"bank\":\"<ADD
            STRING VALUE>\",\"hostSession\":\"<ADD STRING
            VALUE>\",\"channel\":\"<ADD STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"descriptionEl\":\"<ADD STRING
            VALUE>\",\"type\":\"Terms\"}}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationCreation \
              --header 'accept: application/json' \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE' \
              --header 'user_id: SOME_STRING_VALUE' \
              --header 'username: SOME_STRING_VALUE' \
              --data '{"header":{"ID":"<ADD STRING VALUE>","application":"<ADD STRING VALUE>","bank":"<ADD STRING VALUE>","hostSession":"<ADD STRING VALUE>","channel":"<ADD STRING VALUE>","customer":0,"logitude":0,"latitude":0,"go4moreMember":false,"TAN":"<ADD STRING VALUE>"},"payload":{"socialNetworkId":"<ADD STRING VALUE>","descriptionEn":"<ADD STRING VALUE>","descriptionEl":"<ADD STRING VALUE>","type":"Terms"}}'
  /Administration/declarationUpdate:
    post:
      tags:
        - Administration
      summary: Update Declaration
      description: "An Administrator has the ability to update a specific declaration.



Types of declaration are:

- Terms

- Announcement

- Promotion



Possible  values for status are:

- Active

- Inactive

- Cancelled





Sample request:



    POST /declarationUpdate

    {

        \"socialNetworkId\": \"B3660585-74CA-45CF-BA32-EC3E6C0268E8\",

        \"descriptionEn\": \"Description Update\",

        \"descriptionEl\": \"Ενημέρωση περιγραφής\",

        \"declarationId\": \"2405F2E6-5E98-4663-B067-87A9B9A67C3B\",

        \"status\": \"Active\"

    }"
      operationId: Administration_declarationUpdate
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/Request%5BDeclarationUpdateRequest%5D'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BGenericResponse%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "username: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "user_id: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD
            STRING VALUE>\",\"bank\":\"<ADD STRING
            VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD
            STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"declarationId\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\",\"descriptionEl\":\"<ADD STRING
            VALUE>\"}}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("username", "SOME_STRING_VALUE");

            request.AddHeader("user_id", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"header\":{\"ID\":\"<ADD
            STRING VALUE>\",\"application\":\"<ADD STRING
            VALUE>\",\"bank\":\"<ADD STRING VALUE>\",\"hostSession\":\"<ADD
            STRING VALUE>\",\"channel\":\"<ADD STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"declarationId\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\",\"descriptionEl\":\"<ADD STRING
            VALUE>\"}}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate\"



  payload := strings.NewReader(\"{\\\"header\\\":{\\\"ID\\\":\\\"<ADD STRING VALUE>\\\",\\\"application\\\":\\\"<ADD STRING VALUE>\\\",\\\"bank\\\":\\\"<ADD STRING VALUE>\\\",\\\"hostSession\\\":\\\"<ADD STRING VALUE>\\\",\\\"channel\\\":\\\"<ADD STRING VALUE>\\\",\\\"customer\\\":0,\\\"logitude\\\":0,\\\"latitude\\\":0,\\\"go4moreMember\\\":false,\\\"TAN\\\":\\\"<ADD STRING VALUE>\\\"},\\\"payload\\\":{\\\"socialNetworkId\\\":\\\"<ADD STRING VALUE>\\\",\\\"descriptionEn\\\":\\\"<ADD STRING VALUE>\\\",\\\"declarationId\\\":\\\"<ADD STRING VALUE>\\\",\\\"status\\\":\\\"Active\\\",\\\"descriptionEl\\\":\\\"<ADD STRING VALUE>\\\"}}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"user_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD
            STRING VALUE>\",\"bank\":\"<ADD STRING
            VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD
            STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"declarationId\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\",\"descriptionEl\":\"<ADD STRING
            VALUE>\"}}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("user_id", "SOME_STRING_VALUE")
              .addHeader("username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 username: 'SOME_STRING_VALUE',
                 user_id: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { header:
                  { ID: '<ADD STRING VALUE>',
                    application: '<ADD STRING VALUE>',
                    bank: '<ADD STRING VALUE>',
                    hostSession: '<ADD STRING VALUE>',
                    channel: '<ADD STRING VALUE>',
                    customer: 0,
                    logitude: 0,
                    latitude: 0,
                    go4moreMember: false,
                    TAN: '<ADD STRING VALUE>' },
                 payload:
                  { socialNetworkId: '<ADD STRING VALUE>',
                    descriptionEn: '<ADD STRING VALUE>',
                    declarationId: '<ADD STRING VALUE>',
                    status: 'Active',
                    descriptionEl: '<ADD STRING VALUE>' } },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD STRING VALUE>\",\"bank\":\"<ADD STRING VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD STRING VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING VALUE>\",\"descriptionEn\":\"<ADD STRING VALUE>\",\"declarationId\":\"<ADD STRING VALUE>\",\"status\":\"Active\",\"descriptionEl\":\"<ADD STRING VALUE>\"}}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE",
                "user_id: SOME_STRING_VALUE",
                "username: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"header\":{\"ID\":\"<ADD STRING
            VALUE>\",\"application\":\"<ADD STRING VALUE>\",\"bank\":\"<ADD
            STRING VALUE>\",\"hostSession\":\"<ADD STRING
            VALUE>\",\"channel\":\"<ADD STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"declarationId\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\",\"descriptionEl\":\"<ADD STRING
            VALUE>\"}}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'sandbox_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'user_id': "SOME_STRING_VALUE",
                'username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["user_id"] = 'SOME_STRING_VALUE'

            request["username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"header\":{\"ID\":\"<ADD STRING
            VALUE>\",\"application\":\"<ADD STRING VALUE>\",\"bank\":\"<ADD
            STRING VALUE>\",\"hostSession\":\"<ADD STRING
            VALUE>\",\"channel\":\"<ADD STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"descriptionEn\":\"<ADD STRING
            VALUE>\",\"declarationId\":\"<ADD STRING
            VALUE>\",\"status\":\"Active\",\"descriptionEl\":\"<ADD STRING
            VALUE>\"}}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/Administration/declarationUpdate \
              --header 'accept: application/json' \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE' \
              --header 'user_id: SOME_STRING_VALUE' \
              --header 'username: SOME_STRING_VALUE' \
              --data '{"header":{"ID":"<ADD STRING VALUE>","application":"<ADD STRING VALUE>","bank":"<ADD STRING VALUE>","hostSession":"<ADD STRING VALUE>","channel":"<ADD STRING VALUE>","customer":0,"logitude":0,"latitude":0,"go4moreMember":false,"TAN":"<ADD STRING VALUE>"},"payload":{"socialNetworkId":"<ADD STRING VALUE>","descriptionEn":"<ADD STRING VALUE>","declarationId":"<ADD STRING VALUE>","status":"Active","descriptionEl":"<ADD STRING VALUE>"}}'
  /sandbox:
    post:
      tags:
        - Sandbox
      summary: Create Sandbox
      description: >-
        Creates a sandbox with unique sandbox id. This call can also be used to
        create users, members, contacts, posts, messages etc.
      operationId: Sandbox_CreateSandbox
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/SandboxRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Response%5BSandboxDataModelV2%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"sandboxId\":\"<ADD
            STRING VALUE>\"}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"sandboxId\":\"<ADD
            STRING VALUE>\"}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox\"



  payload := strings.NewReader(\"{\\\"sandboxId\\\":\\\"<ADD STRING VALUE>\\\"}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"sandboxId\":\"<ADD STRING VALUE>\"}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body: { sandboxId: '<ADD STRING VALUE>' },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"sandboxId\":\"<ADD STRING VALUE>\"}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"sandboxId\":\"<ADD STRING VALUE>\"}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST", "/sandbox/socialnetwork/headers/v2.2/sandbox",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"sandboxId\":\"<ADD STRING VALUE>\"}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox \
              --header 'accept: application/json' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"sandboxId":"<ADD STRING VALUE>"}'
  '/sandbox/{sandbox_id}':
    get:
      tags:
        - Sandbox
      summary: Export Sandbox
      description: Export Sandbox data specified by sandbox id.
      operationId: Sandbox_ExportSandbox
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: sandbox_id
          in: path
          description: Sandbox ID
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BSandboxDataModelV2%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D");

            var request = new RestRequest(Method.GET);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D\"



  req, _ := http.NewRequest(\"GET\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D")
              .get()
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("GET",
            "/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request GET \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json'
    put:
      tags:
        - Sandbox
      operationId: Sandbox_ImportSandbox
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: sandbox_id
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/SandboxDataModelV2'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BSandboxDataModelV2%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "PUT");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"SandboxID\":\"<ADD
            STRING VALUE>\",\"Users\":[{\"UserId\":\"<ADD STRING
            VALUE>\",\"Username\":\"<ADD STRING VALUE>\",\"ProviderId\":\"<ADD
            STRING VALUE>\",\"Provider\":\"<ADD STRING
            VALUE>\",\"SocialNetworkId\":\"<ADD STRING
            VALUE>\",\"MemberId\":\"<ADD STRING
            VALUE>\",\"IsAdmin\":false}],\"SocialNetworks\":[{\"SocialNetworkId\":\"<ADD
            STRING VALUE>\",\"SocialNetworkName\":\"<ADD STRING
            VALUE>\",\"SocialNetworkDescription\":\"<ADD STRING
            VALUE>\",\"SocialNetworkOwner\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"SocialNetworkMembers\":[{\"MemberId\":\"<ADD
            STRING VALUE>\",\"ContactId\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"FirstName\":\"<ADD STRING
            VALUE>\",\"LastName\":\"<ADD STRING VALUE>\",\"Alias\":\"<ADD STRING
            VALUE>\",\"Avatar\":\"<ADD STRING
            VALUE>\",\"Gender\":\"Male\",\"BirthDate\":\"<ADD STRING
            VALUE>\",\"IsVerified\":false,\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"SocialNetworkPosts\":[{\"PostId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkMessages\":[{\"MessageId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Source\":\"<ADD STRING VALUE>\",\"Destination\":\"<ADD
            STRING VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkContacts\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"ContactStatus\":\"Uploaded\",\"ContactType\":\"Contact\",\"IsVerified\":false}],\"SocialNetworkDeclarations\":[{\"DeclarationId\":\"<ADD
            STRING VALUE>\",\"DeclarationEl\":\"<ADD STRING
            VALUE>\",\"DeclarationEn\":\"<ADD STRING
            VALUE>\",\"DeclarationType\":\"Terms\",\"DeclarationStatus\":\"Active\",\"ActionStatus\":\"Pending\",\"Timestamp\":\"<ADD
            STRING VALUE>\",\"Order\":0}]}]}]}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D");

            var request = new RestRequest(Method.PUT);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"SandboxID\":\"<ADD
            STRING VALUE>\",\"Users\":[{\"UserId\":\"<ADD STRING
            VALUE>\",\"Username\":\"<ADD STRING VALUE>\",\"ProviderId\":\"<ADD
            STRING VALUE>\",\"Provider\":\"<ADD STRING
            VALUE>\",\"SocialNetworkId\":\"<ADD STRING
            VALUE>\",\"MemberId\":\"<ADD STRING
            VALUE>\",\"IsAdmin\":false}],\"SocialNetworks\":[{\"SocialNetworkId\":\"<ADD
            STRING VALUE>\",\"SocialNetworkName\":\"<ADD STRING
            VALUE>\",\"SocialNetworkDescription\":\"<ADD STRING
            VALUE>\",\"SocialNetworkOwner\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"SocialNetworkMembers\":[{\"MemberId\":\"<ADD
            STRING VALUE>\",\"ContactId\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"FirstName\":\"<ADD STRING
            VALUE>\",\"LastName\":\"<ADD STRING VALUE>\",\"Alias\":\"<ADD STRING
            VALUE>\",\"Avatar\":\"<ADD STRING
            VALUE>\",\"Gender\":\"Male\",\"BirthDate\":\"<ADD STRING
            VALUE>\",\"IsVerified\":false,\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"SocialNetworkPosts\":[{\"PostId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkMessages\":[{\"MessageId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Source\":\"<ADD STRING VALUE>\",\"Destination\":\"<ADD
            STRING VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkContacts\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"ContactStatus\":\"Uploaded\",\"ContactType\":\"Contact\",\"IsVerified\":false}],\"SocialNetworkDeclarations\":[{\"DeclarationId\":\"<ADD
            STRING VALUE>\",\"DeclarationEl\":\"<ADD STRING
            VALUE>\",\"DeclarationEn\":\"<ADD STRING
            VALUE>\",\"DeclarationType\":\"Terms\",\"DeclarationStatus\":\"Active\",\"ActionStatus\":\"Pending\",\"Timestamp\":\"<ADD
            STRING VALUE>\",\"Order\":0}]}]}]}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D\"



  payload := strings.NewReader(\"{\\\"SandboxID\\\":\\\"<ADD STRING VALUE>\\\",\\\"Users\\\":[{\\\"UserId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Username\\\":\\\"<ADD STRING VALUE>\\\",\\\"ProviderId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Provider\\\":\\\"<ADD STRING VALUE>\\\",\\\"SocialNetworkId\\\":\\\"<ADD STRING VALUE>\\\",\\\"MemberId\\\":\\\"<ADD STRING VALUE>\\\",\\\"IsAdmin\\\":false}],\\\"SocialNetworks\\\":[{\\\"SocialNetworkId\\\":\\\"<ADD STRING VALUE>\\\",\\\"SocialNetworkName\\\":\\\"<ADD STRING VALUE>\\\",\\\"SocialNetworkDescription\\\":\\\"<ADD STRING VALUE>\\\",\\\"SocialNetworkOwner\\\":\\\"<ADD STRING VALUE>\\\",\\\"Status\\\":\\\"Active\\\",\\\"SocialNetworkMembers\\\":[{\\\"MemberId\\\":\\\"<ADD STRING VALUE>\\\",\\\"ContactId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Status\\\":\\\"Active\\\",\\\"FirstName\\\":\\\"<ADD STRING VALUE>\\\",\\\"LastName\\\":\\\"<ADD STRING VALUE>\\\",\\\"Alias\\\":\\\"<ADD STRING VALUE>\\\",\\\"Avatar\\\":\\\"<ADD STRING VALUE>\\\",\\\"Gender\\\":\\\"Male\\\",\\\"BirthDate\\\":\\\"<ADD STRING VALUE>\\\",\\\"IsVerified\\\":false,\\\"Identity\\\":\\\"<ADD STRING VALUE>\\\",\\\"IdentityType\\\":\\\"Mobile\\\",\\\"IdentityStatus\\\":\\\"Pending\\\",\\\"SocialNetworkPosts\\\":[{\\\"PostId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Timestamp\\\":\\\"<ADD STRING VALUE>\\\",\\\"Content\\\":\\\"<ADD STRING VALUE>\\\",\\\"Status\\\":\\\"Draft\\\",\\\"SocialNetworkReactions\\\":[{\\\"ContactId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Timestamp\\\":\\\"<ADD STRING VALUE>\\\",\\\"Type\\\":\\\"Like\\\",\\\"Status\\\":\\\"Active\\\"}]}],\\\"SocialNetworkMessages\\\":[{\\\"MessageId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Timestamp\\\":\\\"<ADD STRING VALUE>\\\",\\\"Source\\\":\\\"<ADD STRING VALUE>\\\",\\\"Destination\\\":\\\"<ADD STRING VALUE>\\\",\\\"Content\\\":\\\"<ADD STRING VALUE>\\\",\\\"Status\\\":\\\"Draft\\\",\\\"SocialNetworkReactions\\\":[{\\\"ContactId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Timestamp\\\":\\\"<ADD STRING VALUE>\\\",\\\"Type\\\":\\\"Like\\\",\\\"Status\\\":\\\"Active\\\"}]}],\\\"SocialNetworkContacts\\\":[{\\\"ContactId\\\":\\\"<ADD STRING VALUE>\\\",\\\"Identity\\\":\\\"<ADD STRING VALUE>\\\",\\\"IdentityType\\\":\\\"Mobile\\\",\\\"IdentityStatus\\\":\\\"Pending\\\",\\\"ContactStatus\\\":\\\"Uploaded\\\",\\\"ContactType\\\":\\\"Contact\\\",\\\"IsVerified\\\":false}],\\\"SocialNetworkDeclarations\\\":[{\\\"DeclarationId\\\":\\\"<ADD STRING VALUE>\\\",\\\"DeclarationEl\\\":\\\"<ADD STRING VALUE>\\\",\\\"DeclarationEn\\\":\\\"<ADD STRING VALUE>\\\",\\\"DeclarationType\\\":\\\"Terms\\\",\\\"DeclarationStatus\\\":\\\"Active\\\",\\\"ActionStatus\\\":\\\"Pending\\\",\\\"Timestamp\\\":\\\"<ADD STRING VALUE>\\\",\\\"Order\\\":0}]}]}]}\")



  req, _ := http.NewRequest(\"PUT\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"SandboxID\":\"<ADD STRING VALUE>\",\"Users\":[{\"UserId\":\"<ADD
            STRING VALUE>\",\"Username\":\"<ADD STRING
            VALUE>\",\"ProviderId\":\"<ADD STRING VALUE>\",\"Provider\":\"<ADD
            STRING VALUE>\",\"SocialNetworkId\":\"<ADD STRING
            VALUE>\",\"MemberId\":\"<ADD STRING
            VALUE>\",\"IsAdmin\":false}],\"SocialNetworks\":[{\"SocialNetworkId\":\"<ADD
            STRING VALUE>\",\"SocialNetworkName\":\"<ADD STRING
            VALUE>\",\"SocialNetworkDescription\":\"<ADD STRING
            VALUE>\",\"SocialNetworkOwner\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"SocialNetworkMembers\":[{\"MemberId\":\"<ADD
            STRING VALUE>\",\"ContactId\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"FirstName\":\"<ADD STRING
            VALUE>\",\"LastName\":\"<ADD STRING VALUE>\",\"Alias\":\"<ADD STRING
            VALUE>\",\"Avatar\":\"<ADD STRING
            VALUE>\",\"Gender\":\"Male\",\"BirthDate\":\"<ADD STRING
            VALUE>\",\"IsVerified\":false,\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"SocialNetworkPosts\":[{\"PostId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkMessages\":[{\"MessageId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Source\":\"<ADD STRING VALUE>\",\"Destination\":\"<ADD
            STRING VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkContacts\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"ContactStatus\":\"Uploaded\",\"ContactType\":\"Contact\",\"IsVerified\":false}],\"SocialNetworkDeclarations\":[{\"DeclarationId\":\"<ADD
            STRING VALUE>\",\"DeclarationEl\":\"<ADD STRING
            VALUE>\",\"DeclarationEn\":\"<ADD STRING
            VALUE>\",\"DeclarationType\":\"Terms\",\"DeclarationStatus\":\"Active\",\"ActionStatus\":\"Pending\",\"Timestamp\":\"<ADD
            STRING VALUE>\",\"Order\":0}]}]}]}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D")
              .put(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'PUT',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { SandboxID: '<ADD STRING VALUE>',
                 Users:
                  [ { UserId: '<ADD STRING VALUE>',
                      Username: '<ADD STRING VALUE>',
                      ProviderId: '<ADD STRING VALUE>',
                      Provider: '<ADD STRING VALUE>',
                      SocialNetworkId: '<ADD STRING VALUE>',
                      MemberId: '<ADD STRING VALUE>',
                      IsAdmin: false } ],
                 SocialNetworks:
                  [ { SocialNetworkId: '<ADD STRING VALUE>',
                      SocialNetworkName: '<ADD STRING VALUE>',
                      SocialNetworkDescription: '<ADD STRING VALUE>',
                      SocialNetworkOwner: '<ADD STRING VALUE>',
                      Status: 'Active',
                      SocialNetworkMembers:
                       [ { MemberId: '<ADD STRING VALUE>',
                           ContactId: '<ADD STRING VALUE>',
                           Status: 'Active',
                           FirstName: '<ADD STRING VALUE>',
                           LastName: '<ADD STRING VALUE>',
                           Alias: '<ADD STRING VALUE>',
                           Avatar: '<ADD STRING VALUE>',
                           Gender: 'Male',
                           BirthDate: '<ADD STRING VALUE>',
                           IsVerified: false,
                           Identity: '<ADD STRING VALUE>',
                           IdentityType: 'Mobile',
                           IdentityStatus: 'Pending',
                           SocialNetworkPosts:
                            [ { PostId: '<ADD STRING VALUE>',
                                Timestamp: '<ADD STRING VALUE>',
                                Content: '<ADD STRING VALUE>',
                                Status: 'Draft',
                                SocialNetworkReactions:
                                 [ { ContactId: '<ADD STRING VALUE>',
                                     Timestamp: '<ADD STRING VALUE>',
                                     Type: 'Like',
                                     Status: 'Active' } ] } ],
                           SocialNetworkMessages:
                            [ { MessageId: '<ADD STRING VALUE>',
                                Timestamp: '<ADD STRING VALUE>',
                                Source: '<ADD STRING VALUE>',
                                Destination: '<ADD STRING VALUE>',
                                Content: '<ADD STRING VALUE>',
                                Status: 'Draft',
                                SocialNetworkReactions:
                                 [ { ContactId: '<ADD STRING VALUE>',
                                     Timestamp: '<ADD STRING VALUE>',
                                     Type: 'Like',
                                     Status: 'Active' } ] } ],
                           SocialNetworkContacts:
                            [ { ContactId: '<ADD STRING VALUE>',
                                Identity: '<ADD STRING VALUE>',
                                IdentityType: 'Mobile',
                                IdentityStatus: 'Pending',
                                ContactStatus: 'Uploaded',
                                ContactType: 'Contact',
                                IsVerified: false } ],
                           SocialNetworkDeclarations:
                            [ { DeclarationId: '<ADD STRING VALUE>',
                                DeclarationEl: '<ADD STRING VALUE>',
                                DeclarationEn: '<ADD STRING VALUE>',
                                DeclarationType: 'Terms',
                                DeclarationStatus: 'Active',
                                ActionStatus: 'Pending',
                                Timestamp: '<ADD STRING VALUE>',
                                Order: 0 } ] } ] } ] },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PUT",
              CURLOPT_POSTFIELDS => "{\"SandboxID\":\"<ADD STRING VALUE>\",\"Users\":[{\"UserId\":\"<ADD STRING VALUE>\",\"Username\":\"<ADD STRING VALUE>\",\"ProviderId\":\"<ADD STRING VALUE>\",\"Provider\":\"<ADD STRING VALUE>\",\"SocialNetworkId\":\"<ADD STRING VALUE>\",\"MemberId\":\"<ADD STRING VALUE>\",\"IsAdmin\":false}],\"SocialNetworks\":[{\"SocialNetworkId\":\"<ADD STRING VALUE>\",\"SocialNetworkName\":\"<ADD STRING VALUE>\",\"SocialNetworkDescription\":\"<ADD STRING VALUE>\",\"SocialNetworkOwner\":\"<ADD STRING VALUE>\",\"Status\":\"Active\",\"SocialNetworkMembers\":[{\"MemberId\":\"<ADD STRING VALUE>\",\"ContactId\":\"<ADD STRING VALUE>\",\"Status\":\"Active\",\"FirstName\":\"<ADD STRING VALUE>\",\"LastName\":\"<ADD STRING VALUE>\",\"Alias\":\"<ADD STRING VALUE>\",\"Avatar\":\"<ADD STRING VALUE>\",\"Gender\":\"Male\",\"BirthDate\":\"<ADD STRING VALUE>\",\"IsVerified\":false,\"Identity\":\"<ADD STRING VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"SocialNetworkPosts\":[{\"PostId\":\"<ADD STRING VALUE>\",\"Timestamp\":\"<ADD STRING VALUE>\",\"Content\":\"<ADD STRING VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD STRING VALUE>\",\"Timestamp\":\"<ADD STRING VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkMessages\":[{\"MessageId\":\"<ADD STRING VALUE>\",\"Timestamp\":\"<ADD STRING VALUE>\",\"Source\":\"<ADD STRING VALUE>\",\"Destination\":\"<ADD STRING VALUE>\",\"Content\":\"<ADD STRING VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD STRING VALUE>\",\"Timestamp\":\"<ADD STRING VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkContacts\":[{\"ContactId\":\"<ADD STRING VALUE>\",\"Identity\":\"<ADD STRING VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"ContactStatus\":\"Uploaded\",\"ContactType\":\"Contact\",\"IsVerified\":false}],\"SocialNetworkDeclarations\":[{\"DeclarationId\":\"<ADD STRING VALUE>\",\"DeclarationEl\":\"<ADD STRING VALUE>\",\"DeclarationEn\":\"<ADD STRING VALUE>\",\"DeclarationType\":\"Terms\",\"DeclarationStatus\":\"Active\",\"ActionStatus\":\"Pending\",\"Timestamp\":\"<ADD STRING VALUE>\",\"Order\":0}]}]}]}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"SandboxID\":\"<ADD STRING
            VALUE>\",\"Users\":[{\"UserId\":\"<ADD STRING
            VALUE>\",\"Username\":\"<ADD STRING VALUE>\",\"ProviderId\":\"<ADD
            STRING VALUE>\",\"Provider\":\"<ADD STRING
            VALUE>\",\"SocialNetworkId\":\"<ADD STRING
            VALUE>\",\"MemberId\":\"<ADD STRING
            VALUE>\",\"IsAdmin\":false}],\"SocialNetworks\":[{\"SocialNetworkId\":\"<ADD
            STRING VALUE>\",\"SocialNetworkName\":\"<ADD STRING
            VALUE>\",\"SocialNetworkDescription\":\"<ADD STRING
            VALUE>\",\"SocialNetworkOwner\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"SocialNetworkMembers\":[{\"MemberId\":\"<ADD
            STRING VALUE>\",\"ContactId\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"FirstName\":\"<ADD STRING
            VALUE>\",\"LastName\":\"<ADD STRING VALUE>\",\"Alias\":\"<ADD STRING
            VALUE>\",\"Avatar\":\"<ADD STRING
            VALUE>\",\"Gender\":\"Male\",\"BirthDate\":\"<ADD STRING
            VALUE>\",\"IsVerified\":false,\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"SocialNetworkPosts\":[{\"PostId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkMessages\":[{\"MessageId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Source\":\"<ADD STRING VALUE>\",\"Destination\":\"<ADD
            STRING VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkContacts\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"ContactStatus\":\"Uploaded\",\"ContactType\":\"Contact\",\"IsVerified\":false}],\"SocialNetworkDeclarations\":[{\"DeclarationId\":\"<ADD
            STRING VALUE>\",\"DeclarationEl\":\"<ADD STRING
            VALUE>\",\"DeclarationEn\":\"<ADD STRING
            VALUE>\",\"DeclarationType\":\"Terms\",\"DeclarationStatus\":\"Active\",\"ActionStatus\":\"Pending\",\"Timestamp\":\"<ADD
            STRING VALUE>\",\"Order\":0}]}]}]}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("PUT",
            "/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Put.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"SandboxID\":\"<ADD STRING
            VALUE>\",\"Users\":[{\"UserId\":\"<ADD STRING
            VALUE>\",\"Username\":\"<ADD STRING VALUE>\",\"ProviderId\":\"<ADD
            STRING VALUE>\",\"Provider\":\"<ADD STRING
            VALUE>\",\"SocialNetworkId\":\"<ADD STRING
            VALUE>\",\"MemberId\":\"<ADD STRING
            VALUE>\",\"IsAdmin\":false}],\"SocialNetworks\":[{\"SocialNetworkId\":\"<ADD
            STRING VALUE>\",\"SocialNetworkName\":\"<ADD STRING
            VALUE>\",\"SocialNetworkDescription\":\"<ADD STRING
            VALUE>\",\"SocialNetworkOwner\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"SocialNetworkMembers\":[{\"MemberId\":\"<ADD
            STRING VALUE>\",\"ContactId\":\"<ADD STRING
            VALUE>\",\"Status\":\"Active\",\"FirstName\":\"<ADD STRING
            VALUE>\",\"LastName\":\"<ADD STRING VALUE>\",\"Alias\":\"<ADD STRING
            VALUE>\",\"Avatar\":\"<ADD STRING
            VALUE>\",\"Gender\":\"Male\",\"BirthDate\":\"<ADD STRING
            VALUE>\",\"IsVerified\":false,\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"SocialNetworkPosts\":[{\"PostId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkMessages\":[{\"MessageId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Source\":\"<ADD STRING VALUE>\",\"Destination\":\"<ADD
            STRING VALUE>\",\"Content\":\"<ADD STRING
            VALUE>\",\"Status\":\"Draft\",\"SocialNetworkReactions\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Timestamp\":\"<ADD STRING
            VALUE>\",\"Type\":\"Like\",\"Status\":\"Active\"}]}],\"SocialNetworkContacts\":[{\"ContactId\":\"<ADD
            STRING VALUE>\",\"Identity\":\"<ADD STRING
            VALUE>\",\"IdentityType\":\"Mobile\",\"IdentityStatus\":\"Pending\",\"ContactStatus\":\"Uploaded\",\"ContactType\":\"Contact\",\"IsVerified\":false}],\"SocialNetworkDeclarations\":[{\"DeclarationId\":\"<ADD
            STRING VALUE>\",\"DeclarationEl\":\"<ADD STRING
            VALUE>\",\"DeclarationEn\":\"<ADD STRING
            VALUE>\",\"DeclarationType\":\"Terms\",\"DeclarationStatus\":\"Active\",\"ActionStatus\":\"Pending\",\"Timestamp\":\"<ADD
            STRING VALUE>\",\"Order\":0}]}]}]}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request PUT \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D \
              --header 'accept: application/json' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"SandboxID":"<ADD STRING VALUE>","Users":[{"UserId":"<ADD STRING VALUE>","Username":"<ADD STRING VALUE>","ProviderId":"<ADD STRING VALUE>","Provider":"<ADD STRING VALUE>","SocialNetworkId":"<ADD STRING VALUE>","MemberId":"<ADD STRING VALUE>","IsAdmin":false}],"SocialNetworks":[{"SocialNetworkId":"<ADD STRING VALUE>","SocialNetworkName":"<ADD STRING VALUE>","SocialNetworkDescription":"<ADD STRING VALUE>","SocialNetworkOwner":"<ADD STRING VALUE>","Status":"Active","SocialNetworkMembers":[{"MemberId":"<ADD STRING VALUE>","ContactId":"<ADD STRING VALUE>","Status":"Active","FirstName":"<ADD STRING VALUE>","LastName":"<ADD STRING VALUE>","Alias":"<ADD STRING VALUE>","Avatar":"<ADD STRING VALUE>","Gender":"Male","BirthDate":"<ADD STRING VALUE>","IsVerified":false,"Identity":"<ADD STRING VALUE>","IdentityType":"Mobile","IdentityStatus":"Pending","SocialNetworkPosts":[{"PostId":"<ADD STRING VALUE>","Timestamp":"<ADD STRING VALUE>","Content":"<ADD STRING VALUE>","Status":"Draft","SocialNetworkReactions":[{"ContactId":"<ADD STRING VALUE>","Timestamp":"<ADD STRING VALUE>","Type":"Like","Status":"Active"}]}],"SocialNetworkMessages":[{"MessageId":"<ADD STRING VALUE>","Timestamp":"<ADD STRING VALUE>","Source":"<ADD STRING VALUE>","Destination":"<ADD STRING VALUE>","Content":"<ADD STRING VALUE>","Status":"Draft","SocialNetworkReactions":[{"ContactId":"<ADD STRING VALUE>","Timestamp":"<ADD STRING VALUE>","Type":"Like","Status":"Active"}]}],"SocialNetworkContacts":[{"ContactId":"<ADD STRING VALUE>","Identity":"<ADD STRING VALUE>","IdentityType":"Mobile","IdentityStatus":"Pending","ContactStatus":"Uploaded","ContactType":"Contact","IsVerified":false}],"SocialNetworkDeclarations":[{"DeclarationId":"<ADD STRING VALUE>","DeclarationEl":"<ADD STRING VALUE>","DeclarationEn":"<ADD STRING VALUE>","DeclarationType":"Terms","DeclarationStatus":"Active","ActionStatus":"Pending","Timestamp":"<ADD STRING VALUE>","Order":0}]}]}]}'
    delete:
      tags:
        - Sandbox
      summary: Delete Sandbox
      description: Delete the Sandbox specified by sandbox id.
      operationId: Sandbox_DeleteSandbox
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: sandbox_id
          in: path
          description: Sandbox ID
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D");

            var request = new RestRequest(Method.DELETE);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D\"



  req, _ := http.NewRequest(\"DELETE\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D")
              .delete(null)
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'DELETE',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("DELETE",
            "/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Delete.new(url)

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request DELETE \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json'
  '/sandbox/{sandbox_id}/users':
    post:
      tags:
        - Sandbox
      summary: Create Sandbox User
      description: "Creates Sandbox User.





Sample request:



    POST /sandbox/{sandbox_id}/users

    {

      \"username\": \"user3\",

      \"isAdmin\" : false

    }"
      operationId: Sandbox_CreateSandboxUser
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/CreateUserRequest'
        - name: sandbox_id
          in: path
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BSandboxUser%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"username\":\"<ADD
            STRING VALUE>\",\"isAdmin\":false}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json", "{\"username\":\"<ADD
            STRING VALUE>\",\"isAdmin\":false}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users\"



  payload := strings.NewReader(\"{\\\"username\\\":\\\"<ADD STRING VALUE>\\\",\\\"isAdmin\\\":false}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"username\":\"<ADD STRING VALUE>\",\"isAdmin\":false}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body: { username: '<ADD STRING VALUE>', isAdmin: false },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"username\":\"<ADD STRING VALUE>\",\"isAdmin\":false}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"username\":\"<ADD STRING VALUE>\",\"isAdmin\":false}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"username\":\"<ADD STRING
            VALUE>\",\"isAdmin\":false}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/sandbox/%7Bsandbox_id%7D/users \
              --header 'accept: application/json' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"username":"<ADD STRING VALUE>","isAdmin":false}'
  /SocialActivities/userPost:
    post:
      tags:
        - SocialActivities
      summary: Create Post
      description: "The user has the ability to create a post. This post will be visible by his/her contacts and they will be able to react on it.





Sample request:



    POST /userPost

    {\"payload\":{

        \"socialNetworkId\": \"B3660585-74CA-45CF-BA32-EC3E6C0268E8\",

        \"memberId\": \"FB0475C1-DE25-44C2-AA8F-9661D4C88966\",

        \"content\": \"Good morning!\"

    }}"
      operationId: SocialActivities_userPost
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/Request%5BUserPostRequest%5D'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%5BGenericResponse%5D'
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/socialnetwork/headers/v2.2/SocialActivities/userPost");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "username: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "user_id: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"header\":{\"ID\":\"<ADD STRING VALUE>\",\"application\":\"<ADD
            STRING VALUE>\",\"bank\":\"<ADD STRING
            VALUE>\",\"hostSession\":\"<ADD STRING VALUE>\",\"channel\":\"<ADD
            STRING
            VALUE>\",\"customer\":0,\"logitude\":0,\"latitude\":0,\"go4moreMember\":false,\"TAN\":\"<ADD
            STRING VALUE>\"},\"payload\":{\"content\":\"<ADD STRING
            VALUE>\",\"socialNetworkId\":\"<ADD STRING
            VALUE>\",\"memberId\":\"<ADD STRING VALUE>\"}}");


[...]
