swagger: '2.0'
info:
  title: Payments API
  version: v1.3
  description: >
    ## Functionality at a glance


    Start integrating your application with NBG Bank and enable your customers:
    
    **1.** To get information about:

      1. The list of supported payments and the corresponding commission

      2. Their transaction requests for a specific bank


    **2.** To initiate a Payment via creating a Transaction Request

    
    ## Quick Getting Started
    
    
    1. **Login/Register** to the NBG Technology HUB
    
    2. Go to **"APPS"**
    
    3. Select your Organization and go to step 4. If you want to create a new Organization click **\"CREATE AN ORGANIZATION\"** and follow the steps below:
        1. Enter the title of your Organization
        2. Enter a short description of your Organization (optional)
        3. Click **"SUBMIT"**
        
    4. Select the Organization of choice and click **"ADD AN APPLICATION"** 
          1. Fill in the forms (title and short description)
          2. Check **\"Authorization Code\" and \"Client Credentials\"** 
          3. Enter the **OAuth Redirect and Post Logout URIs** (these are the URIs that we will redirect the user upon logging in and logging out respectively)
              
              You can use the following redirect URL to easily test the API through the portal: *https://developer.nbg.gr/oauth2/redoc-callback*
          4. Click **"SUBMIT"**
          5. Store the APPs **"Client ID"** and **"Client Secret"**
    5. Go to **"API PRODUCTS"** and select the **PAYMENTS API**
    
    6. Click **\"START USING THIS API\"**, choose your app and click
    **"SUBSCRIBE"**
    
    7. Create a Sandbox
    
    8. Play with the API

    ## Create your Sandbox

    Sandboxes are self - contained testing environments that provide a simple
    way of testing the API without any real impact, meaning that no personal or
    financial data is used.


    You can create **your Sandbox** by invoking the **POST** /api/sandbox call.
    This call will generate a new Sandbox with a **unique sandbox_id**.
    

    **_Important!_** Don't lose your sandbox_id, since you will need it for all the
    API calls. Sandbox endpoints are not included in the production version API.


    When you create a sandbox, users and sandbox specific data are generated as sample data.


    The following HTTP header parameters are required for every call (except for
    sandbox operations):

    1.  sandbox_id = the name of the sandbox you created

    2.  application_id = the client id of your app

    3.  user_id = The user id of your sanbox test user

    4.  username = The user name of your sanbox test user

    5.  provider_id = The user-id issued by the provider (NBG.gr)

    6.  provider = The provider name (NBG)



    ## Start Testing

    Once you have your sandbox_id, you can start invoking the rest of the
    operations by providing the mandatory http header * *sandbox_id * 
    *and the other required information on the “_request body payload_”
    (e.g. “userId”).



    ## Important notes

    Request headers

    Each request MUST have the following info:


    *sandbox_id*, *application_id*, *user_id*, *username*, *provider_id*,
    *provider*



    ## SMS Challenge (One Time Password)

    To successfully complete the transaction using the SMS OTP flow, pass the key-value pair **\"tanNumber\":
    \"smsotp\"** to the request, as shown in the sample above. 



    If the request is valid, the response will be **SMSOTP.500** and an SMS
    with the OTP will be sent to the provided phone number. 



    To complete the transaction, repeat the request by replacing the value
    of **\"tanNumber\"** with the **OTP you received**. 



    You have **3** attempts to complete the transaction by using a **wrong OTP**
    and each time you will receive the **SMSOTP.800** error code. If you surpass
    this threshold you will receive the **SMSOTP.400 error code**, which means that
    your user is locked out and is not able to request OTPs until we unlock the account.



    ## Error Codes:

    * NBG-50000: Unknown Error

    * UN-30002: User does not have access to the Owner view

    * RNF-30001: Invalid View Id. Please specify a valid value for VIEW_ID

    * SBX-10002: Sandbox Not Found

    * SBX-10007: Invalid sandboxID

    * SBX-10007: Invalid sandboxID

    * SBX-10010 : Incorrect json format

    * SBX-10002: Sandbox Not Found

    * SBX-90306: Cannot Update Sandbox

    * SBX-10002: Sandbox Not Found

    * SBX-10007: Invalid sandboxID


    ## Feedback and Questions  

    We would love to hear your feedback and answer your questions. Send us at
    [developer@nbg.gr](developer@nbg.gr)


    Check out our [Sandbox Postman
    Collection](https://github.com/myNBGcode/PostmanCollections/tree/master/Payments%20API)!


    ------------------------------------------------------------------------------------------ 


    Created by [**NBG**](https://www.nbg.gr/).


    ------------------------------------------------------------------------------------------ 

    ------------------------------------------------------------------------------------------ 

host: apis.nbg.gr
basePath: /sandbox/obppayment/headers/v1.3
schemes:
  - https
paths:
  '/obp/banks/{bank_id}/accounts/{account_id}/{view_id}/transaction-requests':
    get:
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: bank_id
          in: path
          required: true
          type: string
        - name: account_id
          in: path
          required: true
          type: string
        - name: view_id
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionRequests'
      operationId: Payment_TransactionRequests
      summary: Get Transaction Requests.
      description: "Returns the transaction requests for the account specified by ACCOUNT_ID at the bank specified by BANK_ID.<br /><br />

The specified VIEW_ID must be 'owner' and the user must have access to this view.<br /><br />

Transaction Requests serve to initiate transactions that may or may not proceed. They contain information including:

- Transaction Request Id

- Transaction Request Type

- Status (INITIATED, CANCELLED, COMPLETED)

- Challenge (in order to confirm the request)

- From Bank / Account

- Details including Currency, Value, Description and other initiation information specific to each transaction request type.

- Related Transactions<br /><br />

The customer can proceed with the Transaction by answering the security challenge."
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests");

            var request = new RestRequest(Method.GET);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests\"



  req, _ := http.NewRequest(\"GET\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests")
              .get()
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("GET",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["content-type"] = 'application/json'

            request["request_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["provider_username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request GET \
              --url https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'provider_username: SOME_STRING_VALUE' \
              --header 'request_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE'
  '/obp/banks/{bank_id}/accounts/{account_id}/{view_id}/transaction-requests/{transaction_request_id}/details':
    get:
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: bank_id
          in: path
          required: true
          type: string
        - name: account_id
          in: path
          required: true
          type: string
        - name: view_id
          in: path
          required: true
          type: string
        - name: transaction_request_id
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionRequestEx'
      operationId: Payment_TransactionRequestDetails
      summary: Get Transaction Request Details.
      description: "Returns the transaction request details, when it is COMPLETED, specified by transaction_request_id.<br /><br />

The specified VIEW_ID must be 'owner' and the user must have access to this view.<br /><br />"
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details");

            var request = new RestRequest(Method.GET);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details\"



  req, _ := http.NewRequest(\"GET\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details")
              .get()
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("GET",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["content-type"] = 'application/json'

            request["request_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["provider_username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request GET \
              --url https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-requests/%7Btransaction_request_id%7D/details \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'provider_username: SOME_STRING_VALUE' \
              --header 'request_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE'
  '/obp/banks/{bank_id}/transaction-request-types':
    get:
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: bank_id
          description: Bank ID
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BankTransactionRequestTypes'
      operationId: Payment_TransactionRequestTypesSupportedByTheBank
      summary: Get the Transaction Request Types supported by the bank
      description: Get the list of the Transaction Request Types supported by the bank.
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types");

            var request = new RestRequest(Method.GET);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types\"



  req, _ := http.NewRequest(\"GET\", url, nil)



  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types")
              .get()
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            headers = {
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("GET",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["content-type"] = 'application/json'

            request["request_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["provider_username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request GET \
              --url https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/transaction-request-types \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'provider_username: SOME_STRING_VALUE' \
              --header 'request_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE'
  '/obp/banks/{bank_id}/accounts/{account_id}/{view_id}/transaction-request-types/sepa/transaction-requests/expenses':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/TransactionRequestBodyIban'
          in: body
          required: true
        - name: bank_id
          in: path
          required: true
          type: string
        - name: account_id
          in: path
          required: true
          type: string
        - name: view_id
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetExpensesResponse'
      operationId: Payment_SepaExpenses
      summary: Get Charge Information (SEPA)
      description: "Calculates charges for a SEPA payment and indicates whether a transaction request creates a security challenge or not.

When using a SEPA Transaction Request, you specify the IBAN of a Counterparty in the body of the request.

The routing details (IBAN) of the counterparty will be forwarded to the core banking system for the transfer.



Sample request:

            

    POST / Get Charge Information (SEPA)

    {

        \"to\": {

            \"iban\": \"GR4501457684503004564000103433467\"

        },

        \"charge_policy\": \"SHARED\",

        \"value\": {

            \"currency\": \"EUR\",

            \"amount\": 900

        },

        \"description\": \"METAFORA\"

    }"
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json",
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}",
            ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses\"



  payload := strings.NewReader(\"{\\\"extensions\\\":{\\\"beneficiaryName\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeExpiration\\\":0,\\\"challengeText\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeType\\\":\\\"NONE\\\"},\\\"to\\\":{\\\"iban\\\":\\\"<ADD STRING VALUE>\\\"},\\\"value\\\":{\\\"currency\\\":\\\"<ADD STRING VALUE>\\\",\\\"amount\\\":0},\\\"charge_policy\\\":\\\"<ADD STRING VALUE>\\\",\\\"description\\\":\\\"<ADD STRING VALUE>\\\"}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { extensions:
                  { beneficiaryName: '<ADD STRING VALUE>',
                    challengeExpiration: 0,
                    challengeText: '<ADD STRING VALUE>',
                    challengeType: 'NONE' },
                 to: { iban: '<ADD STRING VALUE>' },
                 value: { currency: '<ADD STRING VALUE>', amount: 0 },
                 charge_policy: '<ADD STRING VALUE>',
                 description: '<ADD STRING VALUE>' },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING VALUE>\"},\"value\":{\"currency\":\"<ADD STRING VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING VALUE>\",\"description\":\"<ADD STRING VALUE>\"}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["request_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["provider_username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests/expenses \
              --header 'accept: application/json' \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'provider_username: SOME_STRING_VALUE' \
              --header 'request_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE' \
              --data '{"extensions":{"beneficiaryName":"<ADD STRING VALUE>","challengeExpiration":0,"challengeText":"<ADD STRING VALUE>","challengeType":"NONE"},"to":{"iban":"<ADD STRING VALUE>"},"value":{"currency":"<ADD STRING VALUE>","amount":0},"charge_policy":"<ADD STRING VALUE>","description":"<ADD STRING VALUE>"}'
  '/obp/banks/{bank_id}/accounts/{account_id}/{view_id}/transaction-request-types/card/transaction-requests/expenses':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/TransactionRequestBodyCard'
          in: body
          required: true
        - name: bank_id
          in: path
          required: true
          type: string
        - name: account_id
          in: path
          required: true
          type: string
        - name: view_id
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetExpensesResponse'
      operationId: Payment_CardExpenses
      summary: Get Charge Information (Credit Card)
      description: >-
        Calculates charges for a Credit Card payment and indicates whether a
        transaction request creates a security challenge or not.
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json",
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses\"



  payload := strings.NewReader(\"{\\\"extensions\\\":{\\\"beneficiaryName\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeExpiration\\\":0,\\\"challengeText\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeType\\\":\\\"NONE\\\"},\\\"to\\\":{\\\"creditCardNumber\\\":\\\"<ADD STRING VALUE>\\\",\\\"bankCode\\\":\\\"<ADD STRING VALUE>\\\"},\\\"value\\\":{\\\"currency\\\":\\\"<ADD STRING VALUE>\\\",\\\"amount\\\":0}}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { extensions:
                  { beneficiaryName: '<ADD STRING VALUE>',
                    challengeExpiration: 0,
                    challengeText: '<ADD STRING VALUE>',
                    challengeType: 'NONE' },
                 to:
                  { creditCardNumber: '<ADD STRING VALUE>',
                    bankCode: '<ADD STRING VALUE>' },
                 value: { currency: '<ADD STRING VALUE>', amount: 0 } },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD STRING VALUE>\",\"bankCode\":\"<ADD STRING VALUE>\"},\"value\":{\"currency\":\"<ADD STRING VALUE>\",\"amount\":0}}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["request_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["provider_username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests/expenses \
              --header 'accept: application/json' \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'provider_username: SOME_STRING_VALUE' \
              --header 'request_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE' \
              --data '{"extensions":{"beneficiaryName":"<ADD STRING VALUE>","challengeExpiration":0,"challengeText":"<ADD STRING VALUE>","challengeType":"NONE"},"to":{"creditCardNumber":"<ADD STRING VALUE>","bankCode":"<ADD STRING VALUE>"},"value":{"currency":"<ADD STRING VALUE>","amount":0}}'
  '/obp/banks/{bank_id}/accounts/{account_id}/{view_id}/transaction-request-types/sepa/transaction-requests':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/TransactionRequestBodyIban'
          in: body
          required: true
        - name: bank_id
          in: path
          required: true
          type: string
        - name: account_id
          in: path
          required: true
          type: string
        - name: view_id
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionRequest'
      operationId: Payment_InitiateIbanRequest
      summary: Create Transaction Request (SEPA)
      description: "Initiate a Payment via creating a Transaction Request. When using a SEPA Transaction Request, you specify the IBAN of a Counterparty in the body of the request.

The routing details (IBAN) of the counterparty will be forwarded to the core banking system for the transfer.



Sample request:

            

    POST / Create Transaction Request (SEPA)

    {

        \"to\": {

            \"iban\": \"GR4501457684503004564000103433467\"

        },

        \"charge_policy\": \"SHARED\",

        \"value\": {

            \"currency\": \"EUR\",

            \"amount\": 900

        },

        \"description\": \"METAFORA\"

    }"
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json",
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}",
            ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests\"



  payload := strings.NewReader(\"{\\\"extensions\\\":{\\\"beneficiaryName\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeExpiration\\\":0,\\\"challengeText\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeType\\\":\\\"NONE\\\"},\\\"to\\\":{\\\"iban\\\":\\\"<ADD STRING VALUE>\\\"},\\\"value\\\":{\\\"currency\\\":\\\"<ADD STRING VALUE>\\\",\\\"amount\\\":0},\\\"charge_policy\\\":\\\"<ADD STRING VALUE>\\\",\\\"description\\\":\\\"<ADD STRING VALUE>\\\"}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { extensions:
                  { beneficiaryName: '<ADD STRING VALUE>',
                    challengeExpiration: 0,
                    challengeText: '<ADD STRING VALUE>',
                    challengeType: 'NONE' },
                 to: { iban: '<ADD STRING VALUE>' },
                 value: { currency: '<ADD STRING VALUE>', amount: 0 },
                 charge_policy: '<ADD STRING VALUE>',
                 description: '<ADD STRING VALUE>' },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING VALUE>\"},\"value\":{\"currency\":\"<ADD STRING VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING VALUE>\",\"description\":\"<ADD STRING VALUE>\"}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Ruby
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["accept"] = 'application/json'

            request["content-type"] = 'application/json'

            request["request_id"] = 'SOME_STRING_VALUE'

            request["application_id"] = 'SOME_STRING_VALUE'

            request["provider_username"] = 'SOME_STRING_VALUE'

            request["provider_id"] = 'SOME_STRING_VALUE'

            request["provider"] = 'SOME_STRING_VALUE'

            request["sandbox_id"] = 'SOME_STRING_VALUE'

            request["client-id"] = 'SOME_APIKEY_VALUE'

            request.body = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"iban\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0},\"charge_policy\":\"<ADD STRING
            VALUE>\",\"description\":\"<ADD STRING VALUE>\"}"


            response = http.request(request)

            puts response.read_body
        - lang: cUrl
          source: |-
            curl --request POST \
              --url https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/sepa/transaction-requests \
              --header 'accept: application/json' \
              --header 'application_id: SOME_STRING_VALUE' \
              --header 'client-id: SOME_APIKEY_VALUE' \
              --header 'content-type: application/json' \
              --header 'provider: SOME_STRING_VALUE' \
              --header 'provider_id: SOME_STRING_VALUE' \
              --header 'provider_username: SOME_STRING_VALUE' \
              --header 'request_id: SOME_STRING_VALUE' \
              --header 'sandbox_id: SOME_STRING_VALUE' \
              --data '{"extensions":{"beneficiaryName":"<ADD STRING VALUE>","challengeExpiration":0,"challengeText":"<ADD STRING VALUE>","challengeType":"NONE"},"to":{"iban":"<ADD STRING VALUE>"},"value":{"currency":"<ADD STRING VALUE>","amount":0},"charge_policy":"<ADD STRING VALUE>","description":"<ADD STRING VALUE>"}'
  '/obp/banks/{bank_id}/accounts/{account_id}/{view_id}/transaction-request-types/card/transaction-requests':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Payment
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/TransactionRequestBodyCard'
          in: body
          required: true
        - name: bank_id
          in: path
          required: true
          type: string
        - name: account_id
          in: path
          required: true
          type: string
        - name: view_id
          in: path
          required: true
          type: string
        - name: request_id
          description: Request ID has to be unique per API call.
          in: header
          required: true
          type: string
        - name: application_id
          description: Application ID
          in: header
          required: true
          type: string
        - name: provider_username
          description: User Name issued by Provider
          in: header
          required: true
          type: string
        - name: provider_id
          description: User ID issued by Provider
          in: header
          required: true
          type: string
        - name: provider
          description: Provider's Name
          in: header
          required: true
          type: string
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionRequest'
      operationId: Payment_InitiateCardRequest
      summary: Create Transaction Request (Card)
      description: "Initiate a Card Payment via creating a Transaction Request.





Sample request:

            

    POST / Create Transaction Request (Card)

    {

        \"to\": {

            \"iban\": \"GR4501457684503004564000103433467\"

        },

        \"charge_policy\": \"SHARED\",

        \"value\": {

            \"currency\": \"EUR\",

            \"amount\": 900

        },

        \"description\": \"METAFORA\"

    }"
      x-code-samples:
        - lang: C
          source: >-
            CURL *hnd = curl_easy_init();


            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");

            curl_easy_setopt(hnd, CURLOPT_URL,
            "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests");


            struct curl_slist *headers = NULL;

            headers = curl_slist_append(headers, "client-id:
            SOME_APIKEY_VALUE");

            headers = curl_slist_append(headers, "sandbox_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider: SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "provider_username:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "application_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "request_id:
            SOME_STRING_VALUE");

            headers = curl_slist_append(headers, "content-type:
            application/json");

            headers = curl_slist_append(headers, "accept: application/json");

            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}");


            CURLcode ret = curl_easy_perform(hnd);
        - lang: 'C#'
          source: >-
            var client = new
            RestClient("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests");

            var request = new RestRequest(Method.POST);

            request.AddHeader("client-id", "SOME_APIKEY_VALUE");

            request.AddHeader("sandbox_id", "SOME_STRING_VALUE");

            request.AddHeader("provider", "SOME_STRING_VALUE");

            request.AddHeader("provider_id", "SOME_STRING_VALUE");

            request.AddHeader("provider_username", "SOME_STRING_VALUE");

            request.AddHeader("application_id", "SOME_STRING_VALUE");

            request.AddHeader("request_id", "SOME_STRING_VALUE");

            request.AddHeader("content-type", "application/json");

            request.AddHeader("accept", "application/json");

            request.AddParameter("application/json",
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}", ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          source: "package main



import (

  \"fmt\"

  \"strings\"

  \"net/http\"

  \"io/ioutil\"

)



func main() {



  url := \"https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests\"



  payload := strings.NewReader(\"{\\\"extensions\\\":{\\\"beneficiaryName\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeExpiration\\\":0,\\\"challengeText\\\":\\\"<ADD STRING VALUE>\\\",\\\"challengeType\\\":\\\"NONE\\\"},\\\"to\\\":{\\\"creditCardNumber\\\":\\\"<ADD STRING VALUE>\\\",\\\"bankCode\\\":\\\"<ADD STRING VALUE>\\\"},\\\"value\\\":{\\\"currency\\\":\\\"<ADD STRING VALUE>\\\",\\\"amount\\\":0}}\")



  req, _ := http.NewRequest(\"POST\", url, payload)



  req.Header.Add(\"accept\", \"application/json\")

  req.Header.Add(\"content-type\", \"application/json\")

  req.Header.Add(\"request_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"application_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_username\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"provider\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"sandbox_id\", \"SOME_STRING_VALUE\")

  req.Header.Add(\"client-id\", \"SOME_APIKEY_VALUE\")



  res, _ := http.DefaultClient.Do(req)



  defer res.Body.Close()

  body, _ := ioutil.ReadAll(res.Body)



  fmt.Println(res)

  fmt.Println(string(body))



}"
        - lang: Java
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}");

            Request request = new Request.Builder()
              .url("https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests")
              .post(body)
              .addHeader("accept", "application/json")
              .addHeader("content-type", "application/json")
              .addHeader("request_id", "SOME_STRING_VALUE")
              .addHeader("application_id", "SOME_STRING_VALUE")
              .addHeader("provider_username", "SOME_STRING_VALUE")
              .addHeader("provider_id", "SOME_STRING_VALUE")
              .addHeader("provider", "SOME_STRING_VALUE")
              .addHeader("sandbox_id", "SOME_STRING_VALUE")
              .addHeader("client-id", "SOME_APIKEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Node
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url:
               'https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests',
              headers:
               { 'client-id': 'SOME_APIKEY_VALUE',
                 sandbox_id: 'SOME_STRING_VALUE',
                 provider: 'SOME_STRING_VALUE',
                 provider_id: 'SOME_STRING_VALUE',
                 provider_username: 'SOME_STRING_VALUE',
                 application_id: 'SOME_STRING_VALUE',
                 request_id: 'SOME_STRING_VALUE',
                 'content-type': 'application/json',
                 accept: 'application/json' },
              body:
               { extensions:
                  { beneficiaryName: '<ADD STRING VALUE>',
                    challengeExpiration: 0,
                    challengeText: '<ADD STRING VALUE>',
                    challengeType: 'NONE' },
                 to:
                  { creditCardNumber: '<ADD STRING VALUE>',
                    bankCode: '<ADD STRING VALUE>' },
                 value: { currency: '<ADD STRING VALUE>', amount: 0 } },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: PHP
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://apis.nbg.gr/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD STRING VALUE>\",\"bankCode\":\"<ADD STRING VALUE>\"},\"value\":{\"currency\":\"<ADD STRING VALUE>\",\"amount\":0}}",
              CURLOPT_HTTPHEADER => array(
                "accept: application/json",
                "application_id: SOME_STRING_VALUE",
                "client-id: SOME_APIKEY_VALUE",
                "content-type: application/json",
                "provider: SOME_STRING_VALUE",
                "provider_id: SOME_STRING_VALUE",
                "provider_username: SOME_STRING_VALUE",
                "request_id: SOME_STRING_VALUE",
                "sandbox_id: SOME_STRING_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("apis.nbg.gr")


            payload = "{\"extensions\":{\"beneficiaryName\":\"<ADD STRING
            VALUE>\",\"challengeExpiration\":0,\"challengeText\":\"<ADD STRING
            VALUE>\",\"challengeType\":\"NONE\"},\"to\":{\"creditCardNumber\":\"<ADD
            STRING VALUE>\",\"bankCode\":\"<ADD STRING
            VALUE>\"},\"value\":{\"currency\":\"<ADD STRING
            VALUE>\",\"amount\":0}}"


            headers = {
                'accept': "application/json",
                'content-type': "application/json",
                'request_id': "SOME_STRING_VALUE",
                'application_id': "SOME_STRING_VALUE",
                'provider_username': "SOME_STRING_VALUE",
                'provider_id': "SOME_STRING_VALUE",
                'provider': "SOME_STRING_VALUE",
                'sandbox_id': "SOME_STRING_VALUE",
                'client-id': "SOME_APIKEY_VALUE"
                }

            conn.request("POST",
            "/sandbox/obppayment/headers/v1.3/obp/banks/%7Bbank_id%7D/accounts/%7Baccount_id%7D/%7Bview_id%7D/transaction-request-types/card/transaction-requests",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


[...]
