openapi: 3.0.1
info:
  title: Account and Transaction API Specification - UK
  description: "## Functionality at a glance\r\n\r\n\r\nStart integrating your application with NBG Bank:\r\n\r\n\r\nAccess the list of user accounts and its information (e.g. beneficiaries,  transactions):\r\n\r\n\r\n* Create the Consent with the appropriate permissions in order to be able to access the API Endpoints\r\n\r\n* Retrieve the list of accounts\r\n\r\n* Retrieve an account's details\r\n\r\n* Retrieve an account's balances\r\n\r\n* Retrieve an account's transactions\r\n\r\n* Retrieve an account's beneficiaries\r\n\r\n* Retrieve an account's standing orders\r\n\r\n* Retrieve an account's party\r\n\r\n* Retrieve an account's scheduled payments\r\n\r\n* Retrieve an account's statements\r\n\r\n\r\nNBG \"Account Information\" API that implements the [UK Open Banking Specification\r\nv3.1.](https://openbanking.atlassian.net/wiki/spaces/DZ/overview?mode=global) \r\n\r\n\r\n## Quick Getting Started\r\n\r\n1. Login/Register to the NBG Technology HUB\r\n\r\n2. Go to APPS and click \"Create New App\"\r\n\r\n3. Go to API PRODUCTS and select an API\r\n\r\n4. Click \"Subscribe\" and choose your app\r\n\r\n5. Get an Access Token using the credentials you signed in as a developer\r\n\r\n6. Create a Sandbox\r\n\r\n7. Play with the API \r\n\r\n\r\n\r\n## Authentication and Authorization (OAuth2)\r\n\r\nThis API version uses the OAuth2 protocol for authentication and authorization, which means that a\r\nBearer (access token) should be acquired. An access token can be retrieved using the client_id and\r\nclient_secret of the APP that you created and subscribed in this API, and your own credentials\r\n(username, password) that you use to sign in the NBG Technology HUB. The scopes are defined below:\r\n\r\n\r\n**Sandbox Scopes:** \r\n\r\n\t  sandbox-uk-account-info-api-v1\r\n\r\n\r\n**Production Scopes:** \r\n\r\n\t  accounts\r\n\r\n\r\n**Authorization Endpoint:** \r\n\r\n\t  https://my.nbg.gr/identity/connect/authorize\r\n\r\n\r\n**Token Endpoint:** \r\n\r\n\t  https://my.nbg.gr/identity/connect/token\r\n\r\n\r\nSee more [here](https://developer.nbg.gr/oauth-document)\r\n\r\n\r\n## SMS Challenge (One Time Password)\r\n\r\nIn order to successfully authorize an Accounts Access you will need to provide the SMS OTP (One Time Password) in the corresponding Accounts Consent UI Screen.\r\n\r\nBy default the SMS OTP will be sent to the mobile number declared upon singing up in the NBG Technology HUB. \r\n\r\n\r\n\r\n## Create your Sandbox\r\n\r\nCreate a new Sandbox application by invoking the POST /sandbox. This call will generate a new Sandbox\r\nwith a unique sandbox-id.\r\n\r\n\r\n__Important!__ Before proceeding save the sandbox id you just created.\r\n\r\n\r\nWhen you create a sandbox, users and sandbox specific data are generated as sample data.\r\n\r\n\r\n## Start Testing\r\n\r\nOnce you have your sandbox-id, you can start invoking the rest of the operations by providing the\r\nmandatory http header **sandbox-id**  and the http headers described below.\r\n\r\n\r\n## Important notes\r\n\r\n\r\n**Request headers**\r\n\r\n\r\nThe following HTTP header parameters are required for every call:\r\n\r\n\r\n1. Authorization. The Auth2 Token\r\n\r\n2. x-fapi-financial-id. The unique id of the ASPSP to which the request is issued (Default: NBG)\r\n\r\n3. sandbox-id. Your Sandbox ID\r\n\r\n\r\n**Consent**\r\n\r\n\r\nIn order to be able to effectively start using the Endpoints the appropriate Consent needs to be\r\ncreated and set to the 'Authorised' status. \r\n\r\n\r\nIn order to create the Consent you need to at least set the required **permissions** and the **Risk**\r\nsections. \r\n\r\n\r\nOptionally you may set the \r\n\r\n\r\n1. ExpirationDateTime. When the Consent expires \r\n\r\n\r\n2. TransactionFromDateTime. Start Date to retrieve the transactions \r\n\r\n\r\n3. TransactionToDateTime. End Date to retrieve the transactions \r\n\r\n\r\n## Error Codes\r\n\r\nThe error codes and their description can be found\r\n[here](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/937656404/Read+Write+Data+API+Specification+-+v3.1#Read/WriteDataAPISpecification-v3.1-ErrorResponseStructure)\r\n\r\n\r\n# UK OPB Implementation Specifics \r\n\r\nBelow you may find more specific information & limitations regarding the implementation followed in the Production API.\r\n\r\n\r\n## Token Endpoint Client Authentication\r\n\r\nAt this point the supported __Client Authentication__ method is \"__Client Secret Basic__\" - usage of \"Client ID\" & \"Client Secret\".\r\n\r\n\r\n## Consent Authorization\r\n\r\nIn order for a PSU to Authorize a Consent, they need to be redirected to the appropriate Consent UI. <br /><br />  In order for this redirection to take place the TPP needs to follow the Authorization Endpoint by ammending the generated \"Consent ID\", like this: https://my.nbg.gr/identity/connect/authorize?consent_id={{consent_id}}\r\n\r\n<br/><br/>\r\nOnce the PSU is redirected to the Consent Authorization Screen, they need to enter their IBank Credentials and either Authorize or Reject the Consent. \r\n<br/><br/> \r\nAt this point the Consent is binded with the PSU.\r\n\r\n## Feedback and Questions\r\n\r\nWe would love to hear your feedback and answer your questions. Send us at\r\n[developer@nbg.gr](developer@nbg.gr)\r\n\r\n\r\nCheck out our [Sandbox Postman\r\nCollection](https://github.com/myNBGcode/PostmanCollections/tree/master/Account%20Information%20-%20UK%20Open%20Banking/)!\r\n\r\n\r\n________________________________________\r\n\r\nCreated by [**NBG**](https://www.nbg.gr/).\r\n"
  version: v3.1.0
servers:
  - url: 'https://apis.nbg.gr/sandbox/uk.openbanking.accountinfo/oauth2/v3.1.0'
paths:
  /account-access-consents:
    post:
      tags:
        - AccountAccess
      summary: Create Account Access Consents
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/json:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
      responses:
        '201':
          description: Account Access Consents Created
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/account-access-consents/{consentId}':
    get:
      tags:
        - AccountAccess
      summary: Get Account Access Consents
      parameters:
        - name: consentId
          in: path
          description: ConsentId
          required: true
          schema:
            type: string
            description: ConsentId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Account Access Consents Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadConsentResponse1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    delete:
      tags:
        - AccountAccess
      summary: Delete Account Access Consents
      parameters:
        - name: consentId
          in: path
          description: ConsentId
          required: true
          schema:
            type: string
            description: ConsentId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Account Access Consents Deleted
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /accounts:
    get:
      tags:
        - Accounts
      summary: Get Accounts
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Accounts Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadAccount3'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadAccount3'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}':
    get:
      tags:
        - Accounts
      summary: Get Accounts
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Accounts Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadAccount3'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadAccount3'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /balances:
    get:
      tags:
        - Balances
      summary: Get Balances
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Balances Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/balances':
    get:
      tags:
        - Balances
      summary: Get Balances
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Balances Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBalance1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /beneficiaries:
    get:
      tags:
        - Beneficiaries
      summary: Get Beneficiaries
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Beneficiaries Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary3'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary3'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/beneficiaries':
    get:
      tags:
        - Beneficiaries
      summary: Get Beneficiaries
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Beneficiaries Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary3'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadBeneficiary3'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /direct-debits:
    get:
      tags:
        - DirectDebits
      summary: Get Direct Debits
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Direct Debits Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/direct-debits':
    get:
      tags:
        - DirectDebits
      summary: Get Direct Debits
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Direct Debits Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadDirectDebit1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /offers:
    get:
      tags:
        - Offers
      summary: Get Offers
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Offers Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadOffer1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadOffer1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/offers':
    get:
      tags:
        - Offers
      summary: Get Offers
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Offers Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadOffer1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadOffer1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /party:
    get:
      tags:
        - Party
      summary: Get Party
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Party Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadParty1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadParty1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/party':
    get:
      tags:
        - Party
      summary: Get Party
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Party Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadParty1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadParty1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /products:
    get:
      tags:
        - Products
      summary: Get Products
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Products Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadProduct2'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadProduct2'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/product':
    get:
      tags:
        - Products
      summary: Get Products
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Products Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadProduct2'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadProduct2'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /sandbox:
    post:
      tags:
        - Sandbox
      summary: Create Sandbox
      requestBody:
        description: SandboxRequest
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SandboxRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxRequest'
      responses:
        '201':
          description: Created
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Sandbox'
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    put:
      tags:
        - Sandbox
      summary: Import Sandbox
      requestBody:
        description: Sandbox
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/Sandbox'
          application/json:
            schema:
              $ref: '#/components/schemas/Sandbox'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/sandbox/{sandboxId}':
    get:
      tags:
        - Sandbox
      summary: Get Sandbox
      parameters:
        - name: sandboxId
          in: path
          description: Sandbox Id
          required: true
          schema:
            type: string
            description: Sandbox Id
            nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Sandbox'
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
    delete:
      tags:
        - Sandbox
      summary: Delete Sandbox
      parameters:
        - name: sandboxId
          in: path
          description: Sandbox Id
          required: true
          schema:
            type: string
            description: Sandbox Id
            nullable: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /scheduled-payments:
    get:
      tags:
        - ScheduledPayments
      summary: Get Scheduled Payments
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scheduled Payments Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment2'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment2'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/scheduled-payments':
    get:
      tags:
        - ScheduledPayments
      summary: Get Scheduled Payments
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scheduled Payments Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment2'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadScheduledPayment2'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /standing-orders:
    get:
      tags:
        - StandingOrders
      summary: Get Standing Orders
      parameters:
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Standing Orders Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder4'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder4'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/standing-orders':
    get:
      tags:
        - StandingOrders
      summary: Get Standing Orders
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Standing Orders Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder4'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadStandingOrder4'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  /statements:
    get:
      tags:
        - Statements
      summary: Get Statements
      parameters:
        - name: fromStatementDateTime
          in: query
          description: 'The UTC ISO 8601 Date Time to filter statements FROM NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
          schema:
            type: string
            description: 'The UTC ISO 8601 Date Time to filter statements FROM NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
            format: date-time
            nullable: true
        - name: toStatementDateTime
          in: query
          description: 'The UTC ISO 8601 Date Time to filter statements TO NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
          schema:
            type: string
            description: 'The UTC ISO 8601 Date Time to filter statements TO NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
            format: date-time
            nullable: true
        - name: x-fapi-financial-id
          in: header
          description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
          required: true
          schema:
            type: string
            default: NBG
        - name: x-fapi-customer-last-logged-time
          in: header
          description: |-
            The time when the PSU last logged in with the TPP. 
            All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
            Sun, 10 Sep 2017 19:43:31 UTC
          schema:
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
          required: true
          schema:
            type: string
            default: 'Bearer '
        - name: x-customer-user-agent
          in: header
          description: Indicates the user-agent that the PSU is using.
          schema:
            type: string
        - name: client-id
          in: header
          description: Application's Id ( sandbox only )
          required: true
          schema:
            type: string
        - name: sandbox-id
          in: header
          description: The unique id of the sandbox to be used
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Statements Read
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id
              schema:
                type: string
                description: An RFC4122 UID used as a correlation id
                format: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBReadStatement1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBReadStatement1'
        '400':
          description: Bad request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Number in seconds to wait
              schema:
                type: integer
                description: Number in seconds to wait
                format: ''
        '500':
          description: Internal Server Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
            application/json:
              schema:
                $ref: '#/components/schemas/OBErrorResponse1'
  '/accounts/{accountId}/statements':
    get:
      tags:
        - Statements
      summary: Get Statements
      parameters:
        - name: accountId
          in: path
          description: AccountId
          required: true
          schema:
            type: string
            description: AccountId
            nullable: true
        - name: fromStatementDateTime
          in: query
          description: 'The UTC ISO 8601 Date Time to filter statements FROM NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
          schema:
            type: string
            description: 'The UTC ISO 8601 Date Time to filter statements FROM NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
            format: date-time
            nullable: true
        - name: toStatementDateTime
          in: query
          description: 'The UTC ISO 8601 Date Time to filter statements TO NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.'
          schema:
            type: string
[...]
